<div class="container">
    <h2 class="text-center">Detalle de Servicio Actividad</h2>
    <button mat-raised-button color="primary" [routerLink]="['/auth/configurations/service-detail-activity']">Volver</button>
    <hr>
    <mat-card>
      <mat-list>
        <mat-list-item> <b>ID: </b> 1</mat-list-item>
          <mat-list-item> <b>Detalle de Servicio:</b> Reparación de cocina</mat-list-item>
          <mat-list-item> <b>Actividad:</b> Limpieza de Hornilla</mat-list-item>
          <mat-list-item> <b>Fecha de Creación:</b> 04/07/2019 </mat-list-item>
          <mat-list-item> <b>Tiempo Estimado:</b> 2 Horas</mat-list-item>
          <mat-list-item> <b>Grado de Dificultad:</b> Bajo</mat-list-item>
      </mat-list>
    </mat-card>
  </div>