<div class="container">
	<h2 class="text-center">Parametro de Clientes</h2>
	<button mat-raised-button color="primary" [routerLink]="['/auth/configurations/parameter-client']">Volver</button>
	<hr>
	<mat-card>
		<mat-list>
			<mat-list-item> <b>ID: </b> 1</mat-list-item>
		    <mat-list-item> <b>Nombre:</b> Tiempo</mat-list-item>
		    <mat-list-item> <b>Descripción:</b> Ser atendido en el menor tiempo posible</mat-list-item>
		    <mat-list-item> <b>Estatus:<span class="badge badge-primary"> Activo</span></b></mat-list-item>
		</mat-list>
	</mat-card>
</div>
