<div class="container">
	<h2 *ngIf="user" class="text-center">Rol</h2>
	<button mat-raised-button color="primary" (click)="goBack()" matTooltip="Volver" matTooltipPosition="above"><mat-icon>arrow_back</mat-icon></button>
	<hr>
	<div *ngIf="role">
  
	  <div class="row">
		<div class="col-sm-12">
		  <table mat-table [dataSource]="dataSourceR" class="mat-elevation-z8">
  
			<ng-container matColumnDef="name">
				<th mat-header-cell *matHeaderCellDef> Nombre </th>
				<td mat-cell *matCellDef="let row"> {{row.name}} </td>
			</ng-container>

			<ng-container matColumnDef="description">
				<th mat-header-cell *matHeaderCellDef> Descripcion </th>
				<td mat-cell *matCellDef="let row"> {{row.description}}</td>
			</ng-container>

			<ng-container matColumnDef="status">
				<th mat-header-cell *matHeaderCellDef> Estatus </th>
				<td mat-cell *matCellDef="let row">
					<span *ngIf="row.status=='active'" class="badge badge-success">{{row.status | titlecase}}</span>
					<span *ngIf="row.status=='deleted'" class="badge badge-danger">{{row.status | titlecase}}</span>
				</td>
			</ng-container>
  
			<tr mat-header-row *matHeaderRowDef="displayedColumnsR"></tr>
			<tr mat-row *matRowDef="let row; columns: displayedColumnsR;"></tr>
		  </table>
		</div>
	  </div>
  
	  <br>
  
	  <div class="row">
		<div class="col-sm-12">
		  <h2 class="text-center">Funciones</h2>
		</div>
	  </div>
  
	  <hr>
  
	  <div *ngIf="functions">
  
		<div class="row">
		  <div class="col-sm-12">
			<mat-form-field>
			  <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Buscar">
			</mat-form-field>
		  </div>
		</div>
  
		<div class="row">
		  <div class="col-sm-12">
			<div class="mat-elevation-z8">
  
			  <div *ngIf="functions.length<=0 && !failedConect">
				<div class="row">
				  <div class="col-sm-12">
					<h3 class="text-center mt-3 mb-3">Este Rol no tiene funciones asociadas</h3>
				  </div>
				</div>
			  </div>
  
  
			  <table *ngIf="functions.length>0" mat-table [dataSource]="dataSource">
  
          <ng-container matColumnDef="title">
            <th mat-header-cell *matHeaderCellDef> Título </th>
            <td mat-cell *matCellDef="let row"> {{row.title}} </td>
          </ng-container>
    
          <ng-container matColumnDef="entity">
            <th mat-header-cell *matHeaderCellDef> Entidad </th>
            <td mat-cell *matCellDef="let row"> {{row.entity}}</td>
          </ng-container>

          <ng-container matColumnDef="action">
            <th mat-header-cell *matHeaderCellDef> Acción </th>
            <td mat-cell *matCellDef="let row"> {{row.action}}</td>
          </ng-container>

          <ng-container matColumnDef="url">
            <th mat-header-cell *matHeaderCellDef> Url </th>
            <td mat-cell *matCellDef="let row"> {{row.url}}</td>
          </ng-container>
  
				<tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
				<tr mat-row *matRowDef="let row; columns: displayedColumns;">
				</tr>
			  </table>
  
			 
			</div>
		  </div>
		</div>
	  </div>

	</div>
  
  
  
  </div>