<div class="main_catalogue">
    <h2 class="text-center">Nuevo Actividad</h2>
    <button mat-raised-button color="primary" [routerLink]="['/auth/masters/activity']">Volver</button>
    <hr>
  
    <div class="example-container">
      <mat-form-field>
        <input matInput placeholder="Nombre">
      </mat-form-field>
      
      <mat-form-field>
          <textarea matInput placeholder="Descripción"></textarea>
       </mat-form-field>
  
    </div>
  
    <button mat-raised-button color="primary" [routerLink]="['/auth/masters/activity/create']">Registrar</button>
  
  </div>