<div class="container">
	<h2 class="text-center">Empleado</h2>
	<button mat-raised-button color="primary" [routerLink]="['/auth/masters/worker']">Volver</button>
	<hr>
	<mat-card>
		<mat-list>
			<mat-list-item> <b>ID: </b> 1</mat-list-item>
		 	<mat-list-item> <b>Nombre: </b> María</mat-list-item>
		 	<mat-list-item> <b>Apellido: </b> Ramos</mat-list-item>
		 	<mat-list-item> <b>Usuario: </b> maria@gmail.com</mat-list-item>
		 	<mat-list-item> <b>Tipo de Dni: </b> Cédula de Identidad</mat-list-item>
			<mat-list-item> <b>Dni: </b> 24.537.115</mat-list-item>
			<mat-list-item> <b>Género: </b> Femenino</mat-list-item>
			<mat-list-item> <b>Fecha de Nacimiento: </b> 01/02/1995</mat-list-item>
		 	<mat-list-item> <b>Nota: </b> Buen Empleado</mat-list-item>
       		<mat-list-item> <b>Estatus:<span class="badge badge-primary"> Activo</span></b></mat-list-item>
		</mat-list>
	</mat-card>

</div>