 <div class="container">
 	<div class="row">
 		<div class="col-sm-12">
 			<h2 class="text-center">Actividades</h2>
 		</div>
 	</div>
 	<div class="row">
		<div class="col-sm-12">
			<button mat-raised-button matTooltip="Nueva Actividad" matTooltipPosition="above" color="primary" class="mr-3" [routerLink]="['/auth/admin/configurations/service/activity/create']"><mat-icon>add</mat-icon></button>
			<button mat-raised-button matTooltip="Volver" matTooltipPosition="above" color="primary" [routerLink]="['/auth/admin/configurations/service/']"><mat-icon>arrow_back</mat-icon></button>
		</div>
	</div>
	<hr>
 	<div *ngIf="activities">
 	<div class="row">
 		<div class="col-sm-12">
 			<mat-form-field>
 				<input matInput (keyup)="applyFilter($event.target.value)" placeholder="Buscar">
 			</mat-form-field>
 		</div>
 	</div>
 	
 	<div class="row">
 		<div class="col-sm-12">
 			<div class="mat-elevation-z8">

					<div *ngIf="activities.length<=0 && !failedConect">
							<div class="row">
								<div class="col-sm-12">
									<h3 class="text-center mt-3 mb-3">{{message}}</h3>
								</div>
							</div>
						</div>
	
				 <table *ngIf="activities.length>0" mat-table [dataSource]="dataSource" matSort>
 					<ng-container matColumnDef="id">
 						<th mat-header-cell *matHeaderCellDef mat-sort-header></th>
 						<td mat-cell *matCellDef="let row">
 							<button mat-icon-button color="accent" [routerLink]="['/auth/admin/configurations/service/activity/show/', row.id]" matTooltip="Ver" matTooltipPosition="above">
 								<mat-icon>remove_red_eye</mat-icon>
 							</button>
 						</td>
 					</ng-container>

 					<ng-container matColumnDef="name">
 						<th mat-header-cell *matHeaderCellDef mat-sort-header> Nombre </th>
 						<td mat-cell *matCellDef="let row"> {{row.name}} </td>
					 </ng-container>
				
					 <ng-container matColumnDef="description">
						<th mat-header-cell *matHeaderCellDef mat-sort-header> Descripción </th>
						<td mat-cell *matCellDef="let row"> {{row.description}}</td>
					</ng-container>
					 
					 <ng-container matColumnDef="estimatedTime">
						<th mat-header-cell *matHeaderCellDef mat-sort-header>Tiempo en días</th>
						<td mat-cell *matCellDef="let row"> {{row.estimatedTime}} </td>
					</ng-container>


 					<ng-container matColumnDef="difficultyDegree">
 						<th mat-header-cell *matHeaderCellDef mat-sort-header>Grado</th>
 						<td mat-cell *matCellDef="let row"> {{row.difficultyDegree}} </td>
 					</ng-container>

					 

 					<ng-container matColumnDef="status">
							<th mat-header-cell *matHeaderCellDef mat-sort-header> Estatus </th>
							<td mat-cell *matCellDef="let row">
								<span *ngIf="row.status=='active'" class="badge badge-success">{{row.status | titlecase}}</span>
								<span *ngIf="row.status=='deleted'" class="badge badge-danger">{{row.status | titlecase}}</span>
							</td>
					</ng-container> 
 					
 					<ng-container matColumnDef="edit">
 						<th mat-header-cell *matHeaderCellDef></th>
 						<td mat-cell *matCellDef="let row">
 							<button mat-icon-button color="accent" [routerLink]="['/auth/admin/configurations/service/activity/edit/', row.id]" matTooltip="Editar" matTooltipPosition="above">
 								<mat-icon>edit</mat-icon>
 							</button>
 						</td>
 					</ng-container>
 					
 					<ng-container matColumnDef="delete">
 						<th mat-header-cell *matHeaderCellDef></th>
 						<td mat-cell *matCellDef="let row">
 							<button mat-icon-button color="warn" (click)="onDelete(row.id)" matTooltip="Eliminar" matTooltipPosition="above">
 								<mat-icon>delete</mat-icon>
 							</button>
 						</td>
 					</ng-container>
 					
 					<tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
 					<tr mat-row *matRowDef="let row; columns: displayedColumns;">
 					</tr>
 				</table>
 				
 				<mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
 			</div>
 		</div>
	  </div>
	</div>
 </div>