<div class="main_dashboard main_admin">
	<div class="container">
		<div class="row">
			<div class="col-sm-12">
				<h2 class="text-center">Servicios</h2>
			</div>
		</div>
		
		<hr>

		<div class="row">
			<div class="col-sm-12">
				<div class="row">
					<div class="col-md-3">
						<a [routerLink]="['component']">
							<mat-card class="servicio">
								<mat-card-header class="titulo mat-card-header-primary">
									<mat-card-title>Componentes</mat-card-title>
								</mat-card-header>
								<mat-card-content class="mat_card_content">
									<div class="row">
										<div class="col-sm-12">
											Registro de componentes para los servicios.
										</div>
									</div>
								</mat-card-content>
							</mat-card>
						</a>
					</div>
					<div class="col-md-3">
						<a [routerLink]="['activity']">
							<mat-card class="servicio">
								<mat-card-header class="titulo mat-card-header-primary">
									<mat-card-title>Actividades</mat-card-title>
								</mat-card-header>
								<mat-card-content class="mat_card_content">
									<div class="row">
										<div class="col-sm-12">
											Registro de actividades para los servicios.
										</div>
									</div>
								</mat-card-content>
							</mat-card>
						</a>
					</div>

					<div class="col-md-3">
						<a [routerLink]="['politic']">
							<mat-card class="servicio">
								<mat-card-header class="titulo mat-card-header-primary">
									<mat-card-title>Políticas</mat-card-title>
								</mat-card-header>
								<mat-card-content class="mat_card_content">
									<div class="row">
										<div class="col-sm-12">
											Registro de políticas para los servicios.
										</div>
									</div>
								</mat-card-content>
							</mat-card>
						</a>
					</div>

					<div class="col-md-3">
						<a [routerLink]="['resource']">
							<mat-card class="servicio">
								<mat-card-header class="titulo mat-card-header-primary">
									<mat-card-title>Recursos</mat-card-title>
								</mat-card-header>
								<mat-card-content class="mat_card_content">
									<div class="row">
										<div class="col-sm-12">
											Registro de recursos necesarios para los servicios.
										</div>
									</div>
								</mat-card-content>
							</mat-card>
						</a>
					</div>

					<div class="col-md-3">
						<a [routerLink]="['skill']">
							<mat-card class="servicio">
								<mat-card-header class="titulo mat-card-header-primary">
									<mat-card-title>Habilidades</mat-card-title>
								</mat-card-header>
								<mat-card-content class="mat_card_content">
									<div class="row">
										<div class="col-sm-12">
											Registro de habilidades requeridas para los servicios.
										</div>
									</div>
								</mat-card-content>
							</mat-card>
						</a>
					</div>
					
					
				</div>
			</div>
		</div>
	</div>
</div>