<p>
  service-details works!
</p>
<mat-nav-list>
	<a mat-list-item [routerLink]="['/auth/configurations/']">Regresar </a>
	<a mat-list-item [routerLink]="['/auth/configurations/service-detail/create']">Create </a>
	<a mat-list-item [routerLink]="['/auth/configurations/service-detail/edit/1']">Edit </a>
	<a mat-list-item [routerLink]="['/auth/configurations/service-detail/show/1']">Show </a>
	<a mat-list-item [routerLink]="['/auth/configurations/service-detail/delete/1']">Delete </a>
</mat-nav-list>