a{
	cursor:pointer;
	color:#D13232 !important;
}
a:hover{
	color: red !important;
}

.addLocation,.addPhone{
	color: #283593 !important;
}

.addLocation:hover,.addPhone:hover{
	color: blue !important;
}