<div class="main_profile">
	<div class="container-fluid">
		<div class="row">
			<div class="col-sm-12">
				<div class="pz bpi afo">
					<div class="qf"></div>
					<div class="row">
						<div class="col-sm-12">
							<div class="qa avz">
								<img  class="bpj" src="../../../../../../assets/img/profile/avatar.png" alt="..."/>
								<h2 class="qb">
									<h3>Carlos Colmenarez</h3>
									<h6>Cliente</h6>
								</h2>
								<div class="row justify-content-center">
									<button mat-raised-button color="accent" [routerLink]="['/auth/profile']">
										<mat-icon>photo_library</mat-icon>
										Cambiar Foto de Perfil
									</button>
								</div>
								<br>
							</div>
						</div>
					</div>
	
					<div class="row box">
						<div class="col-sm-12">
							<h3 class="title">Datos del Cliente</h3>
							<mat-list>
								<mat-list-item> <b>ID: </b>1</mat-list-item>
								<mat-list-item> <b>Nombre: </b>Anderson </mat-list-item>
								<mat-list-item> <b>Apellido: </b>Diaz </mat-list-item>
								<mat-list-item> <b>Tipo de Dni: </b>Cédula </mat-list-item>
								<mat-list-item> <b>Dni: </b>123456789 </mat-list-item>
								<mat-list-item> <b>Genero: </b>Masculino </mat-list-item>
								<mat-list-item> <b>Tipo de Télefono: </b>Móvil </mat-list-item>
								<mat-list-item> <b>Telefono: </b>04244565432 </mat-list-item>
								<mat-list-item> <b>Fecha de Nacimiento: </b>31/01/1990 </mat-list-item>
								<mat-list-item> <b>Pais: </b>Venezuela</mat-list-item>
								<mat-list-item> <b>Estado: </b>Lara </mat-list-item>
								<mat-list-item> <b>Ciudad: </b>Barquisimeto </mat-list-item>
								<mat-list-item> <b>Código Postal: </b>3000 </mat-list-item>
								<mat-list-item> <b>Direccion: </b>Calle San Rafael </mat-list-item>
							</mat-list>
						</div>
					</div>
	
				</div>
			</div>
		</div>
	</div>
</div>