<div class="main_catalogue">
    <h2 class="text-center">Catálogo</h2>
    <button mat-raised-button color="primary" [routerLink]="['/auth/configurations/catalogue-variety-detail']">Volver</button>
    <hr>
    <mat-card>
      <mat-list>
        <mat-list-item> <b>Codigo: </b> </mat-list-item>
         <mat-list-item> <b>Catálogo: </b> </mat-list-item>
         <mat-list-item> <b>Detalle variedad: </b></mat-list-item>
         <mat-list-item> <b>Estatus: </b> </mat-list-item>
         <mat-list-item> <b>Precio revisión: </b> </mat-list-item>
      </mat-list>
    </mat-card>
  
  </div>