
<div class="main_promotion">
	<h2 class="text-center">Promoción</h2>
	<button mat-raised-button color="primary" [routerLink]="['/auth/admin/configurations/parameter/promotion']">Volver</button>
	<hr>
	<mat-card>
		<mat-list>
			<mat-list-item> <b>Código: </b> 1 </mat-list-item>
		 	<mat-list-item> <b>Nombre: </b> Descuento Mes de las madres </mat-list-item>
			<mat-list-item> <b>Descripción: </b> Descuento por el mes de mayo en el mantenimiento de Neveras</mat-list-item>
			<mat-list-item> <b>Descuento: </b>15%</mat-list-item>
      		<mat-list-item> <b>Subcategoría: </b>Nevera</mat-list-item>
      		<mat-list-item> <b>Fecha de creación: </b>07-08-2019</mat-list-item>
      		<mat-list-item> <b>Fecha de inicio: </b>01-05-2020</mat-list-item>
      		<mat-list-item> <b>Fecha de finalización: </b>31-05-2020<</mat-list-item>
      		<mat-list-item> <b>Imagen: </b> url1 </mat-list-item>
			<mat-list-item> <b>Estatus:<span class="badge badge-primary">Activo</span> </b> </mat-list-item>
		
		</mat-list>
	</mat-card>

</div>