<div class="container">
    <h2 class="text-center">Detalle de Servicio por Catálogo y Detalle de Variedad</h2>
    <button mat-raised-button color="primary" [routerLink]="['/auth/configurations/service-detail-catalogue-variety-detail']">Volver</button>
    <hr>
    <mat-card>
      <mat-list>
        <mat-list-item> <b>ID: </b> 1</mat-list-item>
        <mat-list-item> <b>Detalle de Variedad:</b> Variedad 1</mat-list-item>
        <mat-list-item> <b>Detalle de Servicio:</b> Reparación de cocina</mat-list-item>
        <mat-list-item> <b>Estatus:<span class="badge badge-primary"> Activo</span></b></mat-list-item>
      </mat-list>
    </mat-card>
  </div>