<div class="main_variety">
	<div class="container">
		<div class="row">
			<div class="col-sm-12">
				<h2 class="text-center">Seleccione Variedad del Equipo</h2>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-12">
				<button mat-raised-button color="primary" [routerLink]="['/auth/client/request/equip/']">Volver</button>
			</div>
		</div>
		<hr>
		<div class="row">
			<div class="col-sm-4 offset-sm-4">
				<mat-form-field>
					<mat-label>Marca</mat-label>
					<mat-select>
						<mat-option>
							LG
						</mat-option>
						<mat-option>
							Samsung
						</mat-option>
						<mat-option>
							Sony
						</mat-option>
						<mat-option>
							Huawei
						</mat-option>
						<mat-option>
							Toshiba
						</mat-option>
						<mat-option>
							Haier
						</mat-option>
						<mat-option>
							Otro
						</mat-option>
					</mat-select>
				</mat-form-field>
				<mat-form-field>
					<mat-label>Modelo</mat-label>
					<mat-select>
						<mat-option>
							MMDD
						</mat-option>
						<mat-option>
							MM0011
						</mat-option>
						<mat-option>
							S222
						</mat-option>
						<mat-option>
							GT-222
						</mat-option>
						<mat-option>
							GL-00000
						</mat-option>
						<mat-option>
							Otro
						</mat-option>
					</mat-select>
				</mat-form-field>
				<div class="row">
		          <div class="col-sm-12">
		            <button mat-raised-button color="primary" [routerLink]="['/auth/client/request/sheet']">Siguiente</button>
		          </div>
		        </div>
			</div>
		</div>
	</div>
</div>