<div class="container">
    <h2 class="text-center">Variedad por Equipos/Infraestructuras</h2>
    <button mat-raised-button color="primary" [routerLink]="['/auth/admin/configurations/equipinfras/variety-equipinfras']">Volver</button>
    <hr>
    <mat-card>
      <mat-list>
        <mat-list-item> <b>ID: </b> 1</mat-list-item>
        <mat-list-item> <b>Variedad: </b> Silensis-Cerapy</mat-list-item>
        <mat-list-item> <b>Equipos/Infraestructuras: </b> Pared</mat-list-item>
        <mat-list-item> <b>Nombre: </b> Pared</mat-list-item>
        <mat-list-item> <b>Descripción: </b> Pared de ladrillo</mat-list-item>
        <mat-list-item> <b>Estatus:<span class="badge badge-primary"> Activo</span></b></mat-list-item>
      </mat-list>
    </mat-card>
</div>