<div class="main_dashboard main_admin">
	<div class="container">

		<div class="row">
			<div class="col-sm-12">
				<h2 class="text-center">Catálogos</h2>
			</div>
		</div>

		<hr>

		<div class="row">
			<div class="col-sm-12">
				<div class="row">
					<div class="col-md-3">
						<a [routerLink]="['category']">
							<mat-card class="servicio">
								<mat-card-header class="titulo mat-card-header-primary">
									<mat-card-title>Categorías</mat-card-title>
								</mat-card-header>
								<mat-card-content class="mat_card_content">
									<div class="row">
										<div class="col-sm-12">
											Registro de las categorías generales de los servicios, equipos e infrastructura.
										</div>
									</div>
								</mat-card-content>
							</mat-card>
						</a>
					</div>
					<div class="col-md-3">
						<a [routerLink]="['sub-category']">
							<mat-card class="servicio">
								<mat-card-header class="titulo mat-card-header-primary">
									<mat-card-title>Subcategorías</mat-card-title>
								</mat-card-header>
								<mat-card-content class="mat_card_content">
									<div class="row">
										<div class="col-sm-12">
											Registro de subcategorías de los servicios pertenencientes a una categoría.
										</div>
									</div>
								</mat-card-content>
							</mat-card>
						</a>
					</div>
					<div class="col-md-3">
						<a [routerLink]="['equip-infras']">
							<mat-card class="servicio">
								<mat-card-header class="titulo mat-card-header-primary">
									<mat-card-title>Equipo/Infraestructura</mat-card-title>
								</mat-card-header>
								<mat-card-content class="mat_card_content">
									<div class="row">
										<div class="col-sm-12">
											Registro de Equipos e infraestructura pertenecientes a una subcategoría.
										</div>
									</div>
								</mat-card-content>
							</mat-card>
						</a>
					</div>
					<div class="col-md-3">
						<a [routerLink]="['variety']">
							<mat-card class="servicio">
								<mat-card-header class="titulo mat-card-header-primary">
									<mat-card-title>Variedad</mat-card-title>
								</mat-card-header>
								<mat-card-content class="mat_card_content">
									<div class="row">
										<div class="col-sm-12">
											Registro de marcas pertenencientes a un Equipo e Infraestructura.
										</div>
									</div>
								</mat-card-content>
							</mat-card>
						</a>
					</div>
					
				</div>
			</div>
		</div>
	</div>
</div>