<div class="main_dashboard main_admin">
	<div class="container">

		<div class="row">
			<div class="col-sm-12">
				<h2 class="text-center">Catálogos</h2>
			</div>
		</div>
		
		<div class="row">
			<div class="col-sm-12">
				<button mat-raised-button color="primary" [routerLink]="['/auth/admin/configurations']">Volver</button>
			</div>
		</div>
		<hr>

		<div class="row">
			<div class="col-sm-12">
				<div class="row">
					<div class="col-md-3">
						<a [routerLink]="['category']">
							<mat-card class="servicio">
								<mat-card-header class="titulo mat-card-header-primary">
									<mat-card-title>Categorías</mat-card-title>
								</mat-card-header>
								<mat-card-content class="mat_card_content">
									<div class="row">
										<div class="col-sm-12">
											Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
											tempor incididunt ut labore et dolore magna aliqua.
										</div>
									</div>
								</mat-card-content>
							</mat-card>
						</a>
					</div>
					<div class="col-md-3">
						<a [routerLink]="['sub-category']">
							<mat-card class="servicio">
								<mat-card-header class="titulo mat-card-header-primary">
									<mat-card-title>Subcategorías</mat-card-title>
								</mat-card-header>
								<mat-card-content class="mat_card_content">
									<div class="row">
										<div class="col-sm-12">
											Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
											tempor incididunt ut labore et dolore magna aliqua.
										</div>
									</div>
								</mat-card-content>
							</mat-card>
						</a>
					</div>
					<div class="col-md-3">
						<a [routerLink]="['equip-infras']">
							<mat-card class="servicio">
								<mat-card-header class="titulo mat-card-header-primary">
									<mat-card-title>Equipos e Infraestructuras</mat-card-title>
								</mat-card-header>
								<mat-card-content class="mat_card_content">
									<div class="row">
										<div class="col-sm-12">
											Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
											tempor incididunt ut labore et dolore magna aliqua.
										</div>
									</div>
								</mat-card-content>
							</mat-card>
						</a>
					</div>
					<div class="col-md-3">
						<a [routerLink]="['variety']">
							<mat-card class="servicio">
								<mat-card-header class="titulo mat-card-header-primary">
									<mat-card-title>Variedad</mat-card-title>
								</mat-card-header>
								<mat-card-content class="mat_card_content">
									<div class="row">
										<div class="col-sm-12">
											Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
											tempor incididunt ut labore et dolore magna aliqua.
										</div>
									</div>
								</mat-card-content>
							</mat-card>
						</a>
					</div>
					
				</div>
			</div>
		</div>
	</div>
</div>