<div class="main_catalogue">
	<h2 class="text-center">Nuevo Catálogo</h2>
	<button mat-raised-button color="primary" [routerLink]="['/auth/configurations/catalogue']">Volver</button>
	<hr>

	<div class="example-container">
		<mat-form-field>
			<input matInput placeholder="Input">
		</mat-form-field>

		<mat-form-field>
			<textarea matInput placeholder="Textarea"></textarea>
		</mat-form-field>

		<mat-form-field>
			<mat-select placeholder="Select">
				<mat-option value="option">Option</mat-option>
			</mat-select>
		</mat-form-field>
	</div>

	<button mat-raised-button color="primary" [routerLink]="['/auth/configurations/catalogue/create']">Registrar</button>

</div>