<div class="main_admin_dashboard" *ngIf="total<=0">

      <!--  <div *ngIf="company?.length>0">-->
            <div class="col-md-6">
                <mat-card>
                    <div class="container">
                        <canvas id="linea"></canvas>
                    </div>
                </mat-card>
            </div>
                                            
            <div class="col-md-6">
                <mat-card>
                    <div class="container">
                        <canvas id="barra1"></canvas>
                    </div>
                </mat-card>
            </div>          
                            
            <br>
                            
            <div class="col-md-6">
                <mat-card>
                    <div class="container">
                        <canvas id="barra2"></canvas>
                    </div>
                </mat-card>
            </div>     
                
            <div class="col-md-6">
                <mat-card>
                    <div class="container">                
                        <canvas id="linea2"></canvas>
                    </div>
                </mat-card>
            </div>        

    <!--  </div>-->
</div>

        <div class="main_admin_dashboard" *ngIf="total>0">
            <br>
            <h3>Bienvenido a Siberian</h3>
            <br>
            <h4>Para comenzar registra a tu empresa</h4>
            <br>
            <a [routerLink]="['/auth/admin/configurations/company/create']">
                <button mat-button> Comienza aquí! </button>
            </a>
        </div>
    
    
                                               

