<div class="container">
	<div class="row">
		<div class="col-sm-12">
			<mat-list-item role="listitem">
			  <button mat-raised-button color="primary" [routerLink]="['/auth/dashboard/client']">Cliente</button>
			</mat-list-item>
			<br>
			<mat-list-item role="listitem">
			  <button mat-raised-button color="accent" [routerLink]="['/auth/dashboard/lender']">Prestador</button>
			</mat-list-item>
			<br>
			<mat-list-item role="listitem">
			  <button mat-raised-button color="warn" [routerLink]="['/auth/dashboard/admin']">Admin</button>
			</mat-list-item>
			<br>
		</div>
	</div>
</div>