<div class="main_dashboard main_admin">
	<div class="container">
		<div class="row">
			<div class="col-sm-12">
				<h2 class="text-center">Genéricos</h2>
			</div>
		</div>
		
		<hr>
		<div class="row">
			<div class="col-sm-12">
				<div class="row">

					<div class="col-md-3">
						<a [routerLink]="['parametro']">
							<mat-card class="servicio">
								<mat-card-header class="titulo mat-card-header-primary">
									<mat-card-title>Parámetros</mat-card-title>
								</mat-card-header>
								<mat-card-content class="mat_card_content">
									<div class="row">
										<div class="col-sm-12">
											Registro de parametros necesarios para las promociones
										</div>
									</div>
								</mat-card-content>
							</mat-card>
						</a>
					</div>

					<div class="col-md-3">
						<a [routerLink]="['group']">
							<mat-card class="servicio">
								<mat-card-header class="titulo mat-card-header-primary">
									<mat-card-title>Grupos</mat-card-title>
								</mat-card-header>
								<mat-card-content class="mat_card_content">
									<div class="row">
										<div class="col-sm-12">
											Registro de grupos necesarios para los parametros
										</div>
									</div>
								</mat-card-content>
							</mat-card>
						</a>
					</div>

					<div class="col-md-3">
						<a [routerLink]="['motive']">
							<mat-card class="servicio">
								<mat-card-header class="titulo mat-card-header-primary">
									<mat-card-title>Motivos</mat-card-title>
								</mat-card-header>
								<mat-card-content class="mat_card_content">
									<div class="row">
										<div class="col-sm-12">
											Registro de motivos necearios para rechazar los servicios
										</div>
									</div>
								</mat-card-content>
							</mat-card>
						</a>
					</div>

					<!-- <div class="col-md-3">
						<a [routerLink]="['promotion']">
							<mat-card class="servicio">
								<mat-card-header class="titulo mat-card-header-primary">
									<mat-card-title>Promociones</mat-card-title>
								</mat-card-header>
								<mat-card-content class="mat_card_content">
									<div class="row">
										<div class="col-sm-12">
											Registro de promociones que se aplicaran a los servicios
										</div>
									</div>
								</mat-card-content>
							</mat-card>
						</a>
					</div> -->

					<div class="col-md-3">
						<a [routerLink]="['question']">
							<mat-card class="servicio">
								<mat-card-header class="titulo mat-card-header-primary">
									<mat-card-title>Preguntas</mat-card-title>
								</mat-card-header>
								<mat-card-content class="mat_card_content">
									<div class="row">
										<div class="col-sm-12">
											Registro de preguntas que se usaran para calificar servicio
										</div>
									</div>
								</mat-card-content>
							</mat-card>
						</a>
					</div>

					<div class="col-md-3">
						<a [routerLink]="['notification']">
							<mat-card class="servicio">
								<mat-card-header class="titulo mat-card-header-primary">
									<mat-card-title>Notificaciones</mat-card-title>
								</mat-card-header>
								<mat-card-content class="mat_card_content">
									<div class="row">
										<div class="col-sm-12">
											Registro de notificaciones que se usaran para el seguimiente del servicio
										</div>
									</div>
								</mat-card-content>
							</mat-card>
						</a>
					</div>

				</div>
			</div>
		</div>
	</div>
</div>