<div class="main_dashboard">
	<div class="container">
		<div class="row">
			<div class="col-sm-12">
				<div class="row">
					<div class="col-sm-12">
						<h2 class="text-center">Seleccione un Equipo</h2>
					</div>
				</div>
				<div class="row">
					<div class="col-sm-12">
						<button mat-raised-button color="primary" (click)="goBack()">Volver</button>
					</div>
				</div>
				<hr>
				<div *ngIf="equipsinfras && category">
					<div class="row">
						<div class="col-md-4" *ngFor="let equipinfras of equipsinfras">
							<a [routerLink]="['/auth/client/catalog/category',category.id,'subcategory',subcategory.id,'equipinfras',equipinfras.id]" (click)="SetIdEquipinfras(equipinfras.id)">
								<mat-card class="servicio">
									<mat-card-header class="titulo mat-card-header-primary">
										<mat-card-title>{{ subcategory.name }}</mat-card-title>
									</mat-card-header>
									<mat-card-content class="mat_card_content">
										<div class="row">
											<div class="col-sm-5">
												<img src="../../../../../../../assets/img/catalogue/aire.png" alt="" class="card-img-top">
											</div>
											<div class="col-sm-7">
												<b>Equipo: </b> {{ equipinfras.name }}
												<br>
												<b>Descripción: </b> {{ equipinfras.description }}
												<br>
												<!-- <b>Marcas: </b><span class="badge badge-primary">{{ varietys.length }}</span> -->
											</div>
										</div>
									</mat-card-content>
								</mat-card>
							</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>