<div class="main_catalogue">
	<h2 class="text-center">Editar Catálogo</h2>
	<button mat-raised-button color="primary" [routerLink]="['/auth/configurations/catalogue']">Volver</button>
	<hr>

	<div class="example-container">
			<mat-form-field>
					<mat-select placeholder="Tipo Servicio">
						<mat-option value="option">Mantenimiento</mat-option>
						<mat-option value="option">Reparación</mat-option>
					</mat-select>
			</mat-form-field>
	
			<mat-form-field>
					<mat-select placeholder="Subcategoria">
						<mat-option value="option">Nevera</mat-option>
						<mat-option value="option">Lavadora</mat-option>
					</mat-select>
			</mat-form-field>
	
			<mat-form-field>
				<textarea matInput placeholder="Descripción"></textarea>
			</mat-form-field>	
	
			<mat-form-field>
				<input matInput placeholder="Estatus">
			</mat-form-field>
			
			<mat-select placeholder="Subir Imagen"></mat-select>
			<input id="fileInput" type="file">
	
			<mat-form-field>
				<input matInput placeholder="Nombre">
			</mat-form-field>
	</div>
	<button mat-raised-button color="primary" [routerLink]="['/auth/configurations/catalogue/edit/1']">Guardar</button>

</div>