<h2 class="text-center">Maestros</h2>
<button mat-raised-button color="primary" [routerLink]="['/auth/admin/dashboard']">Volver</button>
<hr>


<mat-list-item role="listitem"><button mat-raised-button color="primary" class="mb-3" [routerLink]="['/auth/admin/masters/activity']">Actividad</button></mat-list-item>
<mat-list-item role="listitem"><button mat-raised-button color="primary" class="mb-3" [routerLink]="['/auth/admin/masters/calendar']">Calendario</button></mat-list-item>
<mat-list-item role="listitem"><button mat-raised-button color="primary" class="mb-3" [routerLink]="['/auth/admin/masters/company']">Empresa</button></mat-list-item>
<mat-list-item role="listitem"><button mat-raised-button color="primary" class="mb-3" [routerLink]="['/auth/admin/masters/component']">Componente</button></mat-list-item>
<mat-list-item role="listitem"><button mat-raised-button color="primary" class="mb-3" [routerLink]="['/auth/admin/masters/equip-infras']">Equipo/Infraestructura</button></mat-list-item>
<mat-list-item role="listitem"><button mat-raised-button color="primary" class="mb-3" [routerLink]="['/auth/admin/masters/event']">Evento</button></mat-list-item>
<mat-list-item role="listitem"><button mat-raised-button color="primary" class="mb-3" [routerLink]="['/auth/admin/masters/function']">Función</button></mat-list-item>
<mat-list-item role="listitem"><button mat-raised-button color="primary" class="mb-3" [routerLink]="['/auth/admin/masters/motive']">Motivo</button></mat-list-item>
<mat-list-item role="listitem"><button mat-raised-button color="primary" class="mb-3" [routerLink]="['/auth/admin/masters/parameter']">Parámetros</button></mat-list-item>
<mat-list-item role="listitem"><button mat-raised-button color="primary" class="mb-3" [routerLink]="['/auth/admin/masters/politic']">Política</button></mat-list-item>
<mat-list-item role="listitem"><button mat-raised-button color="primary" class="mb-3" [routerLink]="['/auth/admin/masters/resource']">Recurso</button></mat-list-item>
<mat-list-item role="listitem"><button mat-raised-button color="primary" class="mb-3" [routerLink]="['/auth/admin/masters/result']">Resultado</button></mat-list-item>
<mat-list-item role="listitem"><button mat-raised-button color="primary" class="mb-3" [routerLink]="['/auth/admin/masters/role']">Rol</button></mat-list-item>
<mat-list-item role="listitem"><button mat-raised-button color="primary" class="mb-3" [routerLink]="['/auth/admin/masters/skill']">Habilidad</button></mat-list-item>
<mat-list-item role="listitem"><button mat-raised-button color="primary" class="mb-3" [routerLink]="['/auth/admin/masters/user']">Usuario</button></mat-list-item>
<mat-list-item role="listitem"><button mat-raised-button color="primary" class="mb-3" [routerLink]="['/auth/admin/masters/variety']">Variedad</button></mat-list-item>
<mat-list-item role="listitem"><button mat-raised-button color="primary" class="mb-3" [routerLink]="['/auth/admin/masters/variety-detail']">Variedad Detalle</button></mat-list-item>