<div id="breadcrumbs-wrapper">
	<div class="container">
		<div class="row">
			<div class="col s12 m12 l12">
				<h5 class="breadcrumbs-title text-center">Permisos</h5>
				<div>
					<p>
						<button [routerLink]="['/permission/create']" class="btn btn-primary waves-effect">Nuevo Registro</button>
					</p>
				</div>
				<br>
			</div>
		</div>
	</div>
</div>
<div class='table-wrapper'>
	<div id="striped-table">

		<div class="row">
			<div class="col s12">
				<table class="striped">
					<thead>
						<tr>
							<th data-field="id">Id</th>
							<th data-field="name">Nombre</th>
							<th data-field="price">Descripcion</th>
							<th data-field="price">Estatus</th>
							<th data-field="price">Acción</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td><button [routerLink]="['/permission/show','1']" class="btn btn-primary waves-effect">Ver</button></td>
							<td>Administrador</td>
							<td>Permisos para Gerentes.</td>
							<td>Activo</td>
							<td>
								<button [routerLink]="['/permission/edit','1']"class="btn btn-primary btn-small waves-effect">Editar</button>
								<button [routerLink]="['/permission/delete','1']"class="btn btn-primary btn-small waves-effect">Eliminar</button>
							</td>
						</tr>
					</tbody>
					<tbody>
						<tr>
							<td><button [routerLink]="['/permission/show','1']" class="btn btn-primary waves-effect">Ver</button></td>
							<td>Gerente</td>
							<td>Permisos para Clientes.</td>
							<td>Activo</td>
							<td>
								<button [routerLink]="['/permission/edit','1']"class="btn btn-primary btn-small waves-effect">Editar</button>
								<button [routerLink]="['/permission/delete','1']"class="btn btn-primary btn-small waves-effect">Eliminar</button>
							</td>
						</tr>
					</tbody>
					<tbody>
						<tr>
							<td><button [routerLink]="['/permission/show','1']" class="btn btn-primary waves-effect">Ver</button></td>
							<td>Prestador</td>
							<td>Permiso para el listado de Clientes.</td>
							<td>Activo</td>
							<td>
								<button [routerLink]="['/permission/edit','1']"class="btn btn-primary btn-small waves-effect">Editar</button>
								<button [routerLink]="['/permission/delete','1']"class="btn btn-primary btn-small waves-effect">Eliminar</button>
							</td>
						</tr>
					</tbody>
					<tbody>
						<tr>
							<td><button [routerLink]="['/permission/show','1']" class="btn btn-primary waves-effect">Ver</button></td>
							<td>Cliente</td>
							<td>Permiso Listado de Servicios.</td>
							<td>Activo</td>
							<td>
								<button [routerLink]="['/permission/edit','1']"class="btn btn-primary btn-small waves-effect">Editar</button>
								<button [routerLink]="['/permission/delete','1']"class="btn btn-primary btn-small waves-effect">Eliminar</button>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>
