<div class="container">
    <h2 class="text-center">Subcategoría</h2>
    <button mat-raised-button color="primary" [routerLink]="['/auth/parameters/sub-category']">Volver</button>
    <hr>
    <mat-card>
        <mat-list>
            <mat-list-item> <b>ID: </b> 1</mat-list-item>
            <mat-list-item> <b>Categoría: </b> Línea Blanca</mat-list-item>
            <mat-list-item> <b>Nombre:</b> Lavadora</mat-list-item>
            <mat-list-item> <b>Descripción:</b> Línea Blanca</mat-list-item>
            <mat-list-item> <b>Estatus:<span class="badge badge-primary"> Activo</span></b></mat-list-item>
        </mat-list>
    </mat-card>
</div>