<div class="container">
    <h2 class="text-center">Detalle de Servicio Habilidad</h2>
    <button mat-raised-button color="primary" [routerLink]="['/auth/configurations/service-detail-skill']">Volver</button>
    <hr>
    <mat-card>
      <mat-list>
        <mat-list-item> <b>ID: </b> 1</mat-list-item>
        <mat-list-item> <b>Habilidad:</b> Manejo de Tubería de Cobre</mat-list-item>
          <mat-list-item> <b>Detalle de Servicio:</b> Reparación de Cocina</mat-list-item>
      </mat-list>
    </mat-card>
  </div>