<div class="container">
    <div class="row">
      <div class="col-sm-8 offset-2">
        <div class="row">
          <div class="col-sm-12">
            <h2 class="text-center">Nuevo Detalle de Servicio por Catálogo y Detalle de Variedad</h2>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-12">
            <button mat-raised-button color="primary" [routerLink]="['/auth/configurations/service-detail-catalogue-variety-detail']">Volver</button>
          </div>
        </div>
        <hr>
        
        <div class="row">
          <div class="col-sm-12">
            <div class="example-container">
                <mat-form-field>
                  <mat-select required placeholder="Detalle de Variedad">
                    <mat-option value="option">Variedad 1</mat-option>
                    <mat-option value="option">Variedad 2</mat-option>
                  </mat-select>
                </mat-form-field>

              <mat-form-field>
                <mat-select required placeholder="Detalle de Servicio">
                  <mat-option value="option">Reparación de Cocina</mat-option>
                  <mat-option value="option">Reparación de Nevera</mat-option>
                </mat-select>
              </mat-form-field>

              <mat-form-field [hidden]="true">
                <input matInput  placeholder="Estatus" value="A">
              </mat-form-field>
            </div>
          </div>
        </div>
        
        <div class="row">
          <div class="col-sm-12">
            <button mat-raised-button color="primary" [routerLink]="['/auth/configurations/service-detail-catalogue-variety-detail/create']">Registrar</button>
          </div>
        </div>
      </div>
    </div>
  </div>