<div class="main_catalogue">
	<h2 class="text-center">Cliente</h2>
	<button mat-raised-button color="primary" [routerLink]="['/auth/masters/client']">Volver</button>
	<hr>
	<mat-card>
		<mat-list>
			<mat-list-item> <b>Código: </b> </mat-list-item>
		 	<mat-list-item> <b>Nombre: </b> </mat-list-item>
		 	<mat-list-item> <b>Apellido: </b></mat-list-item>
			<mat-list-item> <b>Dni: </b></mat-list-item>
			<mat-list-item> <b>Fecha de Nacimiento: </b> </mat-list-item>
		 	<mat-list-item> <b>Nota: </b> </mat-list-item>
      <mat-list-item> <b>Estatus: </b></mat-list-item>
      <mat-list-item> <b>Género: </b></mat-list-item>
      <mat-list-item> <b>Tipo de Dni: </b></mat-list-item>
      <mat-list-item> <b>Usuario </b></mat-list-item>
		</mat-list>
	</mat-card>

</div>