<div class="main_catalogue">
	<h2 class="text-center">Cliente</h2>
	<button mat-raised-button color="primary" [routerLink]="['/auth/masters/client']">Volver</button>
	<hr>
	<mat-card>
		<mat-list>
			<mat-list-item> <b>Código: </b> 1</mat-list-item>
		 	<mat-list-item> <b>Nombre: </b> Andreina</mat-list-item>
		 	<mat-list-item> <b>Apellido: </b>López</mat-list-item>
			<mat-list-item> <b>Dni: </b>21.225.225</mat-list-item>
			<mat-list-item> <b>Fecha de Nacimiento: </b>01/02/1992 </mat-list-item>
		 	<mat-list-item> <b>Nota: </b> Buen clinte</mat-list-item>
            <mat-list-item> <b>Estatus: <span class="badge badge-primary"> Activo</span></b></mat-list-item>
            <mat-list-item> <b>Género: </b>Femenino</mat-list-item>
            <mat-list-item> <b>Tipo de Dni: </b>Cédula de identidad</mat-list-item>
            <mat-list-item> <b>Usuario </b>andre@gmail.com</mat-list-item>
		</mat-list>
	</mat-card>

</div>