<div class="main_catalogue">
		<h2 class="text-center">Actividad</h2>
		<button mat-raised-button color="primary" class="mr-3" [routerLink]="['/auth/masters/activity/create']">Nuevo Actividad</button>
		<button mat-raised-button color="primary" [routerLink]="['/auth/masters/']">Volver</button>
		<hr>
		
		<div class="table-responsive">
			<table class="table">
				<thead class="thead-dark">
					<tr>
						<th scope="col">Ver</th>
						<th scope="col">Código</th>
						<th scope="col">Nombre</th>
						<th scope="col">Descripción</th>
						<th scope="col">Editar</th>
						<th scope="col">Eliminar</th>
					</tr>
				</thead>
				<tbody>
					<tr >
						<th scope="row">
							<button mat-raised-button color="primary" [routerLink]="['/auth/masters/activity/show/1']">Ver</button>
						</th>
						<td>1</td>
						<td>Cambiar tarjeta</td>
						<td>Cambiar tarjeta  electrónica de la nevera </td>
						<td><button mat-raised-button color="accent" [routerLink]="['/auth/masters/activity/edit/1']">Editar</button></td>
						<td><button mat-raised-button color="warn" [routerLink]="['/auth/masters/activity']">Eliminar</button></td>
					</tr>
					
					<tr >
						  <th scope="row">
							 <button mat-raised-button color="primary" [routerLink]="['/auth/masters/activity/show/1']">Ver</button>
						</th>
						<td>2</td>
						<td>Pintar la pared</td>
						<td>Pintar la pared completa </td>
						<td><button mat-raised-button color="accent" [routerLink]="['/auth/masters/activity/edit/1']">Editar</button></td>
						<td><button mat-raised-button color="warn" [routerLink]="['/auth/masters/activity']">Eliminar</button></td>
						</tr>
					
					 <tr >
						<th scope="row">
							<button mat-raised-button color="primary" [routerLink]="['/auth/masters/activity/show/1']">Ver</button>
						</th>
						<td>3</td>
						<td>Lijar pared</td>
						<td>Lijar la pared completa</td>
						<td><button mat-raised-button color="accent" [routerLink]="['/auth/masters/activity/edit/1']">Editar</button></td>
						<td><button mat-raised-button color="warn" [routerLink]="['/auth/masters/activity']">Eliminar</button></td>
					</tr>
					
				</tbody>
			</table>
		</div>
	</div>
