<div class="main_catalogue">
    <h2 class="text-center">Variedad Detalle</h2>
    <button mat-raised-button color="primary" [routerLink]="['/auth/masters/variety-detail']">Volver</button>
    <hr>
    <mat-card>
      <mat-list>
        <mat-list-item> <b>Codigo: </b> </mat-list-item>
        <mat-list-item> <b>Variedad: </b> </mat-list-item>
        <mat-list-item> <b>Nombre: </b> </mat-list-item>
        <mat-list-item> <b>Descripción: </b></mat-list-item>
        <mat-list-item> <b>Imagen: </b> </mat-list-item>
        <mat-list-item> <b>Estatus: </b> </mat-list-item>
        
      </mat-list>
    </mat-card>
  
  </div>