<div class="main_catalogue">
		<h2 class="text-center">Empresa</h2>
		<button mat-raised-button color="primary" class="mr-3" [routerLink]="['/auth/masters/company/create']">Nuevo Empresa</button>
		<button mat-raised-button color="primary" [routerLink]="['/auth/masters/']">Volver</button>
		<hr>
		
		<div class="table-responsive">
			<table class="table">
				<thead class="thead-dark">
					<tr>
						<th scope="col">Ver</th>
						<th scope="col">Código</th>
						<th scope="col">Nombre</th>
						<th scope="col">Descripción</th>
						<th scope="col">Visión</th>
						<th scope="col">Misión</th>
						<th scope="col">Objetivos</th>
						<th scope="col">Editar</th>
						<th scope="col">Eliminar</th>
					</tr>
				</thead>
				<tbody>
					<tr >
						<th scope="row">
							<button mat-raised-button color="primary" [routerLink]="['/auth/masters/company/show/1']">Ver</button>
						</th>
						<td>1</td>
						<td>Se hace de todo</td>
						<td>Reparación y mantenimiento a domicilio </td>
						<td>Visión</td>
						<td>Misión</td>
						<td>Objetivos</td>
						<td><button mat-raised-button color="accent" [routerLink]="['/auth/masters/company/edit/1']">Editar</button></td>
						<td><button mat-raised-button color="warn" [routerLink]="['/auth/masters/company']">Eliminar</button></td>
					</tr>
					
				</tbody>
			</table>
		</div>
	</div>