<div class="container" *ngIf="category">
	<div class="row">
		<div class="col-sm-12">

			<div class="row">
				<div class="col-sm-12">
					<h2 class="text-center">Asignar Subcagorías</h2>
				</div>
			</div>
			<div class="row">
				<div class="col-sm-12">
					<button mat-raised-button color="primary" (click)="goBack()" matTooltip="Volver" matTooltipPosition="above"><mat-icon>arrow_back</mat-icon></button>
				</div>
			</div>
			<hr>

			<div *ngIf="subcategories">
				<div class="row">
					<div class="col-sm-12">
						<mat-card>
							<mat-card-header class="titulo border-top-danger">
								<mat-card-title>
									{{ category.name | titlecase}}
								</mat-card-title>
							</mat-card-header>
							<mat-card-content>
								<div class="row">
									<div class="col-sm-8 offset-2">
										<br>

										<form #updateForm="ngForm" (ngSubmit)="update(updateForm)">

											<div class="row">
												<div class="col-sm-12">
													<mat-form-field>
														<mat-select name="subcategories" [(ngModel)]="subcategoriesSelected" placeholder="Seleccione una o más Subcategorías" multiple>
															<mat-option *ngFor="let subcategory of subcategories" [value]="subcategory.id">{{subcategory.name}}</mat-option>
														</mat-select>
													</mat-form-field>
												</div>
											</div>

											<div class="row">
												<div class="col-sm-12">
													<a [routerLink]="['/auth/admin/configurations/catalog/sub-category/create']">¿Nueva Subcategoría?</a>
												</div>
											</div>

											<br>

											<div class="row">
												<div class="col-sm-12">
													<button mat-raised-button color="primary" class="mr-3" type="submit">Añadir</button>
												</div>
											</div>
										</form>

										<hr>

										<div *ngIf="category.subcategories.length>0">
											<div class="row">
												<div class="col-sm-12">
													<mat-list>
														<mat-list-item *ngFor="let subcategory of category.subcategories">
															<h4 mat-line>{{subcategory.name}}</h4>
														</mat-list-item>
													</mat-list>
												</div>
											</div>
										</div>

										<div *ngIf="category.subcategories.length<=0">
											<div class="row">
												<div class="col-sm-12">
													<mat-list>
														<mat-list-item>
															<h4 mat-line>No tiene Subcategorías</h4>
														</mat-list-item>
													</mat-list>
												</div>
											</div>
										</div>
									</div>
								</div>

								<div *ngIf="total<=0">
									<h2 class="text-center">{{ message }}</h2>
									<div class="row">
										<div class="col-sm-12">
											<a [routerLink]="['/auth/admin/configurations/catalog/sub-category/create']">¿Nueva Subcategoría?</a>
										</div>
									</div>
								</div>
							</mat-card-content>
						</mat-card>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
