<div class="container" *ngIf="serviceDetail">
    <div class="row">
      <div class="col-sm-8 offset-2">
        
        <div class="row">
          <div class="col-sm-12">
            <h2 class="text-center">Asignar Política</h2>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-12">
            <button mat-raised-button color="primary" (click)="goBack()">Volver</button>
          </div>
        </div>
        <hr>
  
        <div *ngIf="policies">
  
          <form #registerForm="ngForm" (ngSubmit)="register(registerForm)">
  
            <div class="row">
              <div class="col-sm-12">
                <div class="example-container">
  
                  <mat-form-field>
                    <mat-select name="policyId" [(ngModel)]="policyId" placeholder="Seleccione una o mas políticas" required>
                      <mat-option *ngFor="let policy of policies" [value]="policy.id">{{policy.name}}</mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>
              </div>
            </div>
  
            <div class="row">
              <div class="col-sm-12">
                <a [routerLink]="['/auth/admin/configurations/service/politic/create']">¿Nueva Política?</a>
              </div>
            </div>
  
            <br>
  
            <div class="row">
              <div class="col-sm-12">
                <button mat-raised-button color="primary" class="mr-3" type="submit" [disabled]="!registerForm.form.valid">Añadir</button>
              </div>
            </div>
          </form>
  
          <hr>
  
          <div *ngIf="serviceDetail.policies.length>0">
            <div class="row">
              <div class="col-sm-12">
                <mat-list>
                  <mat-list-item *ngFor="let policy of serviceDetail.policies">
                    <h4 mat-line>{{policy.name}}</h4>
                    <button mat-icon-button color="warn" matTooltip="Borrar Política" matTooltipPosition="left" (click)="onDelete(policy.id)"><mat-icon>delete</mat-icon></button>
                  </mat-list-item>
                </mat-list>
              </div>
            </div>
          </div>
  
          <div *ngIf="serviceDetail.policies.length<=0">
            <div class="row">
              <div class="col-sm-12">
                <mat-list>
                  <mat-list-item>
                    <h4 mat-line>No tiene Políticas</h4>
                  </mat-list-item>
                </mat-list>
              </div>
            </div>
          </div>
        </div>
  
        <div *ngIf="total<=0">
          <h2 class="text-center">{{ message }}</h2>
          <div class="row">
              <div class="col-sm-12">
                <a [routerLink]="['/auth/admin/configurations/service/politic/create']">¿Nueva Políca?</a>
              </div>
            </div>
          </div>
          
      </div>
    </div>
  </div>