/*Junior*/
/*Dando estilo al toolbar
10/07/2019*/
.example-icon {
  padding: 0 14px;
}

.example-spacer {
  flex: 1 1 auto;
}

mat-toolbar {
  background: #f2f2f2f2 !important;
  color: #121212 !important;
}

mat-divider {
  background: #d3d3d3 !important ;
}
