/*Junior*/
/*Iconos en el toolbar
10/07/2019*/
/*Dayana*/
/*Agregue icono de notificación
11/07/2019*/

<mat-toolbar color="primary" class="">
    <span>Siberian</span>
    <span class="example-spacer"></span>
    <mat-icon class="example-icon" aria-hidden="false" aria-label="Example notifications icon">notifications</mat-icon>
    <mat-icon class="example-icon" aria-hidden="false" aria-label="Example home icon">home</mat-icon>
    <mat-icon class="example-icon" aria-hidden="false" aria-label="Example person icon">person</mat-icon>
</mat-toolbar> 
