<!--/*Junior*/
/*Iconos en el toolbar
10/07/2019*/
/*Dayana*/
/*Agregue icono de notificación
11/07/2019-->

<mat-toolbar class="toolbar fixed_toolbar" [class.open]="isToggle" [class.closed]="!isToggle">
    <span class="name_company">Siberian</span>
    <span class="example-spacer"></span>
    <a (click)="notification()"><mat-icon class="example-icon" aria-hidden="false" aria-label="Example notifications icon" class="cursor-pointer">notifications</mat-icon></a>
    <a *ngIf="role=='3'" [routerLinkActive]="['active']" [routerLink]="['/auth/client/profile/show',userID]" ><mat-icon class="example-icon" aria-hidden="false" aria-label="Example person icon">person</mat-icon></a>
    <a *ngIf="role=='2'" [routerLinkActive]="['active']" [routerLink]="['/auth/lender/profile/show',userID]" ><mat-icon class="example-icon" aria-hidden="false" aria-label="Example person icon">person</mat-icon></a>
    <a *ngIf="role=='1'" [routerLinkActive]="['active']" [routerLink]="['/auth/admin/profile/show',userID]" ><mat-icon class="example-icon" aria-hidden="false" aria-label="Example person icon">person</mat-icon></a>
    <a *ngIf="role=='3'" [routerLinkActive]="['active']" [routerLink]="['/auth/client/dashboard']" ><mat-icon class="example-icon" aria-hidden="false" aria-label="Example home icon">home</mat-icon></a>
    <a *ngIf="role=='2'" [routerLinkActive]="['active']" [routerLink]="['/auth/lender/dashboard']" ><mat-icon class="example-icon" aria-hidden="false" aria-label="Example home icon">home</mat-icon></a>
    <a *ngIf="role=='1'" [routerLinkActive]="['active']" [routerLink]="['/auth/admin/dashboard']" ><mat-icon class="example-icon" aria-hidden="false" aria-label="Example home icon">home</mat-icon></a>
    <a *ngIf="role=='4'" [routerLinkActive]="['active']" [routerLink]="['/auth/super']" ><mat-icon class="example-icon" aria-hidden="false" aria-label="Example home icon">home</mat-icon></a>
    <a [routerLinkActive]="['active']" [routerLink]="['/auth/logout']" ><mat-icon class="example-icon" aria-hidden="false" aria-label="Example person icon">exit_to_app</mat-icon></a>
</mat-toolbar> 
