<div class="main_catalogue">
    <h2 class="text-center">Editar Catálogo</h2>
    <button mat-raised-button color="primary" [routerLink]="['/auth/configurations/catalogue-variety-detail']">Volver</button>
    <hr>
  
    <div class="example-container">
        <mat-form-field>
            <mat-select placeholder="Catálogo">
              <mat-option value="option">Catálogo 1</mat-option>
              <mat-option value="option">Catálogo 2</mat-option>
            </mat-select>
        </mat-form-field>
    
        <mat-form-field>
              <mat-select placeholder="Detalle Variedad">
              <mat-option value="option">1</mat-option>
              <mat-option value="option">2</mat-option>
            </mat-select>
        </mat-form-field>
    
    
        <mat-form-field>
          <input matInput placeholder="Estatus">
        </mat-form-field>
        
        <mat-form-field>
          <input matInput placeholder="Precio Revisión">
        </mat-form-field>
    </div>
    <button mat-raised-button color="primary" [routerLink]="['/auth/configurations/catalogue-variety-detail/edit/1']">Guardar</button>
  
  </div>