<div id="breadcrumbs-wrapper">
	<div class="container">
		<div class="row">
			<div class="col s12 m12 l12">
				<h5 class="breadcrumbs-title text-center">Funciones</h5>
				<div>
					<p>
						<button [routerLink]="['/function/create']" class="btn btn-primary waves-effect">Nuevo Registro</button>
					</p>
				</div>
				<br>
			</div>
		</div>
	</div>
</div>
<div class='table-wrapper'>
	<div id="striped-table">

		<div class="row">
			<div class="col s12">
				<table class="striped">
					<thead>
						<tr>
							<th data-field="id">Id</th>
							<th data-field="name">Nombre</th>
							<th data-field="price">Descripcion</th>
							<th data-field="price">Estatus</th>
							<th data-field="price">Acción</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td><button [routerLink]="['/function/show','1']" class="btn btn-primary waves-effect">Ver</button></td>
							<td>Solicitar Servicio</td>
							<td>Función de Solicitud del Servicio.</td>
							<td>Activo</td>
							<td>
								<button [routerLink]="['/function/edit','1']"class="btn btn-primary btn-small waves-effect">Editar</button>
								<button [routerLink]="['/function/delete','1']"class="btn btn-primary btn-small waves-effect">Eliminar</button>
							</td>
						</tr>
					</tbody>
					<tbody>
						<tr>
							<td><button [routerLink]="['/function/show','1']" class="btn btn-primary waves-effect">Ver</button></td>
							<td>Registrar Prestador</td>
							<td>Función de Registro del Prestador.</td>
							<td>Activo</td>
							<td>
								<button [routerLink]="['/function/edit','1']"class="btn btn-primary btn-small waves-effect">Editar</button>
								<button [routerLink]="['/function/delete','1']"class="btn btn-primary btn-small waves-effect">Eliminar</button>
							</td>
						</tr>
					</tbody>
					<tbody>
						<tr>
							<td><button [routerLink]="['/function/show','1']" class="btn btn-primary waves-effect">Ver</button></td>
							<td>Modificar Usuario</td>
							<td>Función de Modificación del Usuario.</td>
							<td>Activo</td>
							<td>
								<button [routerLink]="['/function/edit','1']"class="btn btn-primary btn-small waves-effect">Editar</button>
								<button [routerLink]="['/function/delete','1']"class="btn btn-primary btn-small waves-effect">Eliminar</button>
							</td>
						</tr>
					</tbody>
					<tbody>
						<tr>
							<td><button [routerLink]="['/function/show','1']" class="btn btn-primary waves-effect">Ver</button></td>
							<td>Editar Catálogo</td>
							<td>Función de Editar del Catálogo.</td>
							<td>Activo</td>
							<td>
								<button [routerLink]="['/function/edit','1']"class="btn btn-primary btn-small waves-effect">Editar</button>
								<button [routerLink]="['/function/delete','1']"class="btn btn-primary btn-small waves-effect">Eliminar</button>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>