<div class="main_request_detail">

	<div class="container">

		<div class="row">
			<div class="col-sm-12">
				<h4 class="titulo text-center">
					Servicio
					<span class="badge badge-primary">Aprobado</span>
				</h4>
			</div>
		</div>

		<div class="row">
			<div class="col-sm-12">
				<button mat-raised-button color="primary" [routerLink]="['/auth/lender/execute']">Volver</button>
			</div>  
		</div>

		<hr>

		<div class="row">
			<div class="col-sm-12">
				<mat-card>
					<mat-card-header class="titulo border-top-danger">
						<mat-card-title>
							<a [routerLink]="['/auth/lender/service/detail/1']" class="title" >Código Servicio 0001</a>
						</mat-card-title>
					</mat-card-header>

					<div class="row">
						<div class="offset-sm-2 col-sm-8">
							<mat-list>
								<h3 mat-subheader>Actividades</h3>

								<mat-list-item>
									<h4 mat-line><span class="badge badge-primary">Actividad 1</span></h4><mat-icon class="success">check_circle</mat-icon><mat-icon>cancel</mat-icon>
								</mat-list-item>

								<mat-list-item>
									<h4 mat-line><span class="badge badge-primary">Actividad 2</span></h4><mat-icon class="success">check_circle</mat-icon><mat-icon>cancel</mat-icon>
								</mat-list-item>

								<mat-list-item>
									<h4 mat-line><span class="badge badge-primary">Actividad 3</span></h4><mat-icon class="success">check_circle</mat-icon><mat-icon>cancel</mat-icon>
								</mat-list-item>

								<mat-list-item>
									<h4 mat-line><span class="badge badge-primary">Actividad 4</span></h4><mat-icon class="success">check_circle</mat-icon><mat-icon>cancel</mat-icon>
								</mat-list-item>

								<mat-list-item>
									<h4 mat-line><span class="badge badge-primary">Actividad 5</span></h4><mat-icon class="success">check_circle</mat-icon><mat-icon>cancel</mat-icon>
								</mat-list-item>

								<mat-list-item>
									<h4 mat-line><span class="badge badge-primary">Actividad 6</span></h4><mat-icon class="success">check_circle</mat-icon><mat-icon>cancel</mat-icon>
								</mat-list-item>

								<mat-list-item>
									<h4 mat-line><span class="badge badge-gray">Actividad 7</span></h4><mat-icon >check_circle</mat-icon><mat-icon>cancel</mat-icon>
								</mat-list-item>
								
							</mat-list>
						</div>
					</div>
				</mat-card>
			</div>
		</div>
	</div>
</div>