<div class="main_message">
	<div class="container">
		<div class="row">
			<div class="offset-sm-3 col-sm-6">
				<h3 class="text-center">Información de la Solicitud</h3>
				<p>Su solicitud se realizo correctamente, recuerde que primero se debe realizar una revision antes de abordar el servicio</p>
				<div class="row">
		          <div class="col-sm-12">
		            <button mat-raised-button color="primary" [routerLink]="['/auth/client/request']">¿Ir a Mis Solicitudes?</button>
		          </div>
		        </div>
			</div>
		</div>
	</div>
</div>