
<div class="container">
	<div class="row">
		<div class="col-sm-8 offset-2">
			<div class="row">
				<div class="col-sm-12">
					<h2 class="text-center">Nuevo Catálogo</h2>
				</div>
			</div>
			<div class="row">
				<div class="col-sm-12">
					<button mat-raised-button color="primary" [routerLink]="['/auth/admin/configurations/catalog/catalogue']">Volver</button>
				</div>
			</div>
			<hr>
			
			<div class="row">
				<div class="col-sm-12">
					<div class="example-container">
						<mat-form-field>
							<mat-select placeholder="Tipo Servicio" required>
								<mat-option value="option">Mantenimiento</mat-option>
								<mat-option value="option">Reparación</mat-option>
							</mat-select>
					</mat-form-field>
			
					<mat-form-field>
							<mat-select placeholder="Subcategoría" required>
								<mat-option value="option">Nevera</mat-option>
								<mat-option value="option">Lavadora</mat-option>
								<mat-option value="option">Pared</mat-option>
							</mat-select>
					</mat-form-field>

					<mat-form-field>
						<input matInput placeholder="Nombre">
					</mat-form-field>
			
					<mat-form-field>
						<textarea matInput placeholder="Descripción"></textarea>
					</mat-form-field>	
			
					<mat-form-field [hidden]="true">
						<input matInput  placeholder="Estatus" value="A">
					</mat-form-field>		
		
					
					</div>
				</div>
			</div>
			
			<div class="row">
				<div class="col-sm-12">
					<button mat-raised-button color="primary" [routerLink]="['/auth/admin/configurations/catalog/catalogue/create']">Registrar</button>
				</div>
			</div>
		</div>
	</div>
</div>