<div class="container">
	<div class="row">
		<div class="col-sm-8 offset-2">
			<div class="row">
				<div class="col-sm-12">
					<h2 class="text-center">Editar Orden de Servicio</h2>
				</div>
			</div>
			<div class="row">
				<div class="col-sm-12">
					<button mat-raised-button color="primary" [routerLink]="['/auth/admin/transactions/service-order']">Volver</button>
				</div>
			</div>
			<hr>
			
			<div class="row">
				<div class="col-sm-12">
					<div class="example-container">
						<mat-form-field>
							<mat-select placeholder="ID Revisión" required>
								<mat-option value="option">1224</mat-option>
								<mat-option value="option">456</mat-option>
							</mat-select>
					</mat-form-field>
										
					<mat-form-field>
						<input matInput placeholder="Código">
					</mat-form-field>

					<mat-form-field>
						<input matInput placeholder="Monto">
					</mat-form-field>

					<mat-form-field>
						<input matInput placeholder="Descuento">
					</mat-form-field>

					<mat-form-field>
						<input matInput placeholder="Impuestos">
					</mat-form-field>

					<mat-form-field>
						<input matInput placeholder="Tiempo de garantía">
					</mat-form-field>

					<mat-form-field>
						<textarea matInput placeholder="Razón"></textarea>
					</mat-form-field>

					<mat-form-field>
						<mat-select placeholder="ID Promoción">
							<mat-option value="option">86786</mat-option>
							<mat-option value="option">5365</mat-option>
						</mat-select>
				</mat-form-field>
			
					<mat-form-field [hidden]="true">
						<input matInput  placeholder="Estatus" value="A">
					</mat-form-field>
					
					<mat-label>Subir Imagen</mat-label>
					<input id="fileInput" type="file">				
		
					<br>
					
					</div>
				</div>
			</div>
			
			<div class="row">
				<div class="col-sm-12">
					<button mat-raised-button color="primary" [routerLink]="['/auth/admin/transactions/service-order/edit/1']">Guardar</button>
				</div>
			</div>
		</div>
	</div>
</div>