<div class="main_request_detail">

  <div class="container">

    <div class="row">
      <div class="col-sm-12">
        <h4 class="titulo text-center">
          Solicitud
          <span class="badge badge-dark">Solicitada</span>
        </h4>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-12">
        <button mat-raised-button color="primary" (click)="goBack()">Volver</button>
      </div>  
    </div>

    <hr>

    <div class="row">
      <div class="col-sm-12">
        <mat-card>
          <mat-card-header class="titulo border-top-danger">
            <mat-card-title>
              Código Solicitud 1
            </mat-card-title>
          </mat-card-header>

          <div class="row">
            <div class="col-sm-7">
              <mat-list>
                <h3 mat-subheader>Datos de la Revision</h3>
                <mat-list-item><h4 mat-line><b>Nombre Solicitante: </b>Anderson Diaz</h4></mat-list-item>
                <mat-list-item><h4 mat-line><b>Dirección: </b>Calle Cabuadre</h4></mat-list-item>
                <mat-list-item><h4 mat-line><b>Fecha de la Solicitud: </b>30-10-2019</h4></mat-list-item>
                <mat-list-item><h4 mat-line><b>Fecha de la Revision: </b>02-11-2019</h4></mat-list-item>
                <mat-list-item><h4 mat-line><b>Descripción del Problema: </b>Se daño el motor</h4></mat-list-item>
                <mat-list-item><h4 mat-line><b>Prestador Asignado: </b>Maria Moreno</h4></mat-list-item>
                <mat-list-item><h4 mat-line><b>Precio: </b>50000 Bs.S</h4></mat-list-item>
              </mat-list>
            </div>

            <div class="col-sm-5">
              <mat-list>
                <h3 mat-subheader>Datos del Equipo</h3>
                <mat-list-item><h4 mat-line><b>Equipo: </b> Lavadora</h4></mat-list-item>
                <mat-list-item><h4 mat-line><b>Marca: </b>LG</h4></mat-list-item>
                <mat-list-item><h4 mat-line><b>Modelo: </b>F900</h4></mat-list-item>
                <mat-list-item><h4 mat-line><b>Imagen: </b></h4></mat-list-item>
                <mat-card class="card_img imgRequest">
                  <mat-card-content class="mat_card_content">
                    <img src="../../../../assets/img/request/revision_3.jpg" alt="">
                  </mat-card-content>
                </mat-card>
              </mat-list>
            </div>
          </div>
        </mat-card>
      </div>
    </div>

    <br>

    <div class="row">
      <div class="col-sm-1">
        <button mat-raised-button color="primary" class="mr-3" (click)="onApproved()">Aceptar</button>
      </div>
      <div class="col-sm-1">
        <button mat-raised-button color="warn" (click)="onCancelled()">Rechazar</button>
      </div>
    </div>

  </div>
</div>
