<div class="main_request_detail">

  <div class="container" *ngIf="revision">

    <div class="row">
      <div class="col-sm-12">
        <h4 class="titulo text-center">
          Solicitud
          <span *ngIf="revision.status=='requested'" class="badge badge-dark">Solicitada</span>
          <span *ngIf="revision.status=='approved'" class="badge badge-primary">Aprobada</span>
          <span *ngIf="revision.status=='rejected'" class="badge badge-danger">Rechazada</span>
        </h4>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-12">
        <button mat-raised-button color="primary" (click)="goBack()">Volver</button>
      </div>  
    </div>

    <hr>

    <div class="row">
      <div class="col-sm-12">
        <mat-card>
          <mat-card-header class="titulo border-top-danger">
            <mat-card-title>
              Código Solicitud 1
            </mat-card-title>
          </mat-card-header>

          <div class="row">
            <div class="col-sm-7">
              <mat-list>
                <h3 mat-subheader>Datos de la Revision</h3>
                <mat-list-item><h4 mat-line><b>Cliente: </b>{{revision.user.firstName | titlecase }} {{revision.user.lastName | titlecase}}</h4></mat-list-item>
                <mat-list-item><h4 mat-line><b>Dirección: </b>{{ revision.location.address }}</h4></mat-list-item>
                <mat-list-item><h4 mat-line><b>Fecha de la Solicitud: </b> {{ revision.createdAt |date:"longDate"}}</h4></mat-list-item>
                <mat-list-item><h4 mat-line><b>Fecha de la Revision: </b>{{ revision.calendar.date |date:"longDate" }}</h4></mat-list-item>
                <mat-list-item><h4 mat-line><b>Descripción del Problema: </b>{{ revision.description }}</h4></mat-list-item>
                <mat-list-item><h4 mat-line><b>Prestador Seleccionado: </b>{{revision.calendar.lender.firstName | titlecase }} {{revision.calendar.lender.lastName | titlecase}}</h4></mat-list-item>
                <mat-list-item><h4 mat-line><b>Precio: </b>{{ revision.price }} Bs.S</h4></mat-list-item>
                <mat-list-item *ngIf="revision.status=='requested'"><h4 mat-line><b>Status: </b> Solicitud en espera de ser Aprobada</h4></mat-list-item>
                <mat-list-item *ngIf="revision.status=='approved'"><h4 mat-line><b>Status: </b> Solicitud Aprobada <a [routerLink]="['/auth/lender/diagnosis/detail/1']" class="title" >Diagnosticar!!</a></h4></mat-list-item>
                <div *ngIf="revision.status=='rejected'">
                  <mat-list-item>
                    <h4 mat-line><b>Status: </b> Solicitud Rechazada</h4>
                  </mat-list-item>
                  <div class="ml-3">
                    <mat-list-item>
                      <h4 mat-line><b>Motivos: </b> Vive Lejos</h4>
                    </mat-list-item>
                  </div>
                </div>
              </mat-list>
            </div>

            <div class="col-sm-5">
              <mat-list>
                <h3 mat-subheader>Datos del Equipo</h3>
                <mat-list-item><h4 mat-line><b>Equipo: </b> {{ revision.varietyDetail.Equipinfra.name }}</h4></mat-list-item>
                <mat-list-item><h4 mat-line><b>Marca: </b>{{ revision.varietyDetail.variety.name }}</h4></mat-list-item>
                <mat-list-item><h4 mat-line><b>Modelo: </b>{{ revision.varietyDetail.name }}</h4></mat-list-item>
                <mat-list-item><h4 mat-line><b>Imagen: </b></h4></mat-list-item>
                <mat-card class="card_img imgRequest">
                  <mat-card-content class="mat_card_content">
                    <img [src]="BASE_URL + revision?.imageRequestUrl || urldelafault" alt="">
                  </mat-card-content>
                </mat-card>
              </mat-list>
            </div>
          </div>
        </mat-card>
      </div>
    </div>

    <br>

    <div class="row" *ngIf="revision.status=='requested'">
      <div class="col-sm-1">
        <button mat-raised-button color="primary" class="mr-3" (click)="onApproved(revision.id)">Aceptar</button>
      </div>
      <div class="col-sm-1">
        <button mat-raised-button color="warn" (click)="onRejected(revision.id)">Rechazar</button>
      </div>
    </div>

  </div>
</div>
