<!--Wilmar
/* Pantalla de create catalogo
Versión 1.0.0
27/06/2019
*/ -->

<div id="breadcrumbs-wrapper">
    <div class="container">
      <div class="row">
        <div class="col s12 m12 l12">
          <h5 class="breadcrumbs-title text-center">Crear Catálogo</h5>
          <div>
            <p>
              <a [routerLink]="['/catalogue']" class="btn waves-effect waves-light blue">Regresar</a>
            </p>
          </div>
          <br>
        </div>
      </div>
    </div>
  </div>
  <div id="basic-form" class="section">
    <div class="row">
      <div class="col s6 offset-s3">
        <div class="card-panel">
          <div class="row">
            <form class="col s12">
             
                <div class="row">
                    <div class="input-field col s12">
                      <input id="name" type="text">
                      <label for="first_name">Nombre</label>
                    </div>
                  </div>
      
                   <div class="row">
                      <div class="input-field col s12">
                        <select>
                        <option value=""disabled selected>Elija una opción</option>
                        <option value="1">Reparación</option>
                       </select>
                        <label>Tipo de Servicio</label>
                      </div>
                   </div>
    
                   <div class="row">
                      <div class="input-field col s12">
                        <select>
                        <option value=""disabled selected>Elija una opción</option>
                        <option value="1">Refrigeración</option>
                       </select>
                        <label>Subcategoría</label>
                      </div>
                   </div>
                          
                   <div class="row">
                      <div class="input-field col s12">
                        <select>
                        <option value=""disabled selected>Elija una opción</option>
                        <option value="1">Aire Acondicionado</option>
                       </select>
                        <label>Equipo/Infraestructura</label>
                      </div>
                   </div>
    
                  <div class="row">
                      <div class="input-field col s12">
                      <input id="description" type="text">
                      <label for="description">Descripción</label>
                      </div>
                  </div>
    
                  <div class="row">
                      <div class="input-field col s12">
                      <input id="price" type="text">
                      <label for="price">Precio de Revisión</label>
                      </div>
                  </div>
    
                  <div class="row">
                      <div class="input-field col s12">
                        <input id="date" type="date">
                        <label for="date">Fecha de Creación</label>
                      </div>
                    </div> 
    
                  <div class="row">
                    <div class="input-field col s12">
                      <input id="status" type="text">
                      <label for="status">Estatus</label>
                    </div>
                  </div>
  
              <div class="row">
                <div class="input-field col s12">
                  <button class="btn cyan waves-effect waves-light blue" type="submit" name="action">Crear
                  </button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>

