.padding-sidenav{
	padding-left: 20px !important;
}
.mat-expansion-panel{
	box-shadow: none !important;
}
/* 
.padding-sidenav ~ .mat-expansion-panel-content>.mat-expansion-panel-body>.mat-list-item>.mat-list-item-content{
	padding-left: 40px !important;	
} */


.profile{
    height: 50px;
    width: 50px;
    border-radius: 50%;
}