.side_nav_icon{
	margin-right: 25px;
    margin-left: 5px;
}
.side_nav_avatar {
  background-image: url("../../../../assets/img/profile/avatar.jpg");
  background-size: cover;

  margin-right: 5px;
  margin-left: 5px;
}
.side_nav_header{
	margin: 0 15px;
}