<mat-nav-list>
	
	<mat-nav-list>
		<mat-card-header class="side_nav_header">
			<mat-card-title>Anderson</mat-card-title>
			<mat-card-subtitle *ngIf="rol=='client'">Cliente</mat-card-subtitle>
			<mat-card-subtitle *ngIf="rol=='lender'">Prestador</mat-card-subtitle>
			<mat-card-subtitle *ngIf="rol=='admin'">Administrador</mat-card-subtitle>
			<div mat-card-avatar class="side_nav_avatar"></div>
		</mat-card-header>
	</mat-nav-list>

<div *ngIf="rol=='client'">
	<a [routerLinkActive]="['active']" mat-list-item [routerLink]="['/auth/client/dashboard']" ><mat-icon matListIcon class="side_nav_icon">home</mat-icon>Inicio</a>
	<a [routerLinkActive]="['active']" mat-list-item [routerLink]="['/auth/client/request']" ><mat-icon matListIcon class="side_nav_icon">assignment</mat-icon>Mis Solicitudes</a>
	<a [routerLinkActive]="['active']" mat-list-item [routerLink]="['/auth/client/service']" ><mat-icon matListIcon class="side_nav_icon">receipt</mat-icon>Mis Servicios</a>
	<a [routerLinkActive]="['active']" mat-list-item [routerLink]="['/auth/client/catalogue']" ><mat-icon matListIcon class="side_nav_icon">pages</mat-icon>Catálogo</a>
	<a [routerLinkActive]="['active']" mat-list-item [routerLink]="['/auth/client/suggestion']" ><mat-icon matListIcon class="side_nav_icon">sentiment_satisfied_alt</mat-icon>Sugerencias</a>
	<a [routerLinkActive]="['active']" mat-list-item [routerLink]="['/auth/client/claim']" ><mat-icon matListIcon class="side_nav_icon">thumb_down_alt</mat-icon>Reclamos</a>
	<a [routerLinkActive]="['active']" mat-list-item [routerLink]="['/auth/logout']" ><mat-icon matListIcon class="side_nav_icon">arrow_back</mat-icon>Cerrar Sesión</a>
</div>

<div *ngIf="rol=='lender'">
	<a [routerLinkActive]="['active']" mat-list-item [routerLink]="['/auth/lender/dashboard']" ><mat-icon matListIcon class="side_nav_icon">home</mat-icon>Inicio</a>
	<a [routerLinkActive]="['active']" mat-list-item [routerLink]="['/auth/lender/request']" ><mat-icon matListIcon class="side_nav_icon">assignment</mat-icon>Mis Solicitudes</a>
	<a [routerLinkActive]="['active']" mat-list-item [routerLink]="['/auth/lender/service']" ><mat-icon matListIcon class="side_nav_icon">receipt</mat-icon>Mis Servicios</a>
	<a [routerLinkActive]="['active']" mat-list-item [routerLink]="['/auth/logout']" ><mat-icon matListIcon class="side_nav_icon">arrow_back</mat-icon>Cerrar Sesión</a>
</div>

<div *ngIf="rol=='admin'">
	<a [routerLinkActive]="['active']" mat-list-item [routerLink]="['/auth/admin/dashboard']" ><mat-icon matListIcon class="side_nav_icon">home</mat-icon>Inicio</a>
	<a [routerLinkActive]="['active']" mat-list-item [routerLink]="['/auth/admin/masters']" ><mat-icon matListIcon class="side_nav_icon">settings</mat-icon>Maestros</a>
	<a [routerLinkActive]="['active']" mat-list-item [routerLink]="['/auth/admin/parameters']" ><mat-icon matListIcon class="side_nav_icon">settings</mat-icon>Parámetros</a>
	<a [routerLinkActive]="['active']" mat-list-item [routerLink]="['/auth/admin/configurations']" ><mat-icon matListIcon class="side_nav_icon">settings</mat-icon>Configuraciones</a>
	<a [routerLinkActive]="['active']" mat-list-item [routerLink]="['/auth/admin/transactions']" ><mat-icon matListIcon class="side_nav_icon">settings</mat-icon>Transacciones</a>
	<a [routerLinkActive]="['active']" mat-list-item [routerLink]="['/auth/logout']" ><mat-icon matListIcon class="side_nav_icon">arrow_back</mat-icon>Cerrar Sesión</a>
</div>

</mat-nav-list>