<mat-nav-list>
	
	<mat-nav-list>
		<mat-card-header class="side_nav_header">
			<mat-card-title>Anderson</mat-card-title>
			<mat-card-subtitle>Admin</mat-card-subtitle>
			<div mat-card-avatar class="side_nav_avatar"></div>
		</mat-card-header>
	</mat-nav-list>

	<a [routerLinkActive]="['active']" mat-list-item [routerLink]="['/auth/dashboard']" ><mat-icon matListIcon class="side_nav_icon">folder</mat-icon>Dashboard</a>
	<a [routerLinkActive]="['active']" mat-list-item [routerLink]="['/auth/masters']" ><mat-icon matListIcon class="side_nav_icon">folder</mat-icon>Datos Básicos</a>
	<a [routerLinkActive]="['active']" mat-list-item [routerLink]="['/auth/parameters']" ><mat-icon matListIcon class="side_nav_icon">folder</mat-icon>Parámetros</a>
	<a [routerLinkActive]="['active']" mat-list-item [routerLink]="['/auth/configurations']" ><mat-icon matListIcon class="side_nav_icon">folder</mat-icon>Configuración</a>
	<a [routerLinkActive]="['active']" mat-list-item [routerLink]="['/auth/transactions']" ><mat-icon matListIcon class="side_nav_icon">folder</mat-icon>Transacciones</a>

</mat-nav-list>