<div >
	<mat-nav-list>
		
		<mat-nav-list>
			<mat-card-header class="side_nav_header">
				<mat-card-title>Anderson Diaz</mat-card-title>
				<mat-card-subtitle>Admin</mat-card-subtitle>
				<div mat-card-avatar class="side_nav_avatar"></div>
			</mat-card-header>
		</mat-nav-list>

			<mat-accordion>

				<mat-expansion-panel>
					<mat-expansion-panel-header>
						<mat-panel-title>
							<mat-icon matListIcon class="side_nav_icon">home</mat-icon>Dashboard
						</mat-panel-title>
					</mat-expansion-panel-header>
					<a [routerLinkActive]="['active']" mat-list-item [routerLink]="['/auth/client/dashboard']" ><mat-icon matListIcon class="side_nav_icon">home</mat-icon>Cliente</a>
					<a [routerLinkActive]="['active']" mat-list-item [routerLink]="['/auth/lender/dashboard']" ><mat-icon matListIcon class="side_nav_icon">home</mat-icon>Prestador</a>
					<a [routerLinkActive]="['active']" mat-list-item [routerLink]="['/auth/admin/dashboard']" ><mat-icon matListIcon class="side_nav_icon">home</mat-icon>Gerente</a>
				</mat-expansion-panel>

				<mat-expansion-panel>
					<mat-expansion-panel-header>
						<mat-panel-title>
							<mat-icon matListIcon class="side_nav_icon">home</mat-icon>Perfil
						</mat-panel-title>
					</mat-expansion-panel-header>
					<a [routerLinkActive]="['active']" mat-list-item [routerLink]="['/auth/client/profile/show',1]" ><mat-icon matListIcon class="side_nav_icon">home</mat-icon>Cliente</a>
					<a [routerLinkActive]="['active']" mat-list-item [routerLink]="['/auth/lender/profile/show',1]" ><mat-icon matListIcon class="side_nav_icon">home</mat-icon>Prestador</a>
					<a [routerLinkActive]="['active']" mat-list-item [routerLink]="['/auth/admin/profile/show',1]" ><mat-icon matListIcon class="side_nav_icon">home</mat-icon>Gerente</a>
				</mat-expansion-panel>

				<mat-expansion-panel>
					<mat-expansion-panel-header>
						<mat-panel-title>
							<mat-icon matListIcon class="side_nav_icon">home</mat-icon>Servicios
						</mat-panel-title>
					</mat-expansion-panel-header>
					<a [routerLinkActive]="['active']" mat-list-item [routerLink]="['/auth/client/catalog']" ><mat-icon matListIcon class="side_nav_icon">home</mat-icon>Solicitar</a>
					<a [routerLinkActive]="['active']" mat-list-item [routerLink]="['/auth/lender/request']" ><mat-icon matListIcon class="side_nav_icon">home</mat-icon>Atender</a>
					<a [routerLinkActive]="['active']" mat-list-item [routerLink]="['/auth/lender/diagnosis']" ><mat-icon matListIcon class="side_nav_icon">home</mat-icon>Diagnosticar</a>
					<a [routerLinkActive]="['active']" mat-list-item [routerLink]="['/auth/lender/budget']" ><mat-icon matListIcon class="side_nav_icon">home</mat-icon>Presupuestar</a>
					<a [routerLinkActive]="['active']" mat-list-item [routerLink]="['/auth/lender/execute']" ><mat-icon matListIcon class="side_nav_icon">home</mat-icon>Ejecutar</a>
					<a [routerLinkActive]="['active']" mat-list-item [routerLink]="['/auth/lender/delivery']" ><mat-icon matListIcon class="side_nav_icon">home</mat-icon>Entregar</a>
					<a [routerLinkActive]="['active']" mat-list-item [routerLink]="['/auth/client/calification']" ><mat-icon matListIcon class="side_nav_icon">home</mat-icon>Calificar</a>
				</mat-expansion-panel>


				<mat-expansion-panel>
					<mat-expansion-panel-header>
						<mat-panel-title>
							<mat-icon matListIcon class="side_nav_icon">home</mat-icon>Reclamos
						</mat-panel-title>
					</mat-expansion-panel-header>
					<a [routerLinkActive]="['active']" mat-list-item [routerLink]="['/auth/client/claim']" ><mat-icon matListIcon class="side_nav_icon">home</mat-icon>Crear</a>
					<a [routerLinkActive]="['active']" mat-list-item [routerLink]="['/auth/lender/claim']" ><mat-icon matListIcon class="side_nav_icon">home</mat-icon>Atender</a>
				</mat-expansion-panel>

				<mat-expansion-panel>
					<mat-expansion-panel-header>
						<mat-panel-title>
							<mat-icon matListIcon class="side_nav_icon">home</mat-icon>Promociones
						</mat-panel-title>
					</mat-expansion-panel-header>
					<a [routerLinkActive]="['active']" mat-list-item [routerLink]="['/auth/admin/configurations/promotion/promotion']" ><mat-icon matListIcon class="side_nav_icon">home</mat-icon>Crear</a>
					<a [routerLinkActive]="['active']" mat-list-item [routerLink]="['/auth/admin/configurations/promotion/promotion-target/create']" ><mat-icon matListIcon class="side_nav_icon">home</mat-icon>Difundir</a>
				</mat-expansion-panel>

				<mat-expansion-panel>
					<mat-expansion-panel-header>
						<mat-panel-title>
							<mat-icon matListIcon class="side_nav_icon">home</mat-icon>Sugerencias
						</mat-panel-title>
					</mat-expansion-panel-header>
					<a [routerLinkActive]="['active']" mat-list-item [routerLink]="['/auth/client/suggestion']" ><mat-icon matListIcon class="side_nav_icon">home</mat-icon>Crear</a>
					<a [routerLinkActive]="['active']" mat-list-item [routerLink]="['/auth/lender/suggestion']" ><mat-icon matListIcon class="side_nav_icon">home</mat-icon>Atender</a>
				</mat-expansion-panel>


				<mat-expansion-panel>
					<mat-expansion-panel-header>
						<mat-panel-title>
							<mat-icon matListIcon class="side_nav_icon">home</mat-icon>Incidencias
						</mat-panel-title>
					</mat-expansion-panel-header>
					<a [routerLinkActive]="['active']" mat-list-item [routerLink]="['/auth/client/incidence']" ><mat-icon matListIcon class="side_nav_icon">home</mat-icon>Ver</a>
					<a [routerLinkActive]="['active']" mat-list-item [routerLink]="['/auth/lender/incidence']" ><mat-icon matListIcon class="side_nav_icon">home</mat-icon>Atender</a>
				</mat-expansion-panel>
				

				<mat-expansion-panel>
					<mat-expansion-panel-header>
						<mat-panel-title>
							<mat-icon matListIcon class="side_nav_icon">home</mat-icon>Configuración
						</mat-panel-title>
					</mat-expansion-panel-header>
					<a [routerLinkActive]="['active']" mat-list-item [routerLink]="['/auth/admin/configurations/company']" ><mat-icon matListIcon class="side_nav_icon">home</mat-icon>Empresa</a>
					<a [routerLinkActive]="['active']" mat-list-item [routerLink]="['/auth/admin/configurations/parameter']" ><mat-icon matListIcon class="side_nav_icon">home</mat-icon>Parámetros</a>
					<a [routerLinkActive]="['active']" mat-list-item [routerLink]="['/auth/admin/configurations/catalog']" ><mat-icon matListIcon class="side_nav_icon">home</mat-icon>Catálogos</a>
					<a [routerLinkActive]="['active']" mat-list-item [routerLink]="['/auth/admin/configurations/equipinfras']" ><mat-icon matListIcon class="side_nav_icon">home</mat-icon>Equipos e Infraestructura</a>
					<a [routerLinkActive]="['active']" mat-list-item [routerLink]="['/auth/admin/configurations/service']" ><mat-icon matListIcon class="side_nav_icon">home</mat-icon>Servicios</a>
					<a [routerLinkActive]="['active']" mat-list-item [routerLink]="['/auth/admin/configurations/skill']" ><mat-icon matListIcon class="side_nav_icon">home</mat-icon>Prestadores</a>
					<a [routerLinkActive]="['active']" mat-list-item [routerLink]="['/auth/admin/configurations/promotion']" ><mat-icon matListIcon class="side_nav_icon">home</mat-icon>Promociones</a>
				</mat-expansion-panel>

				<mat-expansion-panel>
					<mat-expansion-panel-header>
						<mat-panel-title>
							<mat-icon matListIcon class="side_nav_icon">home</mat-icon>Administración del Sistema
						</mat-panel-title>
					</mat-expansion-panel-header>
					<a [routerLinkActive]="['active']" mat-list-item [routerLink]="['/auth/admin/configurations/user-role']" ><mat-icon matListIcon class="side_nav_icon">home</mat-icon>Seguridad Funcional</a>
					<a [routerLinkActive]="['active']" mat-list-item [routerLink]="['/auth/admin/backup']" ><mat-icon matListIcon class="side_nav_icon">home</mat-icon>Respaldo de la BD</a>
					<a [routerLinkActive]="['active']" mat-list-item [routerLink]="['/auth/admin/restore']" ><mat-icon matListIcon class="side_nav_icon">home</mat-icon>Recuperar BD</a>
				</mat-expansion-panel>

				<mat-expansion-panel>
					<mat-expansion-panel-header>
						<mat-panel-title>
							<mat-icon matListIcon class="side_nav_icon">home</mat-icon>Reportes
						</mat-panel-title>
					</mat-expansion-panel-header>
					<a [routerLinkActive]="['active']" mat-list-item [routerLink]="['/auth/admin/report']" ><mat-icon matListIcon class="side_nav_icon">home</mat-icon>Estadisticos</a>
					<a [routerLinkActive]="['active']" mat-list-item [routerLink]="['/auth/admin/report']" ><mat-icon matListIcon class="side_nav_icon">home</mat-icon>Estructurados</a>
				</mat-expansion-panel>

			</mat-accordion>

	</mat-nav-list>
</div>