<p>
  service-detail-skills works!
</p>
<mat-nav-list>
	<a mat-list-item [routerLink]="['/auth/configurations/']">Regresar </a>
	<a mat-list-item [routerLink]="['/auth/configurations/service-detail-skill/create']">Create </a>
	<a mat-list-item [routerLink]="['/auth/configurations/service-detail-skill/edit/1']">Edit </a>
	<a mat-list-item [routerLink]="['/auth/configurations/service-detail-skill/show/1']">Show </a>
	<a mat-list-item [routerLink]="['/auth/configurations/service-detail-skill/delete/1']">Delete </a>
</mat-nav-list>