<div class="main_promotion">
	<h2 class="text-center">Promoción/Catálogo</h2>
	<button mat-raised-button color="primary" [routerLink]="['/auth/admin/configurations/promotion/promotion-catalogue']">Volver</button>
	<hr>
	<mat-card>
		<mat-list>
			<mat-list-item> <b>Codigo: </b> 1 </mat-list-item>
		 	<mat-list-item> <b>Catálogo: </b> Catálogo 1 </mat-list-item>
			<mat-list-item> <b>Promoción: </b> Promoción 1</mat-list-item>
			<mat-list-item> <b>Estatus:<span class="badge badge-primary">Activo</span> </b> </mat-list-item>
		
		</mat-list>
	</mat-card>

</div>