<div class="main_request_detail">

	<div class="container">

		<div class="row">
			<div class="col-sm-12">
				<h4 class="titulo text-center">
					Servicio
					<span class="badge badge-success">Finalizado</span>
				</h4>
			</div>
		</div>

		<div class="row">
			<div class="col-sm-12">
				<button mat-raised-button color="primary" [routerLink]="['/auth/client/service']">Volver</button>
			</div>  
		</div>

		<hr>

		<div class="row">
			<div class="col-sm-12">
				<mat-card>
					<mat-card-header class="titulo border-top-danger">
						<mat-card-title>
							Código Servicio 0001
						</mat-card-title>
					</mat-card-header>
					<mat-card-content>

						<div class="row">
							<div class="col-sm-12">
								<mat-list>
									<mat-list-item><h4 mat-line><b>Revisión Asociada: </b><a [routerLink]="['/auth/client/request/detail/1']" class="title" >0001</a></h4></mat-list-item>
									<h3 mat-subheader>Servicios y Recursos Necesarios</h3>
									<div class="row">
										<div class="col-sm-4">
											<div class="ml-3">
												<mat-list-item><h4 mat-subheader><b>Reparación de Motor: </b>20000 Bs.S</h4></mat-list-item>
												<div class="ml-3">
													<mat-list-item>
														<h6 mat-subheader><b>Destornillador</b></h6>
													</mat-list-item>
													<mat-list-item>
														<h6 mat-subheader><b>Martillo</b></h6>
													</mat-list-item>
													<mat-list-item>
														<h6 mat-subheader><b>Personas</b></h6>
													</mat-list-item>
											
													<mat-list-item>
														<h6 mat-subheader><b>Medidor</b></h6>
													</mat-list-item>
												</div>
											</div>
										</div>
										<div class="col-sm-4">
											<div class="ml-3">
												<mat-list-item><h4 mat-subheader><b>Reparación de Motor: </b>20000 Bs.S</h4></mat-list-item>
												<div class="ml-3">
													<mat-list-item>
														<h6 mat-subheader><b>Destornillador</b></h6>
													</mat-list-item>
													<mat-list-item>
														<h6 mat-subheader><b>Martillo</b></h6>
													</mat-list-item>
													<mat-list-item>
														<h6 mat-subheader><b>Personas</b></h6>
													</mat-list-item>
											
													<mat-list-item>
														<h6 mat-subheader><b>Medidor</b></h6>
													</mat-list-item>
												</div>
											</div>
										</div>
										<div class="col-sm-4">
											<div class="ml-3">
												<mat-list-item><h4 mat-subheader><b>Reparación de Motor: </b>20000 Bs.S</h4></mat-list-item>
												<div class="ml-3">
													<mat-list-item>
														<h6 mat-subheader><b>Destornillador</b></h6>
													</mat-list-item>
													<mat-list-item>
														<h6 mat-subheader><b>Martillo</b></h6>
													</mat-list-item>
													<mat-list-item>
														<h6 mat-subheader><b>Personas</b></h6>
													</mat-list-item>
											
													<mat-list-item>
														<h6 mat-subheader><b>Medidor</b></h6>
													</mat-list-item>
												</div>
											</div>
										</div>
									</div>
                					<mat-list-item><h4 mat-line><b>Monto: </b>500000 Bs.S</h4></mat-list-item>
								</mat-list>
							</div>
						</div>

					</mat-card-content>
				</mat-card>
			</div>
		</div>

		<br>

		<div class="row">
			<div class="col-sm-12">
				<mat-card>
					<mat-card-header class="titulo border-top-danger">
						<mat-card-title>
							Seguimiento
						</mat-card-title>
					</mat-card-header>

					<div class="row">
						<div class="offset-sm-2 col-sm-8">
							<mat-list>
								<h3 mat-subheader>Status</h3>

								<mat-list-item>
									<h4 mat-line><span class="badge badge-primary">Presupuestado. En espera por Aprobar</span></h4><mat-icon class="success">check_circle</mat-icon><mat-icon>cancel</mat-icon>
								</mat-list-item>

								<mat-list-item>
									<h4 mat-line><span class="badge badge-primary">Aprobado. En espera por Ejecutar</span></h4><mat-icon class="success">check_circle</mat-icon><mat-icon>cancel</mat-icon>
								</mat-list-item>

								<mat-list-item>
									<h4 mat-line><span class="badge badge-gray">Rechazado. Presupuesto no fue aceptado</span></h4><mat-icon>check_circle</mat-icon><mat-icon>cancel</mat-icon>
								</mat-list-item>
								<div class="ml-3">
									<mat-list-item>
										<span class="ml-3 badge badge-gray">Motivo 1</span>
									</mat-list-item>
									<mat-list-item>
										<span class="ml-3 badge badge-gray">Motivo 2</span>
									</mat-list-item>
									<mat-list-item>
										<span class="ml-3 badge badge-gray">Motivo 3</span>
									</mat-list-item>
								</div>
								<mat-list-item>
									<h4 mat-line><span class="badge badge-primary">Finalizado. Servicio Cerrado</span></h4><mat-icon class="success">check_circle</mat-icon><mat-icon>cancel</mat-icon>
								</mat-list-item>
								<mat-list-item>
									<h4 mat-line><span class="badge badge-gray">En Garantía. Servicio Reclamado</span></h4><mat-icon>check_circle</mat-icon><mat-icon>cancel</mat-icon>
								</mat-list-item>
							</mat-list>
						</div>
					</div>
				</mat-card>
			</div>
		</div>

	</div>
</div>