.main_request_detail .mat-card .mat-card-header {
    background-color: #242451;
    color: white;
}
.main_request_detail .mat-card{
	padding: 0;
}

.mat_card_content img{
  width: 100% !important;
  height: 150px !important;
}

.card_img{
	margin: 1rem !important;
}

.imgRequest{
	margin: 1rem 6rem !important;
}

.title{
	color: #000000 !important;
}

.title:hover{
	color: #185a89 !important;
}