<div class="container">
  <h2 class="text-center">Incidencia</h2>
  <button mat-raised-button color="primary" [routerLink]="['/auth/admin/transactions/incidence']">Volver</button>
  <hr>
  <mat-card>
    <mat-list>
      <mat-list-item> <b>ID: </b> 1</mat-list-item>
        <mat-list-item> <b>Calendario:</b> Agenda de Reparación</mat-list-item>
        <mat-list-item> <b>Tipo de Autor:</b> Prestador</mat-list-item>
        <mat-list-item> <b>Autor:</b> Juan Pérez</mat-list-item>
        <mat-list-item> <b>Motivo:</b> Reposo</mat-list-item>
        <mat-list-item> <b>Descripción del Motivo:</b> Reposo por enfermedad</mat-list-item>
        <mat-list-item> <b>Estatus:<span class="badge badge-primary"> Activo</span></b></mat-list-item>
    </mat-list>
  </mat-card>
</div>