<div class="main_dashboard">
	<div class="container">
		<div class="row">
			<div class="col-sm-12">
				<button mat-raised-button color="primary" (click)="goBack()">Volver</button>
			</div>
		</div>
		<br>

		<div *ngIf="revisions">

			<div class="row">
				<div class="col-sm-12">
					<h2 class="text-center">Solicitudes</h2>
					<hr>
				</div>
			</div>

			<div class="row" *ngIf="revisions.length<=0">
				<div class="col-sm-12">
					<h3 class="text-center mt-3 mb-3">No hay Revisiones con este status</h3>
				</div>
			</div>

			<div class="row" *ngIf="revisions.length>=0">
				<div class="col-sm-4" *ngFor="let revision of revisions">
					<div class="col-sm-12">
						<a [routerLink]="['/auth/lender/request/detail',revision.id]">
							<mat-card class="servicio">
								<mat-card-header class="titulo border-top-danger">
									<mat-card-title>Solicitud</mat-card-title>
								</mat-card-header>
								<mat-card-content class="mat_card_content">
									<div class="row">
										<div class="col-sm-4">
											<img src="../../../../assets/img/catalogue/aire.png" alt="" class="card-img-top">
										</div>

										<div class="col-sm-8">
											Microondas
											<br>
											{{revision.description}}
											<br>
											<span *ngIf="revision.status=='requested'" class="badge badge-dark">Solicitada</span>
											<span *ngIf="revision.status=='diagnosticated'" class="badge badge-warning">Diagnosticada</span>
											<span *ngIf="revision.status=='approved'" class="badge badge-primary">Aprobada</span>
											<span *ngIf="revision.status=='finalized'" class="badge badge-success">Finalizada</span>
											<span *ngIf="revision.status=='cancelled'" class="badge badge-danger">Cancelada</span>

										</div>
									</div>
								</mat-card-content>
								<mat-card-actions>
									<div class="container">
										<div class="row justify-content-between">
											<div class="col-sm-5">
												<button mat-button>DETALLES</button>
											</div>
											<div class="col-sm-7">
												<mat-icon>access_time</mat-icon><span>10/11/2019</span>
											</div>
										</div>
									</div>
								</mat-card-actions>
							</mat-card>
						</a>
					</div>
				</div>

			</div>

		</div>
	</div>
</div>