/* Dayana*/
/* Adaptando colores
Versión 4.0.0
09/07/2019*/

html,body,.mat_sidenav_content{
  padding:0;
  margin:0;
  height: 100%; /*Esto hace que tenga scroll solo el contenido y no el sidenav*/
}

body{
  color: #121212;
}

/*Color de letra general y fondo en todo el body cuando no esta logeado*/
.body,body{
  background: #f2f2f2f2;
}

.mat_sidenav{
  width: 20%;
}

a{
  text-decoration: none !important;
}

.main{
  min-height:100vh;
  padding: 2rem;
  padding-top: 6rem;
}

mat-divider {
  display: none !important; ;
}

/* Centrando login*/
.main_login{
  min-height: 97vh;
}

/*Fondo global de la pagina cuando esta logeado*/
.indigo{
  background-color: #f2f2f2f2 !important; 
}

/*Centro el rol del usuario que esta arriba del sidebar*/
.user-roal{
  margin: auto;
}

.mat_sidenav_container{
  flex: 1;
  height:100%;/*Esto hace que tenga scroll solo el contenido y no el sidenav*/
  min-height:100%;
  width:100%;
  min-width:100%;
}

.mat_sidenav{
  width:20%;
  background-color: #0b173b !important;
  color: #ffffff !important;
  transition: width, ease-in-out 200ms;
}

.mat_sidenav_content{
  height: 100%;
  display: flex;
  flex-direction: column;
  position: relative;
  flex-grow: 1;
  overflow: hidden;
  transition: width, ease-in-out 200ms;
}

.mat_sidenav a,.mat_sidenav mat-card-subtitle{
  color: #ffffff !important;
}

/*Era para agregar una lentitud de transision al abrir y cerrar el sidenav*/
.mat_sidenav.open{
  width: 20%;
}
.mat_sidenav.closed{
  width: 5%;
}

.name_company.open{
    
}
.name_company.closed{
    padding-left: 8% !important;
}

/*.content_open{
  margin-left: 20%;
  transition: width, ease-in-out 200ms;
}
.content_closed{
  margin-left: 5%;
  transition: width, ease-in-out 200ms;
}*/

.side_nav_icon{
  margin-right: 25px;
    margin-left: 5px;
}
.side_nav_header .mat-card-avatar {
  background-image: url("../img/profile/avatar_3.png");
  background-size: cover;
  margin-right: 5px;
  margin-left: 5px;
  height: 40px;
    width: 40px;
    border-radius: 50%;
    flex-shrink: 0;
    object-fit: cover;
}
.side_nav_header.mat-card-header{
  margin: 0 15px;
  display: flex;
  flex-direction: row;
}
.side_nav_header .mat-card-header-text {
    margin: 0 16px;
}
.side_nav_header.mat-card-header .mat-card-title {
    margin-bottom: 12px;
    display: block;
}
.side_nav_header.mat-card-header .mat-card-subtitle {
    margin-top: -8px;
    margin-bottom: 16px;
    display: block;
}

.fixed_toolbar {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
  width: 100%  !important;
  background-color: #0b173b !important;
  border-bottom: solid 1px #d2d2d2;
}
.toolbar_footer{
 border-top: solid 1px #d2d2d2; 
}
.example-container {
  display: flex;
  flex-direction: column;
}

.example-container > * {
  width: 100%;
}

.sidenav_toolbar{
  color: #ffffff !important;
  background-color: #0B173B !important;
}


/*Paleta para los badge*/
span.badge{
  color:#ffffff !important;
}
span.badge-primary{
  background-color: #283593!important;
}
span.badge-success{
  background-color: #94ce9b!important;
}
span.badge-warning{
  background-color: #d0667a!important;
}
span.badge-danger{
  background-color: #f44336!important;
}
span.badge-dark{
  background-color: #121212!important;
}

/*.border-top-primary{
  border-top: solid 6px #283593!important;
}
.border-top-success{
  border-top: solid 6px #94ce9b!important;
}
.border-top-warning{
  border-top: solid 6px #d0667a!important;
}
.border-top-danger{
  border-top: solid 6px #f44336 !important;
}
.border-top-dark{
  border-top: solid 6px #121212!important;
}*/

/*Para eliminar el border al rededor del boton hamburguesa*/
:focus {
  outline: none !important;
}

/*Agrega el fondo del hover, focus y active en el sidenav y toolbar*/
.mat-nav-list .mat-list-item-content:hover, .mat-nav-list .mat-list-item:focus,.mat-nav-list .mat-list-item.active {
  background-color: rgb(24,24,51) !important;
  color: #ffffff
}

.toolbar a{
  color: #121212 !important;
}

.toolbar a:hover,.toolbar a.active{
  color:  #283593 !important;
}

table {
  width: 100%;
}

.mat-form-field {
  font-size: 14px;
  width: 100%;
}

/*td, th {
  width: 25%;
}*/
.mat-dialog-actions{
  display: block !important;
}


.ec-stars-wrapper {
/* Espacio entre los inline-block (los hijos, los `a`) 
http://ksesocss.blogspot.com/2012/03/display-inline-block-y-sus-empeno-en.html */
font-size: 0;
/* Podríamos quitarlo, 
pero de esta manera (siempre que no le demos padding), 
sólo aplicará la regla .ec-stars-wrapper:hover a cuando
también se esté haciendo hover a alguna estrella */
display: inline-block;
}
.ec-stars-wrapper a {
  text-decoration: none;
  display: inline-block;
  /* Volver a dar tamaño al texto */
  font-size: 32px;
  font-size: 2rem;

  color: rgb(39, 130, 228);
}

/*Estilos y efectos hover para los cards de dashboard*/
.main_dashboard .carousel_promotions{
  margin: 1rem 0;
}
.main_dashboard .mat-card{
  display: inline-block;
  width:100%;
  padding: 0 !important;
  border-radius: 8px !important;
  box-shadow: 0 2px 5px 0 rgba(0,0,0,.16), 0 2px 10px 0 rgba(0,0,0,.12) !important;
  transition: all .15s cubic-bezier(.33,.66,.66,1);
  transition-property: all;
  transition-duration: .15s;
  transition-timing-function: cubic-bezier(.33,.66,.66,1);
  transition-delay: initial;
  margin: 1rem 0;
  overflow: hidden !important;
  background-color: #ffffff;
}
.main_dashboard .mat-card .mat-card-content {
  border: solid 1px #d2d2d2;
}
.main_dashboard .mat-card:hover{
  box-shadow: 0 7px 12px rgba(0,0,0,.45) !important;
  transform: translate3d(0,-3px,0);
}

.main_dashboard .mat-card .mat-card-header{
  background-color: #185a89;
  color: white;
}

.main_dashboard .mat-card .mat-card-actions{
  margin: 0 !important;
  background: #f2f2f2;
  padding: .5rem 0!important;
  font-size: 9px;
}
.main_dashboard .mat-card .mat-card-actions .mat-icon{
  position: relative;
  top: 6px;
}
.main_dashboard .mat-card .mat-card-actions button{
  color: white;
  background-color: #242451;
  transition: all .15s cubic-bezier(.33,.66,.66,1);
  transition-property: all;
  transition-duration: .15s;
  transition-timing-function: cubic-bezier(.33,.66,.66,1);
  transition-delay: initial;
  font-size: 9px;
}
.main_dashboard .mat-card .mat-card-actions button:hover{
  box-shadow: 0 7px 12px rgba(0,0,0,.45) !important;
  transform: translate3d(0,-3px,0);
}

.main_dashboard .mat-card-content{
  padding: 1rem 0;
  margin:0;
  text-align: center;
}
.main_dashboard .titulo {
  justify-content: center;
  text-align: center;
}
.main_dashboard .mat-card-header .mat-card-title{
  margin:0;
}

.main_dashboard .btn-floating {
    display: inline-block;
    color: #fff;
    position: relative;
    z-index: 1;
    width: 37px;
    height: 37px;
    line-height: 37px;
    padding: 0;
    border-radius: 50%;
    transition: .3s;
    background-color: #f2f2f2!important;
}
.main_dashboard .box{
  position: relative;
  max-width: 100%;
  overflow: hidden;
}
.main_dashboard .arrow_box{
  position: absolute;
  width: 100%;
  height: 100%;
  max-width: 100%;
  overflow: hidden;
  webkit-align-items: center; 
  -webkit-box-align: center;
  align-items: center;
}

.main_dashboard .waves_effect {
    position: relative;
    cursor: pointer;
    display: inline-block;
    overflow: hidden;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
    vertical-align: middle;
    z-index: 1;
    will-change: opacity,transform;
    -webkit-transition: all .3s ease-out;
    -moz-transition: all .3s ease-out;
    -o-transition: all .3s ease-out;
    -ms-transition: all .3s ease-out;
    transition: all .3s ease-out;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,.16), 0 2px 10px 0 rgba(0,0,0,.12);
}

.main_dashboard .waves_effect:hover{
  box-shadow: 0 5px 11px 0 rgba(0,0,0,.18), 0 4px 15px 0 rgba(0,0,0,.15);
  opacity: .8!important;
}
.main_dashboard .waves_effect:focus:active{
  box-shadow: none;
}
.main_dashboard .mat-icon{
  color: #000000 !important;
}
.main_dashboard .pad_arrow{
  padding: 0 1rem;
}

.main_dashboard .carousel-item img {
  max-width: 100%;
  max-height: 100%;
}