<div class="main_catalogue">
	<h2 class="text-center">Catálogos</h2>
	<button mat-raised-button color="primary" class="mr-3" [routerLink]="['/auth/configurations/catalogue/create']">Nuevo Catálogo</button>
	<button mat-raised-button color="primary" [routerLink]="['/auth/configurations/']">Volver</button>
	<hr>
	
	<div class="table-responsive">
		<table class="table">
			<thead class="thead-dark">
				<tr>
					<th scope="col">Ver</th>
					<th scope="col">Código</th>
					<th scope="col">Tipo de servicio</th>
					<th scope="col">Subcategoría</th>
					<th scope="col">Descripción</th>
					<th scope="col">Estatus</th>
					<th scope="col">Imagen</th>
					<th scope="col">Nombre</th>
					<th scope="col">Editar</th>
					<th scope="col">Eliminar</th>
				</tr>
			</thead>
			<tbody>
				<tr >
					<th scope="row">
						<button mat-raised-button color="primary" [routerLink]="['/auth/configurations/catalogue/show/1']">Ver</button>
					</th>
					<td>1</td>
					<td>Mantenimiento</td>
					<td>Nevera</td>
					<td>Mantenimiento de Neveras</td>
					<td>Activo</td>
					<td>Imagen</td>
					<td>Catálogo 1</td>
					<td><button mat-raised-button color="primary" [routerLink]="['/auth/configurations/catalogue/edit/1']">Editar</button></td>
					<td><button mat-raised-button color="primary" [routerLink]="['/auth/configurations/catalogue']">Eliminar</button></td>
				</tr>
				<tr >
					<th scope="row">
						<button mat-raised-button color="primary" [routerLink]="['/auth/configurations/catalogue/show/1']">Ver</button>
					</th>
					<td>2</td>
					<td>Reparación</td>
					<td>Pared</td>
					<td>Reparación de paredes</td>
					<td>Activo</td>
					<td>Imagen</td>
					<td>Catálogo 2</td>
					<td><button mat-raised-button color="primary" [routerLink]="['/auth/configurations/catalogue/edit/1']">Editar</button></td>
					<td><button mat-raised-button color="primary" [routerLink]="['/auth/configurations/catalogue']">Eliminar</button></td>
				</tr>
				<tr >
					<th scope="row">
						<button mat-raised-button color="primary" [routerLink]="['/auth/configurations/catalogue/show/1']">Ver</button>
					</th>
					<td>3</td>
					<td>Reparación</td>
					<td>Lavadopra</td>
					<td>Reparación de Lavadora</td>
					<td>Activo</td>
					<td>Imagen</td>
					<td>Catálogo</td>
					<td><button mat-raised-button color="primary" [routerLink]="['/auth/configurations/catalogue/edit/1']">Editar</button></td>
					<td><button mat-raised-button color="primary" [routerLink]="['/auth/configurations/catalogue']">Eliminar</button></td>
				</tr>
			</tbody>
		</table>
	</div>
</div>