<div class="container">
  <h2 class="text-center">Variedad</h2>
  <button mat-raised-button color="primary" [routerLink]="['/auth/admin/masters/variety']">Volver</button>
  <hr>
  <mat-card>
    <mat-list>
      <mat-list-item> <b>ID: </b> 1</mat-list-item>
      <mat-list-item> <b>Nombre:</b> Easy</mat-list-item>
      <mat-list-item> <b>Descripción:</b> LAVADORA 11 KG</mat-list-item>
      <mat-list-item> <b>Estatus:<span class="badge badge-primary"> Activo</span></b></mat-list-item>
    </mat-list>
  </mat-card>
</div>