<div class="container">
	<div class="row">
		<div class="col-sm-8 offset-2">
			<div class="row">
				<div class="col-sm-12">
					<h2 class="text-center">Nuevo Parametro de Cliente </h2>
				</div>
			</div>
			<div class="row">
				<div class="col-sm-12">
					<button mat-raised-button color="primary" [routerLink]="['/auth/admin/configurations/parameter-client']">Volver</button>
				</div>
			</div>
			<hr>
			
			<div class="row">
				<div class="col-sm-12">
					<div class="example-container">
						<mat-form-field>
							<input matInput placeholder="Nombre">
						</mat-form-field>

						<mat-form-field>
							<mat-select placeholder="ID Parametro" required>
								<mat-option value="option">parametro 1</mat-option>
								<mat-option value="option">parametro 2</mat-option>
							</mat-select>
					    </mat-form-field>

						<mat-form-field>
							<input matInput placeholder="Parametro Valido">
						</mat-form-field>

						<mat-form-field>
							<mat-select placeholder="ID Cliente" required>
								<mat-option value="option">01</mat-option>
								<mat-option value="option">02</mat-option>
							</mat-select>
					    </mat-form-field>

						<mat-form-field>
							<input matInput placeholder="Creado en">
						</mat-form-field>	
						
						<mat-form-field [hidden]="true">
							<input matInput  placeholder="Estatus" value="A">
						</mat-form-field>
					</div>
				</div>
			</div>
			
			<div class="row">
				<div class="col-sm-12">
					<button mat-raised-button color="primary" [routerLink]="['/auth/admin/configurations/parameter-client/create']">Registrar</button>
				</div>
			</div>
		</div>
	</div>
</div>
