<div class="container">
    <h2 class="text-center">Detalle Variedad</h2>
    <button mat-raised-button color="primary" [routerLink]="['/auth/admin/configurations/equipinfras/variety-detail']">Volver</button>
    <hr>
    <mat-card>
      <mat-list>
        <mat-list-item> <b>ID: </b> 1</mat-list-item>
        <mat-list-item> <b>Variedad: </b> Easy</mat-list-item>
        <mat-list-item> <b>Nombre: </b> LED-1132B</mat-list-item>
        <mat-list-item> <b>Imagen: </b> Imagen1</mat-list-item>
        <mat-list-item> <b>Descripción: </b> LAVADORA 11 KG</mat-list-item>
        <mat-list-item> <b>Estatus:<span class="badge badge-primary"> Activo</span></b></mat-list-item>
      </mat-list>
    </mat-card>
</div>