<!--Segmento de "Tus servicios-->

<br>
<h2>Tus servicios</h2>

<div class="container">
  <div id="carouselServices" class="carousel slide" data-ride="carousel">

    <div class="carousel-inner">

      <div class="carousel-item active">

        <div class="container">
            <div class="row">
                <div class="col-md-3">
                  <mat-card class="servicio">
                    <mat-card-header class="titulo">
                      <mat-card-title>Servicio</mat-card-title>
                    </mat-card-header>
                        
                    <mat-card-content>
                      Descripción: Microondas
                      <br>
                      Dias Restantes: 15
                    </mat-card-content>
                        
                    <mat-card-actions class="boton">
                      <button mat-raised-button-accent>RECLAMAR</button>
                    </mat-card-actions>
                  </mat-card>
                </div>
      
                <div class="col-md-3">
                  <mat-card class="servicio">
                    <mat-card-header class="titulo">
                      <mat-card-title>Servicio</mat-card-title>
                    </mat-card-header>
                          
                    <mat-card-content>
                      Descripción: Microondas
                      <br>
                      Dias Restantes: 15
                    </mat-card-content>
                          
                    <mat-card-actions class="boton">
                      <button mat-raised-button-accent>RECLAMAR</button>
                    </mat-card-actions>
                  </mat-card>
                </div>
      
                <div class="col-md-3">
                  <mat-card class="servicio">
                    <mat-card-header class="titulo">
                      <mat-card-title>Servicio</mat-card-title>
                    </mat-card-header>
                          
                    <mat-card-content>
                      Descripción: Microondas
                      <br>
                      Dias Restantes: 15
                    </mat-card-content>
                            
                    <mat-card-actions class="boton">
                      <button mat-raised-button-accent>RECLAMAR</button>
                    </mat-card-actions>
                  </mat-card>
                </div>
              </div>
        </div>       
        
      </div>

      <div class="carousel-item">
        
        <div class="col-md-3">
          <mat-card>
            <mat-card-header class="titulo">
              <mat-card-title>Revision</mat-card-title>
            </mat-card-header>
            
            <mat-card-content>
              Descripción: Pared
              <br>
              Etapa: En proceso
            </mat-card-content>
            
            <mat-card-actions class="boton">
              <button mat-raised-button-accent>DETALLES</button>
            </mat-card-actions>
          </mat-card>
        </div>
      </div>

      <div class="carousel-item">
        <div class="col-md-3">
          <mat-card>
            <mat-card-header class="titulo">
              <mat-card-title>Revision</mat-card-title>
            </mat-card-header>
            
            <mat-card-content>
              Descripción: Pared
              <br>
              Etapa: En proceso
            </mat-card-content>
            
            <mat-card-actions class="boton">
              <button mat-raised-button-accent>DETALLES</button>
            </mat-card-actions>
          </mat-card>
        </div>
      </div>
    </div>


    <a class="carousel-control-prev" href="#carouselServices" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Anterior</span>
    </a>
    <a class="carousel-control-next" href="#carouselServices" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Siguiente</span>
    </a>
  </div>
</div>


<hr>
<h2>En Garantía</h2>
<!--Segmento de Garantía-->
<div class="container">
  <div class="row">
    <div class="col-md-3">
      <mat-card>
        <mat-card-header class="titulo">
          <mat-card-title>Servicio</mat-card-title>
        </mat-card-header>
    
        <mat-card-content>
          Descripción: Microondas
          <br>
          Dias Restantes: 15
        </mat-card-content>
    
        <mat-card-actions class="boton">
          <button mat-raised-button-accent>RECLAMAR</button>
        </mat-card-actions>
      </mat-card>
    </div>
    
    <mat-card>
      
    </mat-card>
  </div>
  

</div>

<hr>
<h2>Promociones para ti</h2>
<!--Promociones en slider
<div class="container">
  <div class="col-md-8 banner-sec">
    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
      <ol class="carousel-indicators">
        <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
      </ol>
      <div class="carousel-inner" role="listbox">
        <div class="carousel-item active">
          <div class="carousel-caption d-none d-md-block">
          </div>
        </div>
        <div class="carousel-item">
          <div class="carousel-caption d-none d-md-block"> 
          </div>
        </div>
        <div class="carousel-item">
          <div class="carousel-caption d-none d-md-block"> 
          </div>
        </div>
      </div>     
    </div>
  </div>
</div>
-->
<!--Segmento de Promociones-->
<div class="container">
  <div class="row">
    <div class="col-md-4" >
      <mat-card><img src="../../../../assets/img/promotion/promocion_revision_1.jpg" alt="" class="dos"></mat-card>
    </div>
    <div class="col-md-4" >
      <mat-card><img src="../../../../assets/img/promotion/promocion_servicio_1.jpg" alt="" class="dos"></mat-card>
    </div>
    <div class="col-md-4" >
      <mat-card><img src="../../../../assets/img/promotion/promocion_servicio_2.jpg" alt="" class="dos"></mat-card>
    </div>
  </div>
</div>

<hr>
<h2>Catálogo</h2>
<!--Segmento de Catalogo-->
<div class="container">

</div>
