.container {
  margin-top:1rem;
}

.carousel-control-prev-icon,.carousel-control-next-icon {
  height: 100px;
  width: 100px;
  outline: black;
  background-color: rgba(0, 0, 0, 0.3);
  background-size: 100%, 100%;
  //border-radius: 50%;
  border: 1px solid black;
}

.boton {
  display: flex;
  justify-content: center;
  align-items: center;
}

button {
  cursor: pointer;
}


/**
* carousel control style
*/
.carousel-control {
  opacity: 1;
  color: #ccc;
  text-shadow: none;
/*&.left, &.right {
background-image: none;
}*/
}
.carousel-control:hover,
.carousel-control:focus {
  color: #999;
}
.service {
  padding: 5px 10px 5px 10px;
}

.garantia{
  padding: 5px 40px 5px 40px;
}

button {
  color: white;
  background-color: #242451;
}

img {
  max-width: 100%;
  max-height: 100%;
}

