<div>
  <div class="estilo">
    <div class="card secundario uno col-md-4" >
      <img src="../../../../assets/img/promotion/promocion_servicio_1.jpg" alt="" class="dos">
    </div>
    <div class="card secundario uno col-md-4">
      <img src="../../../../assets/img/promotion/promocion_servicio_2.jpg" alt="" class="dos">
    </div>
    <div class="card secundario uno col-md-4">
      <img src="../../../../assets/img/promotion/promocion_revision_1.jpg" alt="" class="dos">
    </div>
  </div>
</div>
