<div class="main_catalogue">
	<h2 class="text-center">Nuevo Detalle de Orden de Servicio</h2>
	<button mat-raised-button color="primary" [routerLink]="['/auth/admin/transactions/service-order-detail']">Volver</button>
	<hr>

	<div class="example-container">
		<mat-form-field>
				<mat-select placeholder="ID Orden de Servicio">
					<mat-option value="option">Orden de servicio 1</mat-option>
					<mat-option value="option">Orden de servicio 2</mat-option>
				</mat-select>
		</mat-form-field>
	
	<div class="example-container">
		<mat-form-field>
				<mat-select placeholder="ID Detalle de Servicio">
					<mat-option value="option">Servicio 1</mat-option>
					<mat-option value="option">Servicio 2</mat-option>
				</mat-select>
		</mat-form-field>

		<mat-form-field>
			    <mat-select placeholder="Duración">
					<mat-option value="option">1 mes</mat-option>
					<mat-option value="option">2 semanas</mat-option>
				</mat-select>
    </mat-form-field>
    
    <mat-form-field>
      <mat-select placeholder="Número de trabajadores">
      <mat-option value="option">1</mat-option>
      <mat-option value="option">2</mat-option>
    </mat-select>
</mat-form-field>

        <mat-form-field>
			<textarea matInput placeholder="Monto"></textarea>
		</mat-form-field>	

	</div>

	<button mat-raised-button color="primary" [routerLink]="['/auth/admin/transactions/service-order-detail/create']">Registrar</button>

</div>