  .main_register{
    background: #fff;
    color:#fff;
    background: -webkit-linear-gradient(to bottom, #FFB88C, #DE6262);
    background: linear-gradient(to bottom, #121212, #0B173B);
    width:100%;
    padding: 50px;
  }

  button{
	color: #fff !important;;
  }

::-webkit-scrollbar {
    width: 0px !important;
}