<div id="breadcrumbs-wrapper">
	<div class="container">
		<div class="row">
			<div class="col s12 m12 l12">
				<h5 class="breadcrumbs-title text-center">Incidencia</h5>
				<div>
					<p>
						<a [routerLink]="['/incidence/create']" class="btn waves-effect waves-light blue">Nuevo Registro</a>
					</p>
				</div>
				<br>
			</div>
		</div>
	</div>
</div>
<div class='table-wrapper'>
	<div id="striped-table">

		<div class="row">
			<div class="col s12">
				<table class="striped">
					<thead>
						<tr>
							<th data-field="id">Id</th>
							<th data-field="name">Nombre</th>
              				<th data-field="price">Tipo</th>
             				<th data-field="price">Descripción</th>
							<th data-field="price">Estatus</th>
							<th data-field="price">Acción</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td><a [routerLink]="['/incidence/show','1']" class="btn waves-effect waves-light grey darken-4">Ver</a></td>
							<td>Falta de insumos</td>
              				<td>Servicio</td>
              				<td>Se requieren insumos adicionales a los solicitados en el presupuesto para la culminación de servicio.</td>
							<td>Activo</td>
							<td>
								<a [routerLink]="['/incidence/edit','1']"class="btn btn-small waves-effect waves-light yellow darken-4">Editar</a>
								<a [routerLink]="['/incidence/delete','1']"class="btn waves-effect waves-light red darken-4">Eliminar</a>
							</td>
						</tr>
					</tbody>
					<tbody>
						<tr>
							<td><a [routerLink]="['/incidence/show','2']" class="btn waves-effect waves-light grey darken-4">Ver</a></td>
							<td>Reprogramación de visita</td>
              				<td>Revisión Preliminar</td>
             			 	<td>El cliente no pudo atender la visita el día pautado.</td>
							<td>Activo</td>
							<td>
								<a [routerLink]="['/incidence/edit','2']"class="btn btn-small waves-effect waves-light yellow darken-4">Editar</a>
								<a [routerLink]="['/incidence/delete','2']"class="btn waves-effect waves-light red darken-4">Eliminar</a>
							</td>
						</tr>
					</tbody>
					<tbody>
						<tr>
						<td><a [routerLink]="['/incidence/show','3']" class="btn waves-effect waves-light grey darken-4">Ver</a></td>
						<td>Reprogramación de visita</td>
              			<td>Servicio</td>
             			<td>Se requieren mas dias de lo planificado para poder culminar el servicio.</td>
						<td>Activo</td>
						<td>
							<a [routerLink]="['/incidence/edit','3']"class="btn btn-small waves-effect waves-light yellow darken-4">Editar</a>
							<a [routerLink]="['/incidence/delete','3']"class="btn waves-effect waves-light red darken-4">Eliminar</a>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>