<h2 class="text-center">Maestros</h2>
<button mat-raised-button color="primary" [routerLink]="['/auth/']">Volver</button>
<hr>


<mat-list-item role="listitem"><button mat-raised-button color="primary" class="mb-3" [routerLink]="['/auth/masters/activity']">Actividad</button></mat-list-item>
<mat-list-item role="listitem"><button mat-raised-button color="primary" class="mb-3" [routerLink]="['/auth/masters/category']">Categoría</button></mat-list-item>
<mat-list-item role="listitem"><button mat-raised-button color="primary" class="mb-3" [routerLink]="['/auth/masters/client']">Cliente</button></mat-list-item>
<mat-list-item role="listitem"><button mat-raised-button color="primary" class="mb-3" [routerLink]="['/auth/masters/company']">Empresa</button></mat-list-item>
<mat-list-item role="listitem"><button mat-raised-button color="primary" class="mb-3" [routerLink]="['/auth/masters/equip-infras']">Equipo/Infraestructura</button></mat-list-item>
<mat-list-item role="listitem"><button mat-raised-button color="primary" class="mb-3" [routerLink]="['/auth/masters/function']">Función</button></mat-list-item>
<mat-list-item role="listitem"><button mat-raised-button color="primary" class="mb-3" [routerLink]="['/auth/masters/parameter']">Parámetros</button></mat-list-item>
<mat-list-item role="listitem"><button mat-raised-button color="primary" class="mb-3" [routerLink]="['/auth/masters/politic']">Política</button></mat-list-item>
<mat-list-item role="listitem"><button mat-raised-button color="primary" class="mb-3" [routerLink]="['/auth/masters/resource']">Recurso</button></mat-list-item>
<mat-list-item role="listitem"><button mat-raised-button color="primary" class="mb-3" [routerLink]="['/auth/masters/role']">Rol</button></mat-list-item>
<mat-list-item role="listitem"><button mat-raised-button color="primary" class="mb-3" [routerLink]="['/auth/masters/skill']">Habilidad</button></mat-list-item>
<mat-list-item role="listitem"><button mat-raised-button color="primary" class="mb-3" [routerLink]="['/auth/masters/sub-category']">Subcategoría</button></mat-list-item>
<mat-list-item role="listitem"><button mat-raised-button color="primary" class="mb-3" [routerLink]="['/auth/masters/user']">Usuario</button></mat-list-item>
<mat-list-item role="listitem"><button mat-raised-button color="primary" class="mb-3" [routerLink]="['/auth/masters/variety']">Variedad</button></mat-list-item>
<mat-list-item role="listitem"><button mat-raised-button color="primary" class="mb-3" [routerLink]="['/auth/masters/variety-detail']">Variedad Detalle</button></mat-list-item>
<mat-list-item role="listitem"><button mat-raised-button color="primary" class="mb-3" [routerLink]="['/auth/masters/worker']">Empleado</button></mat-list-item>-