<div class="container">
	<div class="row">
		<div class="col-sm-8 offset-2">
			<div class="row">
				<div class="col-sm-12">
					<h2 class="text-center">Editar Calendario</h2>
				</div>
			</div>
			<div class="row">
				<div class="col-sm-12">
					<button mat-raised-button color="primary" [routerLink]="['/auth/admin/masters/calendar']">Volver</button>
				</div>
			</div>
			<hr>
			
			<div class="row">
				<div class="col-sm-12">
					<div class="example-container">
						<mat-form-field>
							<mat-select placeholder="Tipo de Calendario">
								<mat-option value="option">1</mat-option>
								<mat-option value="option">2</mat-option>
								<mat-option value="option">3</mat-option>
							</mat-select>
						</mat-form-field>

						<mat-form-field>
							<mat-select placeholder="Revisión/Servicio">
								<mat-option value="option">1</mat-option>
								<mat-option value="option">2</mat-option>
							</mat-select>
						</mat-form-field>

						<mat-form-field>
				        	<input type="date" matInput placeholder="Fecha">
				    	</mat-form-field>

				    	<mat-form-field>
				        	<input type="time" value="08:00:00" matInput placeholder="Hora de Inicio">
				    	</mat-form-field>

						<mat-form-field>
				        	<input type="time" value="17:00:00" matInput placeholder="Hora de Finalización">
				    	</mat-form-field>
				  		
						<mat-form-field [hidden]="true">
							<input matInput  placeholder="Estatus" value="A">
						</mat-form-field>
					</div>
				</div>
			</div>
			
			<div class="row">
				<div class="col-sm-12">
					<button mat-raised-button color="primary" [routerLink]="['/auth/admin/masters/calendar/edit']">Guardar</button>
				</div>
			</div>
		</div>
	</div>
</div>