<div class="container">
	<h2 class="text-center">Tipo Dni</h2>
	<button mat-raised-button color="primary" [routerLink]="['/auth/parameters/dni-type']">Volver</button>
	<hr>
	<mat-card>
		<mat-list>
			<mat-list-item> <b>ID: </b>1</mat-list-item>
			<mat-list-item> <b>Código: </b>0001</mat-list-item>
			<mat-list-item> <b>Nombre:</b> Cédula</mat-list-item>
			<mat-list-item> <b>Descripción:</b> Documento de identidad por cédula</mat-list-item>
			<mat-list-item> <b>Estatus:<span class="badge badge-primary"> Activo</span></b></mat-list-item>
		</mat-list>
	</mat-card>
</div>