/*Junior*/
/*Tema Angular
10/07/2019*/

@import '~@angular/material/theming';

@include mat-core();

$sib-theme-primary: mat-palette($mat-indigo, 800);
$sib-theme-accent: mat-palette($mat-blue, A400, A200);
$sib-theme-warn: mat-palette($mat-red, A700);
$sib-theme: mat-light-theme($sib-theme-primary, $sib-theme-accent, $sib-theme-warn);

@include angular-material-theme($sib-theme);