
<div class="main_service-order-detail">
	<h2 class="text-center">Solicitud</h2>
	<button mat-raised-button color="primary" [routerLink]="['/auth/admin/transactions/service-order-detail']">Volver</button>
	<hr>
	<mat-card>
		<mat-list>
			<mat-list-item> <b>ID Orden Servicio: 123</b> </mat-list-item>
		 	<mat-list-item> <b>ID Detalle Servicio: 456</b> </mat-list-item>
		 	<mat-list-item> <b>Monto: 10000 </b></mat-list-item>
		 	<mat-list-item> <b>Duración: 1 mes</b> </mat-list-item>
      <mat-list-item> <b>Número de trabajadores: 10</b></mat-list-item>
			<mat-list-item> <b>Estatus: </b> <span class="badge badge-danger">Pendiente</span> </mat-list-item>
		</mat-list>
	</mat-card>

</div>