<div class="main_revision_show">
	<h2 class="text-center">Notificación</h2>
	<button mat-raised-button color="primary" [routerLink]="['/auth/admin/transactions/notification']">Volver</button>
	<hr>
	<mat-card>
		<mat-list>
			<mat-list-item> <b>ID Usuario: </b> 1</mat-list-item>
		 	<mat-list-item> <b>ID Tipo Notificación: </b> 1</mat-list-item>
			 <mat-list-item> <b>ID Calificación: </b>1</mat-list-item>
			 <mat-list-item> <b>ID Autor: </b>4</mat-list-item>
		 	<mat-list-item> <b>Leer en: </b> 7</mat-list-item>
			 <mat-list-item> <b>Creado en:</b> 15/08/19"</mat-list-item>
		    <mat-list-item> <b>Actualizado en:</b> 15/08/19"</mat-list-item>
		    <mat-list-item> <b>Estatus:<span class="badge badge-primary"> Activo</span></b></mat-list-item>
		</mat-list>
	</mat-card>

</div>