.mat-card-header .mat-card-title{
  font-size: .8rem;
  padding: .5rem 0;
}

.mat_card_content{
  text-align: left;
}
.card-img-top{
	width: 150px;
    height: 100px;
    justify-content: center !important;
}

.mat_card_content{
  padding: 1rem !important;
  margin:0 !important;
}