<!--
Layaout General
Versión 1.0.0
23/06/2019
-->

<!--Layaout cuando esta logeado que se muestra el nav, el sidebar, el footer y los main-->

<div *ngIf="_authService.loggedIn()" class="cyan">
  <app-navbar></app-navbar>
  <div id="main" class="main">
    <div class="wrapper">
      <app-sidebar></app-sidebar>
      <section id="content">
        <div class="container">
          <div class="section">
            <router-outlet></router-outlet>
          </div>
        </div>
      </section>
    </div>
  </div>
  <app-footer></app-footer>
</div>

<!--Layaout cuando no esta logueado-->
<div *ngIf="!_authService.loggedIn()" class="cyan body main">
    <router-outlet></router-outlet>
</div>


