<div class="main_profile">
	<div class="container-fluid">
		<div class="row">
			<div class="col-sm-12">
				<div class="pz bpi afo">
					<div class="qf"></div>
					<div class="row">
						<div class="col-sm-12">
							<div class="qa avz">
								<img  class="bpj" src="../../../../../../assets/img/profile/avatar_2.png" alt="..."/>
								<h2 class="qb">
									<h3>Anderson Diaz</h3>
									<h6>Prestador</h6>
									<div class="ec-stars-wrapper">
										<a [routerLink]="['/auth/lender/profile/show/1']" data-value="1" title="Votar con 1 estrellas">&#9733;</a>
										<a [routerLink]="['/auth/lender/profile/show/1']" data-value="2" title="Votar con 2 estrellas">&#9733;</a>
										<a [routerLink]="['/auth/lender/profile/show/1']" data-value="3" title="Votar con 3 estrellas">&#9733;</a>
										<a [routerLink]="['/auth/lender/profile/show/1']" data-value="4" title="Votar con 4 estrellas">&#9733;</a>
										<a [routerLink]="['/auth/lender/profile/show/1']" data-value="5" title="Votar con 5 estrellas">&#9733;</a>
									</div>
								</h2>
								<div class="row justify-content-center">
									<button mat-raised-button color="accent" [routerLink]="['/auth/lender/profile/show/1']">
										<mat-icon>photo_library</mat-icon>
										Cambiar Foto de Perfil
									</button>
									<button style="margin-left: 1rem;"mat-raised-button color="accent" [routerLink]="['/auth/lender/profile/edit/1']">
										<mat-icon>edit</mat-icon>
										Editar Perfil
									</button>
								</div>
								<br>
							</div>
						</div>
					</div>

					<div class="row box">
						<div class="col-sm-12">
							<mat-tab-group>
								<mat-tab label="Mis Especialidades">
									<mat-card class="lender_item">
										<mat-card-title>
											<b>Reparación de Lavadoras</b>
										</mat-card-title>
										<mat-card-content>
											Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
										</mat-card-content>
									</mat-card>
									<mat-card class="lender_item">
										<mat-card-title>
											<b>Reparación de Lavadoras</b>
										</mat-card-title>
										<mat-card-content>
											Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
										</mat-card-content>
									</mat-card>
									<mat-card class="lender_item">
										<mat-card-title>
											<b>Reparación de Lavadoras</b>
										</mat-card-title>
										<mat-card-content>
											Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
										</mat-card-content>
									</mat-card>
									<mat-card class="lender_item">
										<mat-card-title>
											<b>Reparación de Lavadoras</b>
										</mat-card-title>
										<mat-card-content>
											Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
										</mat-card-content>
									</mat-card>
								</mat-tab>
								<mat-tab label="Servicios Prestado">
									<mat-card class="lender_item">
										<mat-card-title>
											<b>Reparación de Lavadoras</b>
										</mat-card-title>
										<mat-card-content>
											Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
										</mat-card-content>
									</mat-card>
									<mat-card class="lender_item">
										<mat-card-title>
											<b>Reparación de Lavadoras</b>
										</mat-card-title>
										<mat-card-content>
											Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
										</mat-card-content>
									</mat-card>
									<mat-card class="lender_item">
										<mat-card-title>
											<b>Reparación de Lavadoras</b>
										</mat-card-title>
										<mat-card-content>
											Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
										</mat-card-content>
									</mat-card>
									<mat-card class="lender_item">
										<mat-card-title>
											<b>Reparación de Lavadoras</b>
										</mat-card-title>
										<mat-card-content>
											Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
										</mat-card-content>
									</mat-card>
								</mat-tab>
							</mat-tab-group>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>