<div class="container">
    <div class="row">
      <div class="col-sm-8 offset-2">
        <div class="row">
          <div class="col-sm-12">
            <h2 class="text-center">Editar Detalle de Servicio Recurso</h2>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-12">
            <button mat-raised-button color="primary" [routerLink]="['/auth/admin/configurations/service-detail-resource']">Volver</button>
          </div>
        </div>
        <hr>
        
        <div class="row">
          <div class="col-sm-12">
            <div class="example-container">
              <mat-form-field>
                <mat-select required placeholder="Recurso">
                  <mat-option value="option">Jabon</mat-option>
                  <mat-option value="option">Tornillo con Tuerca</mat-option>
                  <mat-option value="option">Tornillo Tira Fondo</mat-option>
                  <mat-option value="option">Brocha</mat-option>
                </mat-select>
              </mat-form-field>
              <mat-form-field>
                <mat-select required placeholder="Detalle de Servicio">
                  <mat-option value="option">Reparación de Cocina</mat-option>
                  <mat-option value="option">Reparación de Nevera</mat-option>
                </mat-select>
              </mat-form-field>

              <mat-form-field>
                <input matInput required placeholder="Cantidad">
              </mat-form-field>	
            
              <mat-form-field [hidden]="true">
                <input matInput  placeholder="Estatus" value="A">
              </mat-form-field>
            </div>
          </div>
        </div>
        
        <div class="row">
          <div class="col-sm-12">
            <button mat-raised-button color="primary" [routerLink]="['/auth/admin/configurations/service-detail-resource/edit/1']">Guardar</button>
          </div>
        </div>
      </div>
    </div>
  </div>