<div class="container">
  <div class="row">
    <div class="col-sm-8 offset-2">
      <div class="row">
        <div class="col-sm-12">
          <h2 class="text-center">Editar Subcategoría</h2>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12">
          <button mat-raised-button color="primary" [routerLink]="['/auth/admin/configurations/catalog/sub-category']">Volver</button>
        </div>
      </div>
      <hr>
      
      <div class="row">
        <div class="col-sm-12">
          <div class="example-container">
            <mat-form-field>
              <mat-select placeholder="Categoría" required>
                <mat-option value="option">Línea Blanca</mat-option>
                <mat-option value="option">Electrodomésticos</mat-option>
                <mat-option value="option">Interiores</mat-option>
                <mat-option value="option">Exteriores</mat-option>
              </mat-select>
            </mat-form-field>

            <mat-form-field>
              <input matInput placeholder="Nombre" required>
            </mat-form-field>
            
            <mat-form-field>
              <textarea matInput placeholder="Descripción"></textarea>
            </mat-form-field> 
            
            <mat-form-field [hidden]="true">
              <input matInput  placeholder="Estatus" value="A">
            </mat-form-field>
          </div>
        </div>
      </div>
      
      <div class="row">
        <div class="col-sm-12">
          <button mat-raised-button color="primary" [routerLink]="['/auth/admin/configurations/catalog/sub-category/edit/1']">Guardar</button>
        </div>
      </div>
    </div>
  </div>
</div>