s<div class="container">
	<div class="row">
		<div class="col-sm-8 offset-2">
			<div class="row">
				<div class="col-sm-12">
					<h2 class="text-center">Editar Detalle de Servicio</h2>
				</div>
			</div>
			<div class="row">
				<div class="col-sm-12">
					<button mat-raised-button color="primary" (click)="goBack()">Volver</button>
				</div>
			</div>
			<hr>
			
			<div *ngIf="serviceDetail">

				<form #updateForm="ngForm" (ngSubmit)="update(updateForm)">
		
				  <div class="row">
					<div class="col-sm-12">
					  <div class="example-container">
						
						<mat-form-field>
							<mat-select name="ComponentId" [(ngModel)]="serviceDetail.component.id" placeholder="Seleccione un Componente" required>
							  <mat-option *ngFor="let component of components" [value]="component.id">{{ component.name }}</mat-option>
							</mat-select>
						</mat-form-field>

						<mat-form-field>
		                  <mat-select name="type" [(ngModel)]="serviceDetail.serviceType" placeholder="Seleccione un Tipo" required>
		                    <mat-option *ngFor="let type of types" [value]="type.id">{{ type.name }}</mat-option>
		                  </mat-select>
		                </mat-form-field>

						<mat-form-field>
						  <input matInput id="inputName" name="name" placeholder="Nombre" [(ngModel)]="serviceDetail.name" required>
						</mat-form-field>
	  
						<mat-form-field>
						  <textarea matInput name="note" placeholder="Nota" [(ngModel)]="serviceDetail.note" required></textarea>
						</mat-form-field> 
					   
					    
		
						<mat-form-field>
							<input matInput  name="estimatedPrice" placeholder="Precio Estimado" [(ngModel)]="serviceDetail.estimatedPrice" required>
						  </mat-form-field>

						  <mat-form-field>
							<input matInput  name="estimatedWarrantyTime" placeholder="Tiempo Estimado de Garantía" [(ngModel)]="serviceDetail.estimatedWarrantyTime" required>
						  </mat-form-field>
		
						
					  </div>
					</div>
				  </div>
	  
			  
			  <div class="row">
				<div class="col-sm-12">
				  <button mat-raised-button color="primary" type="submit">Guardar</button>
				</div>
			  </div>
			</form>
	  
			</div>
	  
			<div *ngIf="!serviceDetail && !failedConect">
			  <div class="row">
				<div class="col-sm-12 spinner">
				  <mat-spinner></mat-spinner>
				</div>
			  </div>
			</div>
	  
			<div *ngIf="failedConect">
			  <h6 class="text-center">{{failedConect}}</h6>
			</div>
		</div>
	</div>
</div>