<div id="breadcrumbs-wrapper">
	<div class="container">
		<div class="row">
			<div class="col s12 m12 l12">
				<h5 class="breadcrumbs-title text-center">Parámetros</h5>
				<div>
					<p>
						<a [routerLink]="['/parameter/create']" class="btn waves-effect waves-light blue">Nuevo Registro</a>
					</p>
				</div>
				<br>
			</div>
		</div>
	</div>
</div>
<div class='table-wrapper'>
	<div id="striped-table">

		<div class="row">
			<div class="col s12">
				<table class="striped">
					<thead>
						<tr>
							<th data-field="id">Id</th>
							<th data-field="name">Nombre</th>
							<th data-field="price">Descripcion</th>
							<th data-field="price">Estatus</th>
							<th data-field="price">Acción</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td><a [routerLink]="['/parameter/show','1']" class="btn waves-effect waves-light grey darken-4">Ver</a></td>
							<td>Parámetro para Empresa</td>
							<td>Descripción detallada...</td>
							<td>Activo</td>
							<td>
								<a [routerLink]="['/parameter/edit','1']"class="btn btn-small waves-effect waves-light yellow darken-4">Editar</a>
								<a [routerLink]="['/parameter/delete','1']"class="btn waves-effect waves-light red darken-4">Eliminar</a>
							</td>
						</tr>
					</tbody>
					<tbody>
						<tr>
							<td><a [routerLink]="['/parameter/show','2']" class="btn waves-effect waves-light grey darken-4">Ver</a></td>
							<td>Parámetro para Cliente</td>
							<td>Descripción detallada...</td>
							<td>Activo</td>
							<td>
								<a [routerLink]="['/parameter/edit','2']"class="btn btn-small waves-effect waves-light yellow darken-4">Editar</a>
								<a [routerLink]="['/parameter/delete','2']"class="btn waves-effect waves-light red darken-4">Eliminar</a>
							</td>
						</tr>
					</tbody>
					<tbody>
						<tr>
							<td><a [routerLink]="['/parameter/show','3']" class="btn waves-effect waves-light grey darken-4">Ver</a></td>
							<td>Parámetro para Gerente</td>
							<td>Descripción detallada...</td>
							<td>Activo</td>
							<td>
								<a [routerLink]="['/parameter/edit','3']"class="btn btn-small waves-effect waves-light yellow darken-4">Editar</a>
								<a [routerLink]="['/parameter/delete','3']"class="btn waves-effect waves-light red darken-4">Eliminar</a>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>
