
<div class="main_catalogue">
	<h2 class="text-center">Catálogo</h2>
	<button mat-raised-button color="primary" [routerLink]="['/auth/admin/configurations/catalogue']">Volver</button>
	<hr>
	<mat-card>
		<mat-list>
			<mat-list-item> <b>Codigo: </b> 1 </mat-list-item>
		 	<mat-list-item> <b>Tipo  de servicio: </b> Mantenimiento </mat-list-item>
			<mat-list-item> <b>Subcategoría: </b> Nevera</mat-list-item>
			<mat-list-item> <b>Nombre: </b>Catálogo 1</mat-list-item>
			<mat-list-item> <b>Descripción: </b>Mantenimiento de Neveras</mat-list-item>
			<mat-list-item> <b>Estatus:<span class="badge badge-primary">Activo</span> </b> </mat-list-item>
		 	<mat-list-item> <b>Imagen: </b> url1 </mat-list-item>
		</mat-list>
	</mat-card>

</div>