<div class="container">
  <h2 class="text-center">Motivo</h2>
  <button mat-raised-button color="primary" [routerLink]="['/auth/admin/masters/motive']">Volver</button>
  <hr>
  <mat-card>
    <mat-list>
      <mat-list-item> <b>Código: </b> 1</mat-list-item>
      <mat-list-item> <b>Nombre:</b>Rechazada</mat-list-item>
      <mat-list-item> <b>Descripción:</b>	La dirección indicada esta fuera de la región de trabajo</mat-list-item>
      <mat-list-item> <b>Estatus:<span class="badge badge-primary"> Activo</span></b></mat-list-item>
    </mat-list>
  </mat-card>
</div>