<h2 class="text-center">Parámetros</h2>
<button mat-raised-button color="primary" [routerLink]="['/auth/admin/dashboard']">Volver</button>
<hr>

<mat-list-item role="listitem"><button mat-raised-button color="primary" class="mb-3" [routerLink]="['/auth/admin/parameters/bitacora-type']">Bitácora Tipo</button></mat-list-item>
<mat-list-item role="listitem"><button mat-raised-button color="primary" class="mb-3" [routerLink]="['/auth/admin/parameters/calendar-type']">Calendario Tipo</button></mat-list-item>
<mat-list-item role="listitem"><button mat-raised-button color="primary" class="mb-3" [routerLink]="['/auth/admin/parameters/category']">Categoría</button></mat-list-item>
<mat-list-item role="listitem"><button mat-raised-button color="primary" class="mb-3" [routerLink]="['/auth/admin/parameters/motive-incidence']">Motivo Incidencia</button></mat-list-item>
<mat-list-item role="listitem"><button mat-raised-button color="primary" class="mb-3" [routerLink]="['/auth/admin/parameters/notification-type']">Notificación Tipo</button></mat-list-item>
<mat-list-item role="listitem"><button mat-raised-button color="primary" class="mb-3" [routerLink]="['/auth/admin/parameters/service-type']">Tipo de Servicio</button></mat-list-item>
<mat-list-item role="listitem"><button mat-raised-button color="primary" class="mb-3" [routerLink]="['/auth/admin/parameters/sub-category']">Subcategoría</button></mat-list-item>