<div class="container">
    <div class="row">
      <div class="col-sm-8 offset-2">
        <div class="row">
          <div class="col-sm-12">
            <h2 class="text-center">Nuevo Detalle de Servicio Adtividad</h2>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-12">
            <button mat-raised-button color="primary" [routerLink]="['/auth/configurations/service-detail-activity']">Volver</button>
          </div>
        </div>
        <hr>
        
        <div class="row">
          <div class="col-sm-12">
            <div class="example-container">
              <mat-form-field>
                <mat-select placeholder="Detalle de Servicio">
                  <mat-option value="option">Reparación de Cocina</mat-option>
                  <mat-option value="option">Reparación de Nevera</mat-option>
                </mat-select>
              </mat-form-field>

              <mat-form-field>
                <mat-select placeholder="Adtividad">
                  <mat-option value="option">Limpieza de Hornnilla</mat-option>
                  <mat-option value="option">Desmontar Motor</mat-option>
                </mat-select>
              </mat-form-field>
              
              <mat-form-field>
                <input matInput placeholder="Fecha de Creación">
              </mat-form-field>	
              
              <mat-form-field>
                <input matInput placeholder="Tiempo Estimado">
              </mat-form-field>	
              
              <mat-form-field>
                <mat-select placeholder="Grado de Dificultad">
                  <mat-option value="option">Bajo</mat-option>
                  <mat-option value="option">Medio</mat-option>
                  <mat-option value="option">Alto</mat-option>
                </mat-select>
              </mat-form-field>
            </div>
          </div>
        </div>
        
        <div class="row">
          <div class="col-sm-12">
            <button mat-raised-button color="primary" [routerLink]="['/auth/configurations/service-detail-activity/create']">Registrar</button>
          </div>
        </div>
      </div>
    </div>
  </div>