<div class="container">
  <h2 *ngIf="subcategory" class="text-center">Subcategoría</h2>
  <button mat-raised-button color="primary" (click)="goBack()" matTooltip="Volver" matTooltipPosition="above"><mat-icon>arrow_back</mat-icon></button>
  <hr>
  <div *ngIf="subcategory">

    <div class="row">
      <div class="col-sm-12">
        <table mat-table [dataSource]="dataSourceS" class="mat-elevation-z8">

          <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef> Nombre </th>
            <td mat-cell *matCellDef="let row"> {{ row.name }} </td>
          </ng-container>

          <ng-container matColumnDef="description">
            <th mat-header-cell *matHeaderCellDef> Descripción </th>
            <td mat-cell *matCellDef="let row"> {{ row.description }} </td>
          </ng-container>


          <ng-container matColumnDef="category">
            <th mat-header-cell *matHeaderCellDef> Subcategoría </th>
            <td mat-cell *matCellDef="let row"> {{ row.category.name }} </td>
          </ng-container>


          <ng-container matColumnDef="status">
            <th mat-header-cell *matHeaderCellDef> Estatus </th>
            <td mat-cell *matCellDef="let row">
              <span *ngIf="row.status=='active'" class="badge badge-success">{{row.status | titlecase}}</span>
              <span *ngIf="row.status=='deleted'" class="badge badge-danger">{{row.status | titlecase}}</span>
            </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumnsS"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumnsS;"></tr>
        </table>
      </div>
    </div>

    <br>

    <div class="row">
      <div class="col-sm-12">
        <h2 class="text-center">Equipo-Infraestructura</h2>
      </div>
    </div>

    <hr>

    <div *ngIf="equipinfras">

      <div class="row">
        <div class="col-sm-12">
          <mat-form-field>
            <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Buscar">
          </mat-form-field>
        </div>
      </div>

      <div class="row">
        <div class="col-sm-12">
          <div class="mat-elevation-z8">

            <div *ngIf="equipinfras.length<=0 && !failedConect">
              <div class="row">
                <div class="col-sm-12">
                  <h3 class="text-center mt-3 mb-3">Esta Subcategoría no tiene Equipo-Infraestructura asociadas</h3>
                </div>
              </div>
            </div>


            <table *ngIf="equipinfras.length>0" mat-table [dataSource]="dataSource">

              <ng-container matColumnDef="name">
                <th mat-header-cell *matHeaderCellDef> Nombre </th>
                <td mat-cell *matCellDef="let row"> {{ row.name }} </td>
              </ng-container>
    
              <ng-container matColumnDef="description">
                <th mat-header-cell *matHeaderCellDef> Descripción </th>
                <td mat-cell *matCellDef="let row"> {{ row.description }} </td>
              </ng-container>
    
              <ng-container matColumnDef="type">
                <th mat-header-cell *matHeaderCellDef> Tipo </th>
                <td mat-cell *matCellDef="let row">
                  <span *ngIf="row.type=='E'">Equipo</span>
                  <span *ngIf="row.type=='I'">Infraestructura</span>
                </td>
              </ng-container>
    
              <ng-container matColumnDef="varieties">
                <th mat-header-cell *matHeaderCellDef> Variedades </th>
                <td mat-cell *matCellDef="let row"> {{ row.varieties.length}} </td>
              </ng-container>

              
              <ng-container matColumnDef="status">
                <th mat-header-cell *matHeaderCellDef> Estatus </th>
                <td mat-cell *matCellDef="let row">
                  <span *ngIf="row.status=='active'" class="badge badge-success">{{row.status | titlecase}}</span>
                  <span *ngIf="row.status=='deleted'" class="badge badge-danger">{{row.status | titlecase}}</span>
                </td>
              </ng-container>

              


              <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
              <tr mat-row *matRowDef="let row; columns: displayedColumns;">
              </tr>
            </table>

           
          </div>
        </div>
      </div>
    </div>
  </div>



</div>