<div class="main_dashboard">
  <div class="container">
    <div class="container">
      <div class="row">
        <div class="col-sm-12">
          <div id="carouselRequest" class="carousel" data-ride="carousel">
            <div class="container">
              <div class="row">
                <div class="col-sm-12">
                  <h2>Tus Solicitudes</h2>
                  <hr>
                </div>
              </div>
              
            </div>
            <div class="row">
              <div class="col-sm-12">
                <div class="carousel-inner service">
                  <div class="carousel-item active">
                    <div class="container box">
                      <div class="row justify-content-between arrow_box">
                        <div class="col-md-6">
                          <button mat-mini-fab class="waves_effect btn-floating" href="#carouselRequest" title="Anterior" data-slide="prev">
                            <mat-icon>keyboard_arrow_left</mat-icon>
                          </button>
                        </div>
                        <div class="col-md-6 text-md-right">
                          <button mat-mini-fab class="waves_effect btn-floating" href="#carouselRequest" title="Siguiente" data-slide="next">
                            <mat-icon>keyboard_arrow_right</mat-icon>
                          </button>
                        </div>
                      </div>
                      <div class="row pad_arrow">
                        <div class="col-md-3">
                          <a [routerLink]="['/auth/client/request/detail/1']"><mat-card class="servicio">
                            <mat-card-header class="titulo border-top-danger">
                              <mat-card-title>Servicio</mat-card-title>
                            </mat-card-header>
                            <mat-card-content class="mat_card_content">
                              Microondas
                              <br>
                              No calienta
                              <br>
                              <span class="badge badge-danger">Solicitada</span>
                            </mat-card-content>
                            <mat-card-actions>
                              <div class="container">
                                <div class="row justify-content-between">
                                  <div class="col-sm-5">
                                    <button mat-button>DETALLES</button>
                                  </div>
                                  <div class="col-sm-7">
                                    <mat-icon>access_time</mat-icon><span>10/11/2019</span>
                                  </div>
                                </div>
                              </div>
                            </mat-card-actions>
                          </mat-card></a>
                        </div>
                        <div class="col-md-3">
                          <a [routerLink]="['/auth/client/request/detail/1']"><mat-card class="servicio">
                            <mat-card-header class="titulo border-top-danger">
                              <mat-card-title>Servicio</mat-card-title>
                            </mat-card-header>
                            <mat-card-content class="mat_card_content">
                              Nevera
                              <br>
                              No enfría
                              <br>
                              <span class="badge badge-danger">Solicitada</span>
                            </mat-card-content>
                            <mat-card-actions class="boton">
                              <div class="container">
                                <div class="row justify-content-between">
                                  <div class="col-sm-5">
                                    <button mat-button>DETALLES</button>
                                  </div>
                                  <div class="col-sm-7">
                                    <mat-icon>access_time</mat-icon><span>10/11/2019</span>
                                  </div>
                                </div>
                              </div>
                            </mat-card-actions>
                          </mat-card></a>
                        </div>
                        <div class="col-md-3">
                          <a [routerLink]="['/auth/client/request/detail/1']"><mat-card class="servicio">
                            <mat-card-header class="titulo border-top-primary">
                              <mat-card-title>Servicio</mat-card-title>
                            </mat-card-header>
                            <mat-card-content class="mat_card_content">
                              Secadora
                              <br>
                              No enciende
                              <br>
                              <span class="badge badge-primary">En Revisión</span>
                            </mat-card-content>
                            <mat-card-actions class="boton">
                              <div class="container">
                                <div class="row justify-content-between">
                                  <div class="col-sm-5">
                                    <button mat-button>DETALLES</button>
                                  </div>
                                  <div class="col-sm-7">
                                    <mat-icon>access_time</mat-icon><span>10/11/2019</span>
                                  </div>
                                </div>
                              </div>
                            </mat-card-actions>
                          </mat-card></a>
                        </div>
                        <div class="col-md-3">
                          <a [routerLink]="['/auth/client/request/detail/1']"><mat-card class="servicio">
                            <mat-card-header class="titulo border-top-primary">
                              <mat-card-title>Servicio</mat-card-title>
                            </mat-card-header>
                            <mat-card-content class="mat_card_content">
                              Cafetera
                              <br>
                              No cuela
                              <br>
                              <span class="badge badge-primary">En Revisión</span>
                            </mat-card-content>
                            <mat-card-actions class="boton">
                              <div>
                                <div class="container">
                                  <div class="row justify-content-between">
                                    <div class="col-sm-5">
                                      <button mat-button>DETALLES</button>
                                    </div>
                                    <div class="col-sm-7">
                                      <mat-icon>access_time</mat-icon><span>10/11/2019</span>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </mat-card-actions>
                          </mat-card></a>
                        </div>
                      </div>
                    </div>       
                  </div>

                  <div class="carousel-item">
                    <div class="container box">
                      <div class="row justify-content-between arrow_box">
                        <div class="col-md-6">
                          <button mat-mini-fab class="waves_effect btn-floating" href="#carouselRequest" title="Anterior" data-slide="prev">
                            <mat-icon>keyboard_arrow_left</mat-icon>
                          </button>
                        </div>
                        <div class="col-md-6 text-md-right">
                          <button mat-mini-fab class="waves_effect btn-floating" href="#carouselRequest" title="Siguiente" data-slide="next">
                            <mat-icon>keyboard_arrow_right</mat-icon>
                          </button>
                        </div>
                      </div>
                      <div class="row pad_arrow">
                        <div class="col-md-3">
                          <a [routerLink]="['/auth/client/request/detail/1']"><mat-card class="servicio">
                            <mat-card-header class="titulo border-top-success">
                              <mat-card-title>Servicio</mat-card-title>
                            </mat-card-header>
                            <mat-card-content class="mat_card_content">
                              Microondas
                              <br>
                              No calienta
                              <br>
                              <span class="badge badge-success">Revisada</span>
                            </mat-card-content>
                            <mat-card-actions class="boton">
                              <div class="container">
                                <div class="row justify-content-between">
                                  <div class="col-sm-5">
                                    <button mat-button>DETALLES</button>
                                  </div>
                                  <div class="col-sm-7">
                                    <mat-icon>access_time</mat-icon><span>10/11/2019</span>
                                  </div>
                                </div>
                              </div>
                            </mat-card-actions>
                          </mat-card></a>
                        </div>
                        <div class="col-md-3">
                          <a [routerLink]="['/auth/client/request/detail/1']"><mat-card class="servicio">
                            <mat-card-header class="titulo border-top-success">
                              <mat-card-title>Servicio</mat-card-title>
                            </mat-card-header>
                            <mat-card-content class="mat_card_content">
                              Nevera
                              <br>
                              No enfría
                              <br>
                              <span class="badge badge-success">Revisada</span>
                            </mat-card-content>
                            <mat-card-actions class="boton">
                              <div class="container">
                                <div class="row justify-content-between">
                                  <div class="col-sm-5">
                                    <button mat-button>DETALLES</button>
                                  </div>
                                  <div class="col-sm-7">
                                    <mat-icon>access_time</mat-icon><span>10/11/2019</span>
                                  </div>
                                </div>
                              </div>
                            </mat-card-actions>
                          </mat-card></a>
                        </div>
                        <div class="col-md-3">
                          <a [routerLink]="['/auth/client/request/detail/1']"><mat-card class="servicio">
                            <mat-card-header class="titulo border-top-dark">
                              <mat-card-title>Servicio</mat-card-title>
                            </mat-card-header>
                            <mat-card-content class="mat_card_content">
                              Secadora
                              <br>
                              No enciende
                              <br>
                              <span class="badge badge-dark">Cancelada</span>
                            </mat-card-content>
                            <mat-card-actions class="boton">
                              <div class="container">
                                <div class="row justify-content-between">
                                  <div class="col-sm-5">
                                    <button mat-button>DETALLES</button>
                                  </div>
                                  <div class="col-sm-7">
                                    <mat-icon>access_time</mat-icon><span>10/11/2019</span>
                                  </div>
                                </div>
                              </div>
                            </mat-card-actions>
                          </mat-card></a>
                        </div>
                      </div>
                    </div>       
                  </div>

                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="container">
      <div class="row">
        <div class="col-sm-12">
          <div id="carouselServices" class="carousel" data-ride="carousel">
            <div class="container">
              <div class="row">
                <div class="col-sm-12">
                  <h2>Tus servicios</h2>
                  <hr>
                </div>
              </div>
              
            </div>
            <div class="row">
              <div class="col-sm-12">
                <div class="carousel-inner service">
                  <div class="carousel-item active">
                    <div class="container box">
                      <div class="row justify-content-between arrow_box">
                        <div class="col-md-6">
                          <button mat-mini-fab class="waves_effect btn-floating" href="#carouselServices" title="Anterior" data-slide="prev">
                            <mat-icon>keyboard_arrow_left</mat-icon>
                          </button>
                        </div>
                        <div class="col-md-6 text-md-right">
                          <button mat-mini-fab class="waves_effect btn-floating" href="#carouselServices" title="Siguiente" data-slide="next">
                            <mat-icon>keyboard_arrow_right</mat-icon>
                          </button>
                        </div>
                      </div>
                      <div class="row pad_arrow">
                        <div class="col-md-3">
                          <a [routerLink]="['/auth/client/service']"><mat-card class="servicio">
                            <mat-card-header class="titulo border-top-dark">
                              <mat-card-title>Servicio</mat-card-title>
                            </mat-card-header>
                            <mat-card-content class="mat_card_content">
                              Microondas
                              <br>
                              No calienta
                              <br>
                              <span class="badge badge-danger">En Espera</span>
                            </mat-card-content>
                            <mat-card-actions>
                              <div class="container">
                                <div class="row justify-content-between">
                                  <div class="col-sm-5">
                                    <button mat-button>DETALLES</button>
                                  </div>
                                  <div class="col-sm-7">
                                    <mat-icon>access_time</mat-icon><span>10/11/2019</span>
                                  </div>
                                </div>
                              </div>
                            </mat-card-actions>
                          </mat-card></a>
                        </div>
                        <div class="col-md-3">
                          <a [routerLink]="['/auth/client/service']"><mat-card class="servicio">
                            <mat-card-header class="titulo border-top-danger">
                              <mat-card-title>Servicio</mat-card-title>
                            </mat-card-header>
                            <mat-card-content class="mat_card_content">
                              Nevera
                              <br>
                              No enfría
                              <br>
                              <span class="badge badge-danger">En Espera</span>
                            </mat-card-content>
                            <mat-card-actions class="boton">
                              <div class="container">
                                <div class="row justify-content-between">
                                  <div class="col-sm-5">
                                    <button mat-button>DETALLES</button>
                                  </div>
                                  <div class="col-sm-7">
                                    <mat-icon>access_time</mat-icon><span>10/11/2019</span>
                                  </div>
                                </div>
                              </div>
                            </mat-card-actions>
                          </mat-card></a>
                        </div>
                        <div class="col-md-3">
                          <a [routerLink]="['/auth/client/service']"><mat-card class="servicio">
                            <mat-card-header class="titulo border-top-primary">
                              <mat-card-title>Servicio</mat-card-title>
                            </mat-card-header>
                            <mat-card-content class="mat_card_content">
                              Secadora
                              <br>
                              No enciende
                              <br>
                              <span class="badge badge-primary">En Ejecución</span>
                            </mat-card-content>
                            <mat-card-actions class="boton">
                              <div class="container">
                                <div class="row justify-content-between">
                                  <div class="col-sm-5">
                                    <button mat-button>DETALLES</button>
                                  </div>
                                  <div class="col-sm-7">
                                    <mat-icon>access_time</mat-icon><span>10/11/2019</span>
                                  </div>
                                </div>
                              </div>
                            </mat-card-actions>
                          </mat-card></a>
                        </div>
                        <div class="col-md-3">
                          <a [routerLink]="['/auth/client/service']"><mat-card class="servicio">
                            <mat-card-header class="titulo border-top-primary">
                              <mat-card-title>Servicio</mat-card-title>
                            </mat-card-header>
                            <mat-card-content class="mat_card_content">
                              Cafetera
                              <br>
                              No cuela
                              <br>
                              <span class="badge badge-primary">En Ejecución</span>
                            </mat-card-content>
                            <mat-card-actions class="boton">
                              <div>
                                <div class="container">
                                  <div class="row justify-content-between">
                                    <div class="col-sm-5">
                                      <button mat-button>DETALLES</button>
                                    </div>
                                    <div class="col-sm-7">
                                      <mat-icon>access_time</mat-icon><span>10/11/2019</span>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </mat-card-actions>
                          </mat-card></a>
                        </div>
                      </div>
                    </div>       
                  </div>

                  <div class="carousel-item">
                    <div class="container box">
                      <div class="row justify-content-between arrow_box">
                        <div class="col-md-6">
                          <button mat-mini-fab class="waves_effect btn-floating" href="#carouselServices" title="Anterior" data-slide="prev">
                            <mat-icon>keyboard_arrow_left</mat-icon>
                          </button>
                        </div>
                        <div class="col-md-6 text-md-right">
                          <button mat-mini-fab class="waves_effect btn-floating" href="#carouselServices" title="Siguiente" data-slide="next">
                            <mat-icon>keyboard_arrow_right</mat-icon>
                          </button>
                        </div>
                      </div>
                      <div class="row pad_arrow">
                        <div class="col-md-3">
                          <a [routerLink]="['/auth/client/service']"><mat-card class="servicio">
                            <mat-card-header class="titulo border-top-dark">
                              <mat-card-title>Servicio</mat-card-title>
                            </mat-card-header>
                            <mat-card-content class="mat_card_content">
                              Microondas
                              <br>
                              No calienta
                              <br>
                              <span class="badge badge-dark">Cancelada</span>
                            </mat-card-content>
                            <mat-card-actions class="boton">
                              <div class="container">
                                <div class="row justify-content-between">
                                  <div class="col-sm-5">
                                    <button mat-button>DETALLES</button>
                                  </div>
                                  <div class="col-sm-7">
                                    <mat-icon>access_time</mat-icon><span>10/11/2019</span>
                                  </div>
                                </div>
                              </div>
                            </mat-card-actions>
                          </mat-card></a>
                        </div>
                        <div class="col-md-3">
                          <a [routerLink]="['/auth/client/service']"><mat-card class="servicio">
                            <mat-card-header class="titulo border-top-success">
                              <mat-card-title>Servicio</mat-card-title>
                            </mat-card-header>
                            <mat-card-content class="mat_card_content">
                              Nevera
                              <br>
                              No enfría
                              <br>
                              <span class="badge badge-success">Terminada</span>
                            </mat-card-content>
                            <mat-card-actions class="boton">
                              <div class="container">
                                <div class="row justify-content-between">
                                  <div class="col-sm-5">
                                    <button mat-button>DETALLES</button>
                                  </div>
                                  <div class="col-sm-7">
                                    <mat-icon>access_time</mat-icon><span>10/11/2019</span>
                                  </div>
                                </div>
                              </div>
                            </mat-card-actions>
                          </mat-card></a>
                        </div>
                        <div class="col-md-3">
                          <a [routerLink]="['/auth/client/service']"><mat-card class="servicio">
                            <mat-card-header class="titulo border-top-success">
                              <mat-card-title>Servicio</mat-card-title>
                            </mat-card-header>
                            <mat-card-content class="mat_card_content">
                              Secadora
                              <br>
                              No enciende
                              <br>
                              <span class="badge badge-success">Terminada</span>
                            </mat-card-content>
                            <mat-card-actions class="boton">
                              <div class="container">
                                <div class="row justify-content-between">
                                  <div class="col-sm-5">
                                    <button mat-button>DETALLES</button>
                                  </div>
                                  <div class="col-sm-7">
                                    <mat-icon>access_time</mat-icon><span>10/11/2019</span>
                                  </div>
                                </div>
                              </div>
                            </mat-card-actions>
                          </mat-card></a>
                        </div>
                      </div>
                    </div>       
                  </div>

                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="container">
      <div class="row">
        <div class="col-sm-12">
          <div id="carouselWarranty" class="carousel" data-ride="carousel">
            <div class="container">
              <div class="row">
                <div class="col-sm-12">
                  <h2>En Garantía</h2>
                  <hr>
                </div>
              </div>
              
            </div>
            <div class="row">
              <div class="col-sm-12">
                <div class="carousel-inner service">
                  <div class="carousel-item active">
                    <div class="container box">
                      <div class="row justify-content-between arrow_box">
                        <div class="col-md-6">
                          <button mat-mini-fab class="waves_effect btn-floating" href="#carouselWarranty" title="Anterior" data-slide="prev">
                            <mat-icon>keyboard_arrow_left</mat-icon>
                          </button>
                        </div>
                        <div class="col-md-6 text-md-right">
                          <button mat-mini-fab class="waves_effect btn-floating" href="#carouselWarranty" title="Siguiente" data-slide="next">
                            <mat-icon>keyboard_arrow_right</mat-icon>
                          </button>
                        </div>
                      </div>
                      <div class="row pad_arrow">
                        <div class="col-md-3">
                          <a [routerLink]="['/auth/client/service']"><mat-card class="servicio">
                            <mat-card-header class="titulo border-top-success">
                              <mat-card-title>Servicio</mat-card-title>
                            </mat-card-header>
                            <mat-card-content class="mat_card_content">
                              Secadora
                              <br>
                              Se volvio a dañar
                              <br>
                              <span class="badge badge-success">30 dias restantes</span>
                            </mat-card-content>
                            <mat-card-actions class="boton">
                              <div class="container">
                                <div class="row justify-content-between">
                                  <div class="col-sm-5">
                                    <button mat-button>DETALLES</button>
                                  </div>
                                  <div class="col-sm-7">
                                    <mat-icon>access_time</mat-icon><span>10/11/2019</span>
                                  </div>
                                </div>
                              </div>
                            </mat-card-actions>
                          </mat-card></a>
                        </div>
                        <div class="col-md-3">
                          <a [routerLink]="['/auth/client/service']"><mat-card class="servicio">
                            <mat-card-header class="titulo border-top-success">
                              <mat-card-title>Servicio</mat-card-title>
                            </mat-card-header>
                            <mat-card-content class="mat_card_content">
                              Secadora
                              <br>
                              Se volvio a dañar
                              <br>
                              <span class="badge badge-success">30 dias restantes</span>
                            </mat-card-content>
                            <mat-card-actions class="boton">
                              <div class="container">
                                <div class="row justify-content-between">
                                  <div class="col-sm-5">
                                    <button mat-button>DETALLES</button>
                                  </div>
                                  <div class="col-sm-7">
                                    <mat-icon>access_time</mat-icon><span>10/11/2019</span>
                                  </div>
                                </div>
                              </div>
                            </mat-card-actions>
                          </mat-card></a>
                        </div>
                        <div class="col-md-3">
                          <a [routerLink]="['/auth/client/service']"><mat-card class="servicio">
                            <mat-card-header class="titulo border-top-primary">
                              <mat-card-title>Servicio</mat-card-title>
                            </mat-card-header>
                            <mat-card-content class="mat_card_content">
                              Secadora
                              <br>
                              Se volvio a dañar
                              <br>
                              <span class="badge badge-primary">20 dias restantes</span>
                            </mat-card-content>
                            <mat-card-actions class="boton">
                              <div class="container">
                                <div class="row justify-content-between">
                                  <div class="col-sm-5">
                                    <button mat-button>DETALLES</button>
                                  </div>
                                  <div class="col-sm-7">
                                    <mat-icon>access_time</mat-icon><span>10/11/2019</span>
                                  </div>
                                </div>
                              </div>
                            </mat-card-actions>
                          </mat-card></a>
                        </div>
                        <div class="col-md-3">
                          <a [routerLink]="['/auth/client/service']"><mat-card class="servicio">
                            <mat-card-header class="titulo border-top-primary">
                              <mat-card-title>Servicio</mat-card-title>
                            </mat-card-header>
                            <mat-card-content class="mat_card_content">
                              Secadora
                              <br>
                              Se volvio a dañar
                              <br>
                              <span class="badge badge-primary">20 dias restantes</span>
                            </mat-card-content>
                            <mat-card-actions class="boton">
                              <div>
                                <div class="container">
                                  <div class="row justify-content-between">
                                    <div class="col-sm-5">
                                      <button mat-button>DETALLES</button>
                                    </div>
                                    <div class="col-sm-7">
                                      <mat-icon>access_time</mat-icon><span>10/11/2019</span>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </mat-card-actions>
                          </mat-card></a>
                        </div>
                      </div>
                    </div>       
                  </div>

                  <div class="carousel-item">
                    <div class="container box">
                      <div class="row justify-content-between arrow_box">
                        <div class="col-md-6">
                          <button mat-mini-fab class="waves_effect btn-floating" href="#carouselWarranty" title="Anterior" data-slide="prev">
                            <mat-icon>keyboard_arrow_left</mat-icon>
                          </button>
                        </div>
                        <div class="col-md-6 text-md-right">
                          <button mat-mini-fab class="waves_effect btn-floating" href="#carouselWarranty" title="Siguiente" data-slide="next">
                            <mat-icon>keyboard_arrow_right</mat-icon>
                          </button>
                        </div>
                      </div>
                      <div class="row pad_arrow">
                        <div class="col-md-3">
                          <a [routerLink]="['/auth/client/service']"><mat-card class="servicio">
                            <mat-card-header class="titulo border-top-danger">
                              <mat-card-title>Servicio</mat-card-title>
                            </mat-card-header>
                            <mat-card-content class="mat_card_content">
                              Secadora
                              <br>
                              Se volvio a dañar
                              <br>
                              <span class="badge badge-danger">10 dias restantes</span>
                            </mat-card-content>
                            <mat-card-actions class="boton">
                              <div class="container">
                                <div class="row justify-content-between">
                                  <div class="col-sm-5">
                                    <button mat-button>DETALLES</button>
                                  </div>
                                  <div class="col-sm-7">
                                    <mat-icon>access_time</mat-icon><span>10/11/2019</span>
                                  </div>
                                </div>
                              </div>
                            </mat-card-actions>
                          </mat-card></a>
                        </div>
                        <div class="col-md-3">
                          <a [routerLink]="['/auth/client/service']"><mat-card class="servicio">
                            <mat-card-header class="titulo border-top-danger">
                              <mat-card-title>Servicio</mat-card-title>
                            </mat-card-header>
                            <mat-card-content class="mat_card_content">
                              Secadora
                              <br>
                              Se volvio a dañar
                              <br>
                              <span class="badge badge-danger">10 dias restantes</span>
                            </mat-card-content>
                            <mat-card-actions class="boton">
                              <div class="container">
                                <div class="row justify-content-between">
                                  <div class="col-sm-5">
                                    <button mat-button>DETALLES</button>
                                  </div>
                                  <div class="col-sm-7">
                                    <mat-icon>access_time</mat-icon><span>10/11/2019</span>
                                  </div>
                                </div>
                              </div>
                            </mat-card-actions>
                          </mat-card></a>
                        </div>
                        <div class="col-md-3">
                          <a [routerLink]="['/auth/client/service']"><mat-card class="servicio">
                            <mat-card-header class="titulo border-top-dark">
                              <mat-card-title>Servicio</mat-card-title>
                            </mat-card-header>
                            <mat-card-content class="mat_card_content">
                              Secadora
                              <br>
                              Se volvio a dañar
                              <br>
                              <span class="badge badge-dark">5 dias restantes</span>
                            </mat-card-content>
                            <mat-card-actions class="boton">
                              <div class="container">
                                <div class="row justify-content-between">
                                  <div class="col-sm-5">
                                    <button mat-button>DETALLES</button>
                                  </div>
                                  <div class="col-sm-7">
                                    <mat-icon>access_time</mat-icon><span>10/11/2019</span>
                                  </div>
                                </div>
                              </div>
                            </mat-card-actions>
                          </mat-card></a>
                        </div>
                      </div>
                    </div>       
                  </div>

                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="container">
      <div class="row">
        <div class="col-sm-12">
          <div id="carouselPromotion" class="carousel" data-ride="carousel">
            <div class="container">
              <div class="row">
                <div class="col-sm-12">
                  <h2>Promociones Para ti</h2>
                  <hr>
                </div>
              </div>
              
            </div>
            <div class="row">
              <div class="col-sm-12">
                <div class="carousel-inner carousel_promotions service">
                  <div class="carousel-item active">
                    <div class="container box">
                      <div class="row justify-content-between arrow_box">
                        <div class="col-md-6">
                          <button mat-mini-fab class="waves_effect btn-floating" href="#carouselPromotion" title="Anterior" data-slide="prev">
                            <mat-icon>keyboard_arrow_left</mat-icon>
                          </button>
                        </div>
                        <div class="col-md-6 text-md-right">
                          <button mat-mini-fab class="waves_effect btn-floating" href="#carouselPromotion" title="Siguiente" data-slide="next">
                            <mat-icon>keyboard_arrow_right</mat-icon>
                          </button>
                        </div>
                      </div>
                      <div class="row pad_arrow">
                        <div class="col-sm-12">
                          <img src="../../../../assets/img/promotion/promocion_1.jpg" alt="">
                        </div>
                      </div>
                    </div>       
                  </div>
                  <div class="carousel-item">
                    <div class="container box">
                      <div class="row justify-content-between arrow_box">
                        <div class="col-md-6">
                          <button mat-mini-fab class="waves_effect btn-floating" href="#carouselPromotion" title="Anterior" data-slide="prev">
                            <mat-icon>keyboard_arrow_left</mat-icon>
                          </button>
                        </div>
                        <div class="col-md-6 text-md-right">
                          <button mat-mini-fab class="waves_effect btn-floating" href="#carouselPromotion" title="Siguiente" data-slide="next">
                            <mat-icon>keyboard_arrow_right</mat-icon>
                          </button>
                        </div>
                      </div>
                      <div class="row pad_arrow">
                        <div class="col-sm-12">
                          <img src="../../../../assets/img/promotion/promocion_2.jpg" alt="">
                        </div>
                      </div>
                    </div>       
                  </div>
                  <div class="carousel-item">
                    <div class="container box">
                      <div class="row justify-content-between arrow_box">
                        <div class="col-md-6">
                          <button mat-mini-fab class="waves_effect btn-floating" href="#carouselPromotion" title="Anterior" data-slide="prev">
                            <mat-icon>keyboard_arrow_left</mat-icon>
                          </button>
                        </div>
                        <div class="col-md-6 text-md-right">
                          <button mat-mini-fab class="waves_effect btn-floating" href="#carouselPromotion" title="Siguiente" data-slide="next">
                            <mat-icon>keyboard_arrow_right</mat-icon>
                          </button>
                        </div>
                      </div>
                      <div class="row pad_arrow">
                        <div class="col-sm-12">
                          <img src="../../../../assets/img/promotion/promocion_3.jpg" alt="">
                        </div>
                      </div>
                    </div>       
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="container">
      <div class="row">
        <div class="col-sm-12">
          <div class="container">
            <div class="row">
              <div class="col-sm-12">
                <h2>Servicios que te pueden interesar</h2>
                <hr>
              </div>
            </div>
            <div class="row">
              <div class="col-md-3">
                <a [routerLink]="['/auth/client/catalog']"><mat-card>
                  <mat-card-content  class="titulo">
                    <img src="../../../../assets/img/catalogue/lavavajilla.png" alt="" class="card-img-top">
                    <h4>Lavavajillas</h4>
                  </mat-card-content>
                </mat-card></a>
              </div>
              <div class="col-md-3">
                <a [routerLink]="['/auth/client/catalog']"><mat-card>
                  <mat-card-content  class="titulo">
                    <img src="../../../../assets/img/catalogue/lavadora.png" alt="" class="card-img-top">
                    <h4>Lavadora</h4>
                  </mat-card-content>
                </mat-card></a>
              </div>
              <div class="col-md-3">
                <a [routerLink]="['/auth/client/catalog']"><mat-card>
                  <mat-card-content  class="titulo">
                    <img src="../../../../assets/img/catalogue/microondas.png" alt="" class="card-img-top">
                    <h4>Microondas</h4>
                  </mat-card-content>
                </mat-card></a>
              </div>
              <div class="col-md-3">
                <a [routerLink]="['/auth/client/catalog']"><mat-card>
                  <mat-card-content  class="titulo">
                    <img src="../../../../assets/img/catalogue/nevera.png" alt="" class="card-img-top">
                    <h4>Nevera</h4>
                  </mat-card-content>
                </mat-card></a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="container">
      <div class="row">
        <div class="col-sm-12">
          <div class="container">
            <div class="row">
              <div class="col-sm-12">
                <h2>Categorías populares</h2>
                <hr>
              </div>
            </div>
            <div class="row">
              <div class="col-md-3">
                <a [routerLink]="['/auth/client/catalog']"><mat-card>
                  <mat-card-content class="titulo">
                    <img src="../../../../assets/img/category/carpinteria.png" alt="" class="card-img-top">
                    <h4>Carpintería</h4>
                  </mat-card-content>
                </mat-card></a>
              </div>
              <div class="col-md-3">
                <a [routerLink]="['/auth/client/catalog']"><mat-card>
                  <mat-card-content class="titulo">
                    <img src="../../../../assets/img/category/pintura.png" alt="" class="card-img-top">
                    <h4>Pintura</h4>
                  </mat-card-content>
                </mat-card></a>
              </div>
              <div class="col-md-3">
                <a [routerLink]="['/auth/client/catalog']"><mat-card>
                  <mat-card-content class="titulo">
                    <img src="../../../../assets/img/category/plomeria.png" alt="" class="card-img-top">
                    <h4>Plomería</h4>
                  </mat-card-content>
                </mat-card></a>
              </div>
              <div class="col-md-3">
                <a [routerLink]="['/auth/client/catalog']"><mat-card>
                  <mat-card-content class="titulo">
                    <img src="../../../../assets/img/category/refrigeracion.png" alt="" class="card-img-top">
                    <h4>Refrigeración</h4>      
                  </mat-card-content>
                </mat-card></a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>