<div class="container" *ngIf="user">
	<h2 class="text-center">Usuario</h2>
	<button mat-raised-button color="primary" [routerLink]="['/auth/admin/configurations/user-role/user']">Volver</button>
	<hr>
	<mat-card>
		<mat-list>
			<mat-list-item> <b>ID: </b> {{ user.id }}</mat-list-item>
		 	<mat-list-item> <b>Email: </b> {{ user.email }} </mat-list-item>
      		<mat-list-item> <b>Nombre: </b> {{ user.firstName }} </mat-list-item>
      		<mat-list-item> <b>Apellido: </b> {{ user.lastName }} </mat-list-item>
      		<mat-list-item> <b>Tipo Dni: </b> {{ user.typeDni }} </mat-list-item>
      		<mat-list-item> <b>Dni: </b> {{ user.dni }} </mat-list-item>
      		<mat-list-item> <b>Género: </b> {{ user.gender | titlecase }} </mat-list-item>
      		<mat-list-item> <b>Fecha de Nacimiento: </b> {{ user.dateOfBirth }} </mat-list-item>
      		<mat-list-item> <b>Estatus:<span *ngIf="user.status=='active'" class="badge badge-succes"> {{ user.status | titlecase }}</span></b></mat-list-item>
      		<mat-list-item> <b>Estatus:<span *ngIf="user.status=='inactive'" class="badge badge-danger"> {{ user.status | titlecase }}</span></b></mat-list-item>
      		<mat-list-item> <b>Nota: </b> {{ user.note }}</mat-list-item>
      		<mat-list-item> <b>Rol: </b> {{ user.role.name }} </mat-list-item>
		</mat-list>
	</mat-card>
</div>

<div *ngIf="!user && !failedConect">
	<div class="container">
		<div class="row">
			<div class="col-sm-12 spinner">
				<mat-spinner></mat-spinner>
			</div>
		</div>
	</div>
</div>
<div *ngIf="failedConect">
	<h6 class="text-center">{{failedConect}}</h6>
</div>