<div class="container">
	<div class="row">
		<div class="col-sm-12">
			<h2 class="text-center">Usuarios</h2>
		</div>
	</div>
	<div class="row">
		<div class="col-sm-12">
			<button mat-raised-button color="primary" class="mr-3" [routerLink]="['/auth/admin/configurations/user-role/user/create']">Nuevo Usuario</button>
			<button mat-raised-button color="primary" [routerLink]="['/auth/admin/configurations/user-role']">Volver</button>
		</div>
	</div>
	<hr>

	<div class="row">
		<div class="col-sm-12">
			<mat-tab-group>
			  <!-- <mat-tab label="Todos"> <sib-user-alls></sib-user-alls> </mat-tab> -->
			  <mat-tab label="Activos"> <sib-user-actives (click)="getUsers()"></sib-user-actives> </mat-tab>
			  <mat-tab label="Inactivos"> <sib-user-inactives (click)="getUsers()"></sib-user-inactives> </mat-tab>
			</mat-tab-group>
		</div>
	</div>

</div>
