
<div class="main_service-order">
	<h2 class="text-center">Orden de Servicio</h2>
	<button mat-raised-button color="primary" [routerLink]="['/auth/admin/transactions/service-order']">Volver</button>
	<hr>
	<mat-card>
		<mat-list>
			<mat-list-item> <b>ID Revisión: 123</b> </mat-list-item>
		 	<mat-list-item> <b>Código: 00964</b> </mat-list-item>
		 	<mat-list-item> <b>Monto: 10000</b></mat-list-item>
		 	<mat-list-item> <b>Descuento: 20%</b> </mat-list-item>
      <mat-list-item> <b>Impuestos: 30%</b></mat-list-item>
      <mat-list-item><b>Tiempo de Garantía: 60 días</b></mat-list-item>
      <mat-list-item><b>Razón: Construcción de pared</b></mat-list-item>
			<mat-list-item> <b>Estatus: </b> <span class="badge badge-danger">Pendiente</span> </mat-list-item>
		</mat-list>
	</mat-card>

</div>