<div class="container">
	<div class="row">
		<div class="col-sm-8 offset-2">
			<div class="row">
				<div class="col-sm-12">
					<h2 class="text-center">Editar Revisión</h2>
				</div>
			</div>
			<div class="row">
				<div class="col-sm-12">
					<button mat-raised-button color="primary" [routerLink]="['/auth/admin/transactions/revision']">Volver</button>
				</div>
			</div>
			<hr>
			
			<div class="row">
				<div class="col-sm-12">
					<div class="example-container">
						<mat-form-field>
							<mat-select placeholder="ID Solicitud" required>
								<mat-option value="option">6464</mat-option>
								<mat-option value="option">73747</mat-option>
							</mat-select>
					</mat-form-field>
			
					<mat-form-field>
							<mat-select placeholder="ID Orden de servicio" required>
								<mat-option value="option">6436347</mat-option>
								<mat-option value="option">97686</mat-option>
								<mat-option value="option">6855</mat-option>
							</mat-select>
					</mat-form-field>

					<mat-form-field>
						<textarea matInput placeholder="Nota"></textarea>
					</mat-form-field>

					<mat-form-field>
						<input matInput placeholder="Número de trabajadores">
					</mat-form-field>

					<mat-form-field>
						<input matInput placeholder="Número de días">
					</mat-form-field>
			
					<mat-form-field [hidden]="true">
						<input matInput  placeholder="Estatus" value="A">
					</mat-form-field>
					
					<mat-label>Subir Imagen</mat-label>
					<input id="fileInput" type="file">				
		
					<br>
					
					</div>
				</div>
			</div>
			
			<div class="row">
				<div class="col-sm-12">
					<button mat-raised-button color="primary" [routerLink]="['/auth/admin/transactions/revision/edit/1']">Registrar</button>
				</div>
			</div>
		</div>
	</div>
</div>