<div class="main_stepper">
	<div class="container">
		<div class="row">
			<div class="col-sm-12">
				<h2 class="text-center">Complete los pasos siguientes</h2>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-12">
				<button mat-raised-button color="primary" (click)="goBack()">Volver</button>
			</div>
		</div>
		<hr>
		<div class="row">
			<div class="col-sm-12">
				<mat-horizontal-stepper linear #stepper>
					
					<mat-step completed="true">
						<ng-template matStepLabel>Descripción</ng-template>
						<div class="row">
							<div class="col-sm-6 offset-sm-3">
								<h4 class="text-center mt-3 mb-3">Anderson Diaz</h4>

								<mat-form-field>
									<mat-select name="address" [(ngModel)]="address" placeholder="Seleccione una Dirección" required>
										<mat-option *ngFor="let locationUser of locationsUser" [value]="locationUser.id" >{{ locationUser.address }}</mat-option>
									</mat-select>
								</mat-form-field>

								<a class="addLocation" (click)="onAddLocation()" ><mat-icon>add</mat-icon>¿Nueva Dirección?</a>

								<mat-form-field>
									<textarea matInput name="description" placeholder="Descripción del Problema" [(ngModel)]="description" required></textarea>
								</mat-form-field>

								<mat-label>Subir Imagen</mat-label>
								<input id="fileInput" type="file">
							</div>
						</div>
						<div>
							<button  mat-raised-button color="primary" class="mr-3" matStepperPrevious>Atras</button>
							<button  mat-raised-button color="primary" class="mr-3" matStepperNext>Siguiente</button>
						</div>
					</mat-step>
					<mat-step completed="true">
						<ng-template matStepLabel>Fecha y Pestador</ng-template>
						<div class="row">
							<div class="offset-sm-4 col-sm-4">
								<mat-form-field class="example-full-width">
									<input name="dateRevision" [(ngModel)]="dateRevision" matInput [matDatepicker]="picker" placeholder="Elija una fecha" (dateChange)="addEvent('change', $event)">
									<mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
									<mat-datepicker touchUi #picker></mat-datepicker>
								</mat-form-field>
							</div>
						</div>
						<div class="lender_available" [class.open]="isDate" [class.closed]="!isDate">
							<h2 class="text-center mb-3">Prestadores disponibles</h2>
							<div class="row">
								<div class="col-md-3">
									<a id="selectedLender-1" (click)="selectedLender()">
										<mat-card>
											<mat-card-header class="titulo">
												<mat-card-title>Anderson Diaz</mat-card-title>
											</mat-card-header>
											<mat-card-content  class="titulo">
												<img src="../../../../assets/img/profile/avatar.png" alt="" class="card-img">
											</mat-card-content>
											<mat-card-actions class="titulo">
												<div>
													<div class="container">
														<div class="row">
															<div class="col-sm-12">
																<div class="ec-stars-wrapper">
																	<a [routerLink]="['/auth/profile']" data-value="1" title="Votar con 1 estrellas">&#9733;</a>
																	<a [routerLink]="['/auth/profile']" data-value="2" title="Votar con 2 estrellas">&#9733;</a>
																	<a [routerLink]="['/auth/profile']" data-value="3" title="Votar con 3 estrellas">&#9733;</a>
																	<a [routerLink]="['/auth/profile']" data-value="4" title="Votar con 4 estrellas">&#9733;</a>
																	<a [routerLink]="['/auth/profile']" data-value="5" title="Votar con 5 estrellas">&#9733;</a>
																</div>
															</div>
														</div>
													</div>
												</div>
											</mat-card-actions>
										</mat-card>
									</a>
								</div>
								<div class="col-md-3">
									<a [routerLink]="['/auth/lender/profile/show/1']" target="_blank">
										<mat-card>
											<mat-card-header class="titulo">
												<mat-card-title>Anderson Diaz</mat-card-title>
											</mat-card-header>
											<mat-card-content  class="titulo">
												<img src="../../../../assets/img/profile/avatar.png" alt="" class="card-img">
											</mat-card-content>
											<mat-card-actions class="titulo">
												<div>
													<div class="container">
														<div class="row">
															<div class="col-sm-12">
																<div class="ec-stars-wrapper">
																	<a [routerLink]="['/auth/profile']" data-value="1" title="Votar con 1 estrellas">&#9733;</a>
																	<a [routerLink]="['/auth/profile']" data-value="2" title="Votar con 2 estrellas">&#9733;</a>
																	<a [routerLink]="['/auth/profile']" data-value="3" title="Votar con 3 estrellas">&#9733;</a>
																	<a [routerLink]="['/auth/profile']" data-value="4" title="Votar con 4 estrellas">&#9733;</a>
																	<a [routerLink]="['/auth/profile']" data-value="5" title="Votar con 5 estrellas">&#9733;</a>
																</div>
															</div>
														</div>
													</div>
												</div>
											</mat-card-actions>
										</mat-card>
									</a>
								</div>
								<div class="col-md-3">
									<a [routerLink]="['/auth/lender/profile/show/1']" target="_blank">
										<mat-card>
											<mat-card-header class="titulo">
												<mat-card-title>Anderson Diaz</mat-card-title>
											</mat-card-header>
											<mat-card-content  class="titulo">
												<img src="../../../../assets/img/profile/avatar.png" alt="" class="card-img">
											</mat-card-content>
											<mat-card-actions class="titulo">
												<div>
													<div class="container">
														<div class="row">
															<div class="col-sm-12">
																<div class="ec-stars-wrapper">
																	<a [routerLink]="['/auth/profile']" data-value="1" title="Votar con 1 estrellas">&#9733;</a>
																	<a [routerLink]="['/auth/profile']" data-value="2" title="Votar con 2 estrellas">&#9733;</a>
																	<a [routerLink]="['/auth/profile']" data-value="3" title="Votar con 3 estrellas">&#9733;</a>
																	<a [routerLink]="['/auth/profile']" data-value="4" title="Votar con 4 estrellas">&#9733;</a>
																	<a [routerLink]="['/auth/profile']" data-value="5" title="Votar con 5 estrellas">&#9733;</a>
																</div>
															</div>
														</div>
													</div>
												</div>
											</mat-card-actions>
										</mat-card>
									</a>
								</div>
								<div class="col-md-3">
									<a [routerLink]="['/auth/lender/profile/show/1']" target="_blank">
										<mat-card>
											<mat-card-header class="titulo">
												<mat-card-title>Anderson Diaz</mat-card-title>
											</mat-card-header>
											<mat-card-content  class="titulo">
												<img src="../../../../assets/img/profile/avatar.png" alt="" class="card-img">
											</mat-card-content>
											<mat-card-actions class="titulo">
												<div>
													<div class="container">
														<div class="row">
															<div class="col-sm-12">
																<div class="ec-stars-wrapper">
																	<a [routerLink]="['/auth/profile']" data-value="1" title="Votar con 1 estrellas">&#9733;</a>
																	<a [routerLink]="['/auth/profile']" data-value="2" title="Votar con 2 estrellas">&#9733;</a>
																	<a [routerLink]="['/auth/profile']" data-value="3" title="Votar con 3 estrellas">&#9733;</a>
																	<a [routerLink]="['/auth/profile']" data-value="4" title="Votar con 4 estrellas">&#9733;</a>
																	<a [routerLink]="['/auth/profile']" data-value="5" title="Votar con 5 estrellas">&#9733;</a>
																</div>
															</div>
														</div>
													</div>
												</div>
											</mat-card-actions>
										</mat-card>
									</a>
								</div>
							</div>
						</div>
						<div class="mt-3">
							<button  mat-raised-button color="primary" class="mr-3" matStepperPrevious>Atras</button>
							<button  mat-raised-button color="primary" class="mr-3" matStepperNext>Siguiente</button>
						</div>
					</mat-step>
					<mat-step completed="true">
						<ng-template matStepLabel>Ficha de Confirmación</ng-template>
						<div class="row stepper_ficha">
							<div class="col-sm-8 offset-sm-2">
								<div class="row">
									<div class="col-sm-12">
										<mat-card class="servicio">
											<mat-card-header class="titulo">
												<mat-card-title>{{ requestParams.equipinfrasName }}</mat-card-title>
											</mat-card-header>
											<mat-card-content class="mat_card_content">
												<div class="row">
													<div class="col-sm-6">
														<img src="../../../../assets/img/catalogue/aire.png" alt="" class="card-img-top">
													</div>
													<div class="col-sm-6">
														<b>Marca: </b> {{requestParams.varietyName}}
														<br>
														<b>Modelo: </b>{{ requestParams.equipinfrasName }}
														<br>
														<b>Descripción: </b> {{ requestParams.varietyDetailDescription }}
														<br>
														<b>Categoría: </b> {{ requestParams.categoryName }}
														<br>
														<b>Sub Categoría: </b>{{ requestParams.subcategoryName }}
														<br>
														<b>Descripción del Problema: </b> {{ description }}
														<br>
														<b>Prestador Asignado: </b> {{ lenderId }}
														<br>
														<b>Fecha: </b> {{ dateRevision }}
														<br>
														<b>Dirección: </b> {{ address }}
													</div>
												</div>
											</mat-card-content>
											<mat-card-actions class="titulo">
												<div class="container">
													<div class="row">
														<div class="col-sm-12">
															<button mat-raised-button color="primary" (click)="onConfirm()">Confirmar Solicitud</button>
														</div>
													</div>
												</div>
											</mat-card-actions>
										</mat-card>
									</div>
								</div>
							</div>
						</div>
						<div>
							<button  mat-raised-button color="primary" class="mr-3" matStepperPrevious>Atras</button>
						</div>
					</mat-step>
				</mat-horizontal-stepper>
			</div>
		</div>
	</div>
</div>