<p>
  service-detail-activitys works!
</p>
<mat-nav-list>
	<a mat-list-item [routerLink]="['/auth/configurations/']">Regresar </a>
	<a mat-list-item [routerLink]="['/auth/configurations/service-detail-activity/create']">Create </a>
	<a mat-list-item [routerLink]="['/auth/configurations/service-detail-activity/edit/1']">Edit </a>
	<a mat-list-item [routerLink]="['/auth/configurations/service-detail-activity/show/1']">Show </a>
	<a mat-list-item [routerLink]="['/auth/configurations/service-detail-activity/delete/1']">Delete </a>
</mat-nav-list>