<div class="main_equip">
	<div class="container">
		<div class="row">
				<div class="col-sm-12">
					<h2 class="text-center">Seleccione un Equipo</h2>
				</div>
			</div>
			<div class="row">
				<div class="col-sm-12">
					<button mat-raised-button color="primary" [routerLink]="['/auth/dashboard/']">Volver</button>
				</div>
			</div>
			<hr>
		<div class="row">
			<div class="col-md-3">
				<a [routerLink]="['/auth/dashboard/variety']"><mat-card>
						<img src="../../../../assets/img/catalogue/lavamanos.png" alt="" class="card-img-top">
						<mat-card-content  class="titulo">
							<br>
							<h4>Lavamanos</h4>
						</mat-card-content>
					</mat-card></a>
			</div>
			<div class="col-md-3">
				<a [routerLink]="['/auth/dashboard/variety']"><mat-card>
						<img src="../../../../assets/img/catalogue/lavadora.png" alt="" class="card-img-top">
						<mat-card-content  class="titulo">
							<br>
							<h4>Lavadora</h4>
						</mat-card-content>
					</mat-card></a>
			</div>
			<div class="col-md-3">
				<a [routerLink]="['/auth/dashboard/variety']"><mat-card>
						<img src="../../../../assets/img/catalogue/microondas.png" alt="" class="card-img-top">
						<mat-card-content  class="titulo">
							<br>
							<h4>Microondass</h4>
						</mat-card-content>
					</mat-card></a>
			</div>
			<div class="col-md-3">
				<a [routerLink]="['/auth/dashboard/variety']"><mat-card>
						<img src="../../../../assets/img/catalogue/nevera.png" alt="" class="card-img-top">
						<mat-card-content  class="titulo">
							<br>
							<h4>Nevera</h4>
						</mat-card-content>
					</mat-card></a>
			</div>
		</div>

	</div>
</div>