
  <div class="container">
    <h2 class="text-center">Equipo/Infraestructura</h2>
    <button mat-raised-button color="primary" [routerLink]="['/auth/admin/masters/equip-infras']">Volver</button>
    <hr>
    <mat-card>
      <mat-list>
        <mat-list-item> <b>Código: </b> 1</mat-list-item>
        <mat-list-item> <b>Nombre:</b> Pared</mat-list-item>
        <mat-list-item> <b>Descripción:</b>	Pared de hogares y oficinas</mat-list-item>
        <mat-list-item> <b>Imagen: </b> url1</mat-list-item>
        <mat-list-item> <b>Estatus:<span class="badge badge-primary"> Activo</span></b></mat-list-item>
      </mat-list>
    </mat-card>
  </div>