
<div class="main_promotion">
	<h2 class="text-center">Promoción catálogo variedad datelle</h2>
	<button mat-raised-button color="primary" [routerLink]="['/auth/admin/configurations/promotion/promotion-catalogue-variety-detail']">Volver</button>
	<hr>
	<mat-card>
		<mat-list>
			<mat-list-item> <b>Codigo: </b> 1 </mat-list-item>
		 	<mat-list-item> <b>Detalle servicio: </b> Detalle servicio 1 </mat-list-item>
			<mat-list-item> <b>Detalle catalogo: </b> Detalle catalogo 2</mat-list-item>
			<mat-list-item> <b>Estatus:<span class="badge badge-primary">Activo</span> </b> </mat-list-item>
		
		</mat-list>
	</mat-card>

</div>