<div class="main_catalogue">
    <h2 class="text-center">Editar Subcategoría</h2>
    <button mat-raised-button color="primary" [routerLink]="['/auth/masters/sub-category']">Volver</button>
    <hr>
  
    <div class="example-container">
    	  <mat-form-field>
       		<mat-select placeholder="Categoría">
       			<mat-option value="option">Línea Blanca</mat-option>
        		<mat-option value="option">Electrodomésticos</mat-option>
      		</mat-select>
  		  </mat-form-field>
  		  
          <mat-form-field>
            <input matInput placeholder="Nombre">
          </mat-form-field>
          
          <mat-form-field>
              <textarea matInput placeholder="Descripción"></textarea>
          </mat-form-field>
      
    </div>
    <button mat-raised-button color="primary" [routerLink]="['/auth/masters/category/edit/1']">Guardar</button>
  
  </div>