<h2 class="text-center">Parámetros</h2>
<button mat-raised-button color="primary" [routerLink]="['/auth/']">Volver</button>
<hr>

<mat-list-item role="listitem"><button mat-raised-button color="primary" class="mb-3" [routerLink]="['/auth/parameters/category']">Categoría</button></mat-list-item>
<mat-list-item role="listitem"><button mat-raised-button color="primary" class="mb-3" [routerLink]="['/auth/parameters/dni-type']">Dni Tipo</button></mat-list-item>
<mat-list-item role="listitem"><button mat-raised-button color="primary" class="mb-3" [routerLink]="['/auth/parameters/gender']">Género</button></mat-list-item>
<mat-list-item role="listitem"><button mat-raised-button color="primary" class="mb-3" [routerLink]="['/auth/parameters/notification-type']">Notificación Tipo</button></mat-list-item>
<mat-list-item role="listitem"><button mat-raised-button color="primary" class="mb-3" [routerLink]="['/auth/parameters/payment-form']">Forma de Pago</button></mat-list-item>
<mat-list-item role="listitem"><button mat-raised-button color="primary" class="mb-3" [routerLink]="['/auth/parameters/payment-type']">Tipo de Pago</button></mat-list-item>
<mat-list-item role="listitem"><button mat-raised-button color="primary" class="mb-3" [routerLink]="['/auth/parameters/phone-type']">Tipo de Teléfono</button></mat-list-item>
<mat-list-item role="listitem"><button mat-raised-button color="primary" class="mb-3" [routerLink]="['/auth/parameters/resource-category']">Categoría de Recurso</button></mat-list-item>
<mat-list-item role="listitem"><button mat-raised-button color="primary" class="mb-3" [routerLink]="['/auth/parameters/resource-type']">Tipo de Recurso</button></mat-list-item>
<mat-list-item role="listitem"><button mat-raised-button color="primary" class="mb-3" [routerLink]="['/auth/parameters/service-type']">Tipo de Servicio</button></mat-list-item>
<mat-list-item role="listitem"><button mat-raised-button color="primary" class="mb-3" [routerLink]="['/auth/parameters/sub-category']">Subcategoría</button></mat-list-item>
<mat-list-item role="listitem"><button mat-raised-button color="primary" class="mb-3" [routerLink]="['/auth/parameters/worker-type']">Tipo de Empleado</button></mat-list-item>
