
<div class="container">
    <h2 class="text-center">Empresa</h2>
    <button mat-raised-button color="primary" [routerLink]="['/auth/admin/configurations/company']">Volver</button>
    <hr>
    <mat-card>
      <mat-list>
        <mat-list-item> <b>Código: </b> 1</mat-list-item>
        <mat-list-item> <b>Rif: </b> j-012285524</mat-list-item>
        <mat-list-item> <b>Nombre:</b> Se hace de todo</mat-list-item>
        <mat-list-item> <b>Misión: </b> Misión</mat-list-item>
        <mat-list-item> <b>Visión: </b> Visión</mat-list-item>
        <mat-list-item> <b>¿Quiénes somos?:</b>¿Quiénes somos?</mat-list-item>
        <mat-list-item> <b>Dirección: </b> carrera 20 con calle 20</mat-list-item>
        <mat-list-item> <b>Primer Teléfono: </b> 0251 1112233</mat-list-item>
        <mat-list-item> <b>Segundo Teléfono: </b> 0251 4445566</mat-list-item>
        <mat-list-item> <b>Imagen: </b>url</mat-list-item>
        <mat-list-item> <b>Facebook: </b>Se hace de todo</mat-list-item>
        <mat-list-item> <b>Instagram: </b>@shtodo</mat-list-item>
        <mat-list-item> <b>Twitter: </b> @shtodo</mat-list-item>
      </mat-list>
    </mat-card>
</div>