
 <div class="container">
    <h2 class="text-center">Actividad</h2>
    <button mat-raised-button color="primary" [routerLink]="['/auth/admin/configurations/service/activity']">Volver</button>
    <hr>
    <mat-card>
      <mat-list>
        <mat-list-item> <b>Código: </b> 1</mat-list-item>
        <mat-list-item> <b>Nombre:</b> Cambiar tarjeta</mat-list-item>
        <mat-list-item> <b>Descripción:</b>Cambiar tarjeta electrónica de la nevera</mat-list-item>
        <mat-list-item> <b>Tiempo Estimado:</b> 2 horas</mat-list-item>
        <mat-list-item> <b>Grado de dificultad:</b> Bajo</mat-list-item>
        <mat-list-item> <b>Estatus:<span class="badge badge-primary"> Activo</span></b></mat-list-item>
      </mat-list>
    </mat-card>
  </div>