<div id="breadcrumbs-wrapper">
	<div class="container">
		<div class="row">
			<div class="col s12 m12 l12">
				<h5 class="breadcrumbs-title text-center">Habilidad Servicio</h5>
				<div>
					<p>
						<a [routerLink]="['/skillService/create']" class="btn waves-effect waves-light blue">Nueva Habilidad</a>
					</p>
				</div>
				<br>
			</div>
		</div>
	</div>
</div>

<div class='table-wrapper'>
	<div id="striped-table">

		<div class="row">
			<div class="col s12">
				<table class="striped">
					<thead>
						<tr>
							<th data-field="id">Id</th>
							<th data-field="skill">Soldar</th>
							<th data-field="service">Servicio</th>
							<th data-field="status">Estatus</th>
							<th data-field="action">Acción</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td><a [routerLink]="['/skillService/show','1']" class="btn waves-effect waves-light grey darken-4">Ver</a></td>
							<td>Soldar</td>
							<td> Reparación de puerta</td>
							<td>Activo</td>
							<td>
								<a [routerLink]="['/skillService/edit','1']"class="btn btn-small waves-effect waves-light yellow darken-4">Editar</a>
								<a [routerLink]="['/skillService/delete','1']"class="btn waves-effect waves-light red darken-4">Eliminar</a>
							</td>
            			</tr>
            			<tr>
							<td><a [routerLink]="['/skillService/show','2']" class="btn waves-effect waves-light grey darken-4">Ver</a></td>
							<td>Pintar</td>
							<td>Mantenimiento de silo</td>
							<td>Activo</td>
							<td>
								<a [routerLink]="['/skillService/edit','2']"class="btn btn-small waves-effect waves-light yellow darken-4">Editar</a>
								<a [routerLink]="['/skillService/delete','2']"class="btn waves-effect waves-light red darken-4">Eliminar</a>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>