.estilo {
    display: inline-block;
}
.uno {
    width: 50%;
    display: inline-block;
    padding: 10px;
    margin-left: auto;
    margin-right: auto;
}
.dos {
    width: 100%;
    display: inline-block;
    padding: 10px;
    margin-left: auto;
    margin-right: auto;
}
.secundario {
    background-color: #151515;
}