
  <div class="container">
	<div class="row">
		<div class="col-sm-8 offset-2">
			<div class="row">
				<div class="col-sm-12">
					<h2 class="text-center">Editar Empresa</h2>
				</div>
			</div>
			<div class="row">
				<div class="col-sm-12">
					<button mat-raised-button color="primary" [routerLink]="['/auth/admin/masters/company']">Volver</button>
				</div>
			</div>
			<hr>
			
			<div class="row">
				<div class="col-sm-12">
					<div class="example-container">
						<mat-form-field>
                     <input matInput placeholder="Nombre">
                   </mat-form-field>
                   
                   <mat-form-field>
                       <textarea matInput placeholder="Descripción"></textarea>
                    </mat-form-field>
             
                   <mat-form-field>
                      <textarea matInput placeholder="Visión"></textarea>
                   </mat-form-field>
             
                   <mat-form-field>
                      <textarea matInput placeholder="Misión"></textarea>
                   </mat-form-field>	
             
                   <mat-form-field>
                      <textarea matInput placeholder="Objetivos"></textarea>
                   </mat-form-field>	
					</div>
				</div>
			</div>
			
			<div class="row">
				<div class="col-sm-12">
					<button mat-raised-button color="primary" [routerLink]="['/auth/admin/masters/company/edit/1']">Guardar</button>
				</div>
			</div>
		</div>
	</div>
</div>