<div class="container">
	<h2 class="text-center">Habilidades por Empleado</h2>
	<button mat-raised-button color="primary" [routerLink]="['/auth/configurations/skill-worker']">Volver</button>
	<hr>
	<mat-card>
		<mat-list>
			<mat-list-item> <b>ID: </b> 1</mat-list-item>
		    <mat-list-item> <b>Habilidad	:</b>  Electricista</mat-list-item>
		    <mat-list-item> <b>Trabajador:</b> Pedro</mat-list-item>
		    <mat-list-item> <b>Estatus:<span class="badge badge-primary"> Activo</span></b></mat-list-item>
		</mat-list>
	</mat-card>
</div>