<div class="container">
    <h2 class="text-center">Detalle de Servicio Políticas</h2>
    <button mat-raised-button color="primary" [routerLink]="['/auth/admin/configurations/service-detail-politic']">Volver</button>
    <hr>
    <mat-card>
      <mat-list>
        <mat-list-item> <b>ID: </b> 1</mat-list-item>
          <mat-list-item> <b>Detalle de Servicio:</b> Reparación de Cocina</mat-list-item>
          <mat-list-item> <b>Política:</b> Política 1</mat-list-item>
      </mat-list>
    </mat-card>
  </div>