<div class="main_dashboard">
	<div class="container">
		<div class="row">
			<div class="col-sm-12">
				<div class="row">
					<div class="col-sm-12">
						<h2 class="text-center">Seleccione un Tipo de Servicio</h2>
					</div>
				</div>
				<div class="row">
					<div class="col-sm-12">
						<button mat-raised-button color="primary" [routerLink]="['/auth/client/catalog/subcategoria']">Volver</button>
					</div>
				</div>
				<br>
				<mat-tab-group>
					<mat-tab label="Mantenimiento">
						<div class="container">
							<div class="row">
								<div class="col-md-4">
									<a [routerLink]="['/auth/client/catalog/variety']">
										<mat-card class="servicio">
											<mat-card-header class="titulo mat-card-header-primary">
												<mat-card-title>Mantenimiento</mat-card-title>
											</mat-card-header>
											<mat-card-content class="mat_card_content">
												<div class="row">
													<div class="col-sm-5">
														<img src="../../../../../../../assets/img/catalogue/aire.png" alt="" class="card-img-top">
													</div>
													<div class="col-sm-7">
														Aire Acondicionado
														<br>
														<span class="badge badge-primary">2 Modelos</span>
													</div>
												</div>
											</mat-card-content>
										</mat-card>
									</a>
								</div>
								<div class="col-md-4">
									<a [routerLink]="['/auth/client/catalog/variety']">
										<mat-card class="servicio">
											<mat-card-header class="titulo mat-card-header-primary">
												<mat-card-title>Mantenimiento</mat-card-title>
											</mat-card-header>
											<mat-card-content class="mat_card_content">
												<div class="row">
													<div class="col-sm-5">
														<img src="../../../../../../../assets/img/catalogue/microondas.png" alt="" class="card-img-top">
													</div>
													<div class="col-sm-7">
														Microonda
														<br>
														<span class="badge badge-primary">4 Modelos</span>
													</div>
												</div>
											</mat-card-content>
										</mat-card>
									</a>
								</div>
								<div class="col-md-4">
									<a [routerLink]="['/auth/client/catalog/variety']">
										<mat-card class="servicio">
											<mat-card-header class="titulo mat-card-header-primary">
												<mat-card-title>Mantenimiento</mat-card-title>
											</mat-card-header>
											<mat-card-content class="mat_card_content">
												<div class="row">
													<div class="col-sm-5">
														<img src="../../../../../../../assets/img/catalogue/lavadora.png" alt="" class="card-img-top">
													</div>
													<div class="col-sm-7">
														Lavadora
														<br>
														<span class="badge badge-primary">1 Modelos</span>
													</div>
												</div>
											</mat-card-content>
										</mat-card>
									</a>
								</div>
								<div class="col-md-4">
									<a [routerLink]="['/auth/client/catalog/variety']">
										<mat-card class="servicio">
											<mat-card-header class="titulo mat-card-header-primary">
												<mat-card-title>Mantenimiento</mat-card-title>
											</mat-card-header>
											<mat-card-content class="mat_card_content">
												<div class="row">
													<div class="col-sm-5">
														<img src="../../../../../../../assets/img/catalogue/refrigerador.png" alt="" class="card-img-top">
													</div>
													<div class="col-sm-7">
														Refrigerador
														<br>
														<span class="badge badge-primary">4 Modelos</span>
													</div>
												</div>
											</mat-card-content>
										</mat-card>
									</a>
								</div>
								
							</div>
						</div>
					</mat-tab>

					<mat-tab label="Reparación">
						<div class="container">
							<div class="row">
								<div class="col-md-4">
									<a [routerLink]="['/auth/client/catalog/variety']">
										<mat-card class="servicio">
											<mat-card-header class="titulo mat-card-header-warning">
												<mat-card-title>Reparación</mat-card-title>
											</mat-card-header>
											<mat-card-content class="mat_card_content">
												<div class="row">
													<div class="col-sm-5">
														<img src="../../../../../../../assets/img/catalogue/aire.png" alt="" class="card-img-top">
													</div>
													<div class="col-sm-7">
														Aire Acondicionado
														<br>
														<span class="badge badge-warning">4 Modelos</span>
													</div>
												</div>
											</mat-card-content>
										</mat-card>
									</a>
								</div>
								<div class="col-md-4">
									<a [routerLink]="['/auth/client/catalog/variety']">
										<mat-card class="servicio">
											<mat-card-header class="titulo mat-card-header-warning">
												<mat-card-title>Reparación</mat-card-title>
											</mat-card-header>
											<mat-card-content class="mat_card_content">
												<div class="row">
													<div class="col-sm-5">
														<img src="../../../../../../../assets/img/catalogue/microondas.png" alt="" class="card-img-top">
													</div>
													<div class="col-sm-7">
														Microonda
														<br>
														<span class="badge badge-warning">4 Modelos</span>
													</div>
												</div>
											</mat-card-content>
										</mat-card>
									</a>
								</div>
								<div class="col-md-4">
									<a [routerLink]="['/auth/client/catalog/variety']">
										<mat-card class="servicio">
											<mat-card-header class="titulo mat-card-header-warning">
												<mat-card-title>Reparación</mat-card-title>
											</mat-card-header>
											<mat-card-content class="mat_card_content">
												<div class="row">
													<div class="col-sm-5">
														<img src="../../../../../../../assets/img/catalogue/lavadora.png" alt="" class="card-img-top">
													</div>
													<div class="col-sm-7">
														Lavadora
														<br>
														<span class="badge badge-warning">3 Modelos</span>
													</div>
												</div>
											</mat-card-content>
										</mat-card>
									</a>
								</div>
								<div class="col-md-4">
									<a [routerLink]="['/auth/client/catalog/variety']">
										<mat-card class="servicio">
											<mat-card-header class="titulo mat-card-header-warning">
												<mat-card-title>Reparación</mat-card-title>
											</mat-card-header>
											<mat-card-content class="mat_card_content">
												<div class="row">
													<div class="col-sm-5">
														<img src="../../../../../../../assets/img/catalogue/nevera.png" alt="" class="card-img-top">
													</div>
													<div class="col-sm-7">
														Nevera
														<br>
														<span class="badge badge-warning">1 Modelos</span>
													</div>
												</div>
											</mat-card-content>
										</mat-card>
									</a>
								</div>
								<div class="col-md-4">
									<a [routerLink]="['/auth/client/catalog/variety']">
										<mat-card class="servicio">
											<mat-card-header class="titulo mat-card-header-warning">
												<mat-card-title>Reparación</mat-card-title>
											</mat-card-header>
											<mat-card-content class="mat_card_content">
												<div class="row">
													<div class="col-sm-5">
														<img src="../../../../../../../assets/img/catalogue/refrigerador.png" alt="" class="card-img-top">
													</div>
													<div class="col-sm-7">
														Refrigerador
														<br>
														<span class="badge badge-warning">2 Modelos</span>
													</div>
												</div>
											</mat-card-content>
										</mat-card>
									</a>
								</div>
							</div>
						</div>
					</mat-tab>

					<mat-tab label="Construcción">
						<div class="container">
							<div class="row">
								<div class="col-md-4">
									<a [routerLink]="['/auth/client/catalog/variety']">
										<mat-card class="servicio">
											<mat-card-header class="titulo mat-card-header-dark">
												<mat-card-title>Construcción</mat-card-title>
											</mat-card-header>
											<mat-card-content class="mat_card_content">
												<div class="row">
													<div class="col-sm-5">
														<img src="../../../../../../../assets/img/catalogue/ceramicaPared.jpg" alt="" class="card-img-top">
													</div>
													<div class="col-sm-7">
														Pared
														<br>
														<span class="badge badge-dark">2 Modelos</span>
													</div>
												</div>
											</mat-card-content>
										</mat-card>
									</a>
								</div>
								<div class="col-md-4">
									<a [routerLink]="['/auth/client/catalog/variety']">
										<mat-card class="servicio">
											<mat-card-header class="titulo mat-card-header-dark">
												<mat-card-title>Construcción</mat-card-title>
											</mat-card-header>
											<mat-card-content class="mat_card_content">
												<div class="row">
													<div class="col-sm-5">
														<img src="../../../../../../../assets/img/catalogue/ceramicaPiso.jpg" alt="" class="card-img-top">
													</div>
													<div class="col-sm-7">
														Piso
														<br>
														<span class="badge badge-dark">3 Modelos</span>
													</div>
												</div>
											</mat-card-content>
										</mat-card>
									</a>
								</div>

							</div>
						</div>
					</mat-tab>


					<mat-tab label="Otros">
						<div class="container">
							<div class="row">
								<br>
								<p class="center">Ayudanos a ampliar nuestro catálogo. Si tu equipo no aparece aquí por favor te invitamos a que llenes un formulario para procesar tu solicitud</p>
								<br>
								<div class="offset-sm-4 col-sm-4">
									<button mat-raised-button color="primary" [routerLink]="['/auth/client/catalog/others']">LLenar Formulario</button>
								</div>
							</div>
						</div>
					</mat-tab>

				</mat-tab-group>
			</div>
		</div>
	</div>
</div>