<div class="container">
  <h2 *ngIf="resource" class="text-center">{{ resource.name }}</h2>
  <button mat-raised-button color="primary" [routerLink]="['/auth/admin/configurations/service/resource']">Volver</button>
  <hr>
  <div *ngIf="resource">
    <mat-card>
      <div class="row">
        <div class="col-sm-6">
          <mat-list>
            <h3 mat-subheader>Recurso</h3>
            <mat-list-item><h4 mat-line><b>Nombre: </b> {{ resource.name }}</h4></mat-list-item>
            <mat-list-item><h4 mat-line><b>Descripción: </b> {{ resource.description }}</h4></mat-list-item>
            <mat-list-item><h4 mat-line><b>Tipo Recurso: </b> {{ resource.resourceType }}</h4></mat-list-item>
            <mat-list-item><h4 mat-line><b>Precio: </b> {{ resource.price }}</h4></mat-list-item>
            <mat-list-item><h4 mat-line><b>Medida: </b> {{ resource.measureUnit }}</h4></mat-list-item>
            <mat-list-item *ngIf="resource.status=='active'"><h4 mat-line><b>Estatus:<span class="badge badge-success"> Activo</span></b></h4></mat-list-item>
            <mat-list-item *ngIf="resource.status=='deleted'"><h4 mat-line><b>Estatus:<span class="badge badge-danger"> Borrado</span></b></h4></mat-list-item>
          </mat-list>
        </div>
      </div>

    </mat-card>

    <br>

    <mat-card>
    <div *ngIf="resource.serviceDetails.length>0">
      <mat-list>
        <h3 mat-subheader>Detalle Servicio</h3>
        <mat-list-item *ngFor="let serviceDetails of resource.serviceDetails">
          <h4 mat-line>{{serviceDetails.name}}</h4>
        </mat-list-item>
      </mat-list>
    </div>

    <div *ngIf="resource.serviceDetails.length<=0">
      <mat-list>
        <h3 mat-subheader>Detalle Servicio</h3>
        <mat-list-item><h4 mat-line>No tiene detalle servicio</h4></mat-list-item>
      </mat-list>
    </div>
  </mat-card>


  </div>

  <div *ngIf="!resource && !failedConect">
    <div class="row">
      <div class="col-sm-12 spinner">
        <mat-spinner></mat-spinner>
      </div>
    </div>
  </div>

  <div *ngIf="failedConect">
    <h6 class="text-center">{{failedConect}}</h6>
  </div>
  
</div>