
 <div class="container">
  <h2 class="text-center">Recurso</h2>
  <button mat-raised-button color="primary" [routerLink]="['/auth/admin/configurations/service/resource']">Volver</button>
  <hr>
  <mat-card>
    <mat-list>
      <mat-list-item> <b>Código: </b> 1</mat-list-item>
      <mat-list-item> <b>Tipo id:</b> Type</mat-list-item>
      <mat-list-item> <b>Categoría id:</b>Category</mat-list-item>
      <mat-list-item> <b>Nombre:</b>Name</mat-list-item>
      <mat-list-item> <b>Descripción:</b>Description</mat-list-item>
      <mat-list-item> <b>Precio:</b>Price</mat-list-item>
      <mat-list-item> <b>Estatus:<span class="badge badge-primary"> Activo</span></b></mat-list-item>
    </mat-list>
  </mat-card>
</div>