<div class="dashboard_lender">
	<mat-card class="lender_item">
		<mat-list>
			<mat-list-item> <b>Solicitud: </b> 001 </mat-list-item>
			<mat-list-item>
				<button mat-raised-button color="primary" [routerLink]="['/auth/dashboard']">Ver</button>
			</mat-list-item>
		</mat-list>
	</mat-card>
	<mat-card class="lender_item">
		<mat-list>
			<mat-list-item> <b>Solicitud: </b> 002 </mat-list-item>
			<mat-list-item>
				<button mat-raised-button color="primary" [routerLink]="['/auth/dashboard']">Ver</button>
			</mat-list-item>
		</mat-list>
	</mat-card>
	<mat-card class="lender_item">
		<mat-list>
			<mat-list-item> <b>Solicitud: </b> 003 </mat-list-item>
			<mat-list-item>
				<button mat-raised-button color="primary" [routerLink]="['/auth/dashboard']">Ver</button>
			</mat-list-item>
		</mat-list>
	</mat-card>
</div>
