<br>
<h2>Solicitudes de servicio/revisión</h2>

<div class="container">
	<!--Carrusel sin slide, no se cambiara por si mismo-->
  <div id="carouselSolicitud" class="carousel" data-ride="carousel">

    <div class="container">
      <div class="row">
        <div class="col-md-12 text-md-right lead">

            <a class="btn btn-outline-secondary prev" href="#carouselSolicitud" title="Anterior" data-slide="prev">
				<i class="fa fa-lg fa-chevron-left"></i>
            </a>
            <a class="btn btn-outline-secondary next" href="#carouselSolicitud" title="Siguiente" data-slide="next">
			  <i class="fa fa-lg fa-chevron-right"></i>
			  <!--<mat-icon svgIcon="keyboard_arrow_right" aria-hidden="false" aria-label="Siguiente"></mat-icon>-->
			</a>
        </div>
      </div>
    </div>

    <div class="carousel-inner service">

      <div class="carousel-item active">

        <div class="container">
            <div class="row">
                <div class="col-md-3">
                  <mat-card class="servicio">
                    <mat-card-header class="titulo">
                      <mat-card-title>Servicio</mat-card-title>
                    </mat-card-header>
                        
                    <mat-card-content>
                      Descripción: Microondas
                      <br>
                      Etapa: Revisión
                    </mat-card-content>
                        
                    <mat-card-actions class="boton">
                      <button mat-raised-button>VER</button>
                    </mat-card-actions>
                  </mat-card>
                </div>
      
                <div class="col-md-3">
                  <mat-card class="servicio">
                    <mat-card-header class="titulo">
                      <mat-card-title>Servicio</mat-card-title>
                    </mat-card-header>
                          
                    <mat-card-content>
                      Descripción: A/C
                      <br>
                      Etapa: En proceso
                    </mat-card-content>
                          
                    <mat-card-actions class="boton">
                      <button mat-raised-button>VER</button>
                    </mat-card-actions>
                  </mat-card>
                </div>
      
                <div class="col-md-3">
                  <mat-card class="servicio">
                    <mat-card-header class="titulo">
                      <mat-card-title>Servicio</mat-card-title>
                    </mat-card-header>
                          
                    <mat-card-content>
                      Descripción: Lavamanos
                      <br>
                      Etapa: En proceso
                    </mat-card-content>
                            
                    <mat-card-actions class="boton">
                      <button mat-raised-button>VER</button>
                    </mat-card-actions>
                  </mat-card>
                </div>

                <div class="col-md-3">
                    <mat-card class="servicio">
                      <mat-card-header class="titulo">
                        <mat-card-title>Servicio</mat-card-title>
                      </mat-card-header>
                            
                      <mat-card-content>
                        Descripción: Microondas
                        <br>
                        Etapa: En proceso
                      </mat-card-content>
                              
                      <mat-card-actions class="boton">
                        <button mat-raised-button>VER</button>
                      </mat-card-actions>
                    </mat-card>
                  </div>

              </div>
        </div>       
        
      </div>

      <div class="carousel-item">

        <div class="container">
          <div class="row">

              <div class="col-md-3">
                  <mat-card>
                    <mat-card-header class="titulo">
                      <mat-card-title>Revisión</mat-card-title>
                    </mat-card-header>
                    
                    <mat-card-content>
						<br>
                      Descripción: Lavadora
                      <br>
                    </mat-card-content>
                    
                    <mat-card-actions class="boton">
                      <button mat-raised-button>DETALLES</button>
                    </mat-card-actions>
                  </mat-card>
                </div>

                <div class="col-md-3">
                    <mat-card>
                      <mat-card-header class="titulo">
                        <mat-card-title>Revisión</mat-card-title>
                      </mat-card-header>
                      
                      <mat-card-content>
						  <br>
                        Descripción: Pared
                        <br>
                        
                      </mat-card-content>
                      
                      <mat-card-actions class="boton">
                        <button mat-raised-button>DETALLES</button>
                      </mat-card-actions>
                    </mat-card>
                  </div>

          </div>
        </div>
        
	  </div>
	          
      </div>
    
  </div>
</div>


<hr>
<h2>Servicios actualmente prestados</h2>

<div class="container">
	<!--Carrusel sin slide, no se cambiara por si mismo-->
  <div id="carouselServicios" class="carousel" data-ride="carousel">

    <div class="container">
      <div class="row">
        <div class="col-md-12 text-md-right lead">
			
            <a class="btn btn-outline-secondary prev" href="#carouselServicios" title="Anterior" data-slide="prev">
              <i class="fa fa-lg fa-chevron-left"></i>
            </a>
            <a class="btn btn-outline-secondary next" href="#carouselServicios" title="Siguiente" data-slide="next">
			  <i class="fa fa-lg fa-chevron-right"></i>
			</a>
        </div>
      </div>
    </div>

    <div class="carousel-inner service">

      <div class="carousel-item active">

        <div class="container">
            <div class="row">
                <div class="col-md-3">
                  <mat-card class="servicio">
                    <mat-card-header class="titulo">
                      <mat-card-title>Servicio</mat-card-title>
                    </mat-card-header>
                        
                    <mat-card-content>
                      Descripción: Lavadora
                      <br>
                      Etapa: Revisión
                    </mat-card-content>
                        
                    <mat-card-actions class="boton">
                      <button mat-raised-button>SEGUIMIENTO</button>
                    </mat-card-actions>
                  </mat-card>
                </div>
      
                <div class="col-md-3">
                  <mat-card class="servicio">
                    <mat-card-header class="titulo">
                      <mat-card-title>Servicio</mat-card-title>
                    </mat-card-header>
                          
                    <mat-card-content>
                      Descripción: Lavavajillas
                      <br>
                      Etapa: En proceso
                    </mat-card-content>
                          
                    <mat-card-actions class="boton">
                      <button mat-raised-button>SEGUIMIENTO</button>
                    </mat-card-actions>
                  </mat-card>
                </div>
      
                <div class="col-md-3">
                  <mat-card class="servicio">
                    <mat-card-header class="titulo">
                      <mat-card-title>Servicio</mat-card-title>
                    </mat-card-header>
                          
                    <mat-card-content>
                      Descripción: Nevera
                      <br>
                      Etapa: En proceso
                    </mat-card-content>
                            
                    <mat-card-actions class="boton">
                      <button mat-raised-button>SEGUIMIENTO</button>
                    </mat-card-actions>
                  </mat-card>
                </div>

                <div class="col-md-3">
                    <mat-card class="servicio">
                      <mat-card-header class="titulo">
                        <mat-card-title>Servicio</mat-card-title>
                      </mat-card-header>
                            
                      <mat-card-content>
                        Descripción: Microondas
                        <br>
                        Etapa: En proceso
                      </mat-card-content>
                              
                      <mat-card-actions class="boton">
                        <button mat-raised-button>SEGUIMIENTO</button>
                      </mat-card-actions>
                    </mat-card>
                  </div>

              </div>
        </div>       
        
      </div>

      <div class="carousel-item">

        <div class="container">
          <div class="row">

              <div class="col-md-3">
                  <mat-card>
                    <mat-card-header class="titulo">
                      <mat-card-title>Revisión</mat-card-title>
                    </mat-card-header>
                    
                    <mat-card-content>
						<br>
                      Descripción: Pared
                      <br>
                    
                    </mat-card-content>
                    
                    <mat-card-actions class="boton">
                      <button mat-raised-button>SEGUIMIENTO</button>
                    </mat-card-actions>
                  </mat-card>
                </div>

                <div class="col-md-3">
                    <mat-card>
                      <mat-card-header class="titulo">
                        <mat-card-title>Revisión</mat-card-title>
                      </mat-card-header>
                      
                      <mat-card-content>
						  <br>
                        Descripción: Pared
                        <br>
                        
                      </mat-card-content>
                      
                      <mat-card-actions class="boton">
                        <button mat-raised-button>SEGUIMIENTO</button>
                      </mat-card-actions>
                    </mat-card>
                  </div>

          </div>
        </div>
        
      </div>
    </div>
    
  </div>
</div>

<hr>
<h2>Agenda</h2>
<div class="container">
	<mat-card>
		<img src="../../../../assets/img/calendar/calendar.png" alt="">
	</mat-card>
</div>
