<div class="main_dashboard"><br>
  <!--<h2>Solicitudes de servicio/revisión</h2>
  
  <div class="container">
    <!--Carrusel sin slide, no se cambiara por si mismo
    <div id="carouselSolicitud" class="carousel" data-ride="carousel">
  
      <div class="container">
        <div class="row justify-content-between">
          <div class="col-md-6">
            <a class="btn btn-outline-secondary prev" href="#carouselSolicitud" title="Anterior" data-slide="prev">
              <mat-icon>arrow_back</mat-icon>
            </a>
          </div>
          <div class="col-md-6 text-md-right">
            <a class="btn btn-outline-secondary next" href="#carouselSolicitud" title="Siguiente" data-slide="next">
              <mat-icon>arrow_forward</mat-icon>
            </a>
          </div>
        </div>
      </div>
    

   <!-- <div class="carousel-inner service">

      <div class="carousel-item active">

        <div class="container">
            <div class="row">
                <div class="col-md-3">
                  <mat-card class="servicio">
                    <mat-card-header class="titulo">
                      <mat-card-title>Servicio</mat-card-title>
                    </mat-card-header>
                        
                    <mat-card-content>
                      Descripción: Microondas
                      <br>
                      Etapa: En proceso
                    </mat-card-content>
                        
                    <mat-card-actions class="boton">
                      <button mat-raised-button>VER</button>
                    </mat-card-actions>
                  </mat-card>
                </div>
      
                <div class="col-md-3">
                  <mat-card class="servicio">
                    <mat-card-header class="titulo">
                      <mat-card-title>Servicio</mat-card-title>
                    </mat-card-header>
                          
                    <mat-card-content>
                      Descripción: A/C
                      <br>
                      Etapa: En proceso
                    </mat-card-content>
  
      <div class="carousel-inner service">
  
        <div class="carousel-item active">
  
          <div class="container">
              <div class="row">
                  <div class="col-md-3">
                    <mat-card class="servicio">
                      <mat-card-header class="titulo">
                        <mat-card-title>Servicio</mat-card-title>
                      </mat-card-header>
                          
                    <mat-card-content>
						21/07/2019
						<br>
						Lavamanos
						<br>
						En proceso
					</mat-card-content>
                          
                    
                      <mat-card-actions class="boton">
                        <button mat-raised-button>DETALLES</button>
                      </mat-card-actions>
                    </mat-card>
                  </div>
        
                  <div class="col-md-3">
                    <mat-card class="servicio">
                      <mat-card-header class="titulo">
                        <mat-card-title>Servicio</mat-card-title>
                      </mat-card-header>
                            
                      <mat-card-content>
						  22/07/2019
						  <br>
                        Microondas
                        <br>
                        En proceso
                      </mat-card-content>
                            
                      <mat-card-actions class="boton">
                        <button mat-raised-button>DETALLES</button>
                      </mat-card-actions>
                    </mat-card>
                  </div>
        
                  <div class="col-md-3">
                    <mat-card class="servicio">
                      <mat-card-header class="titulo">
                        <mat-card-title>Servicio</mat-card-title>
                      </mat-card-header>
                            
                      <mat-card-content>
						  22/07/2019
						  <br>
                        Microondas
                        <br>
                        En proceso
                      </mat-card-content>
                              
                      <mat-card-actions class="boton">
                        <button mat-raised-button>DETALLES</button>
                      </mat-card-actions>
                    </mat-card>
				  </div>
				  
				  <div class="col-md-3">
						<mat-card class="servicio">
						  <mat-card-header class="titulo">
							<mat-card-title>Servicio</mat-card-title>
						  </mat-card-header>
								
						  <mat-card-content>
							  21/07/2019
							  <br>
							Microondas
							<br>
							En proceso
						  </mat-card-content>
								  
						  <mat-card-actions class="boton">
							<button mat-raised-button>DETALLES</button>
						  </mat-card-actions>
						</mat-card>
					  </div>

              </div>
        </div>       
        
      </div>

      <div class="carousel-item">

        <div class="container">
          <div class="row">

              <div class="col-md-3">
                  <mat-card>
                    <mat-card-header class="titulo">
                      <mat-card-title>Revisión</mat-card-title>
                    </mat-card-header>
                    
                    <mat-card-content>
						23/07/2019
						<br>
                    	Lavadora
                    	<br>
                    </mat-card-content>
                    
                    <mat-card-actions class="boton">
                      <button mat-raised-button>DETALLES</button>
                    </mat-card-actions>
				  </mat-card>
				</div>
    
                </div>
          </div>       
          
        </div>

              
        </div>
      
    </div>
  </div>-->
  
  
  <hr>
  <h2>Servicios/Revisión</h2>
  
  <div class="container">
    <!--Carrusel sin slide, no se cambiara por si mismo-->
    <div id="carouselServicios" class="carousel" data-ride="carousel">
  
      <div class="container">
        <div class="row justify-content-between">
          <div class="col-md-6">
            <a class="btn btn-outline-secondary prev" href="#carouselServicios" title="Anterior" data-slide="prev">
              <mat-icon>arrow_back</mat-icon>
            </a>
          </div>
          <div class="col-md-6 text-md-right">
            <a class="btn btn-outline-secondary next" href="#carouselServicios" title="Siguiente" data-slide="next">
              <mat-icon>arrow_forward</mat-icon>
            </a>
          </div>
        </div>
      </div>

   <!-- <div class="carousel-inner service">

      <div class="carousel-item active">

        <div class="container">
            <div class="row">
                <div class="col-md-3">
                  <mat-card class="servicio">
                    <mat-card-header class="titulo">
                      <mat-card-title>Servicio</mat-card-title>
                    </mat-card-header>
                        
                    <mat-card-content>
                      Descripción: Lavadora
                      <br>
                      Etapa: Revisión
                    </mat-card-content>
                        
                    <mat-card-actions class="boton">
                      <button mat-raised-button>SEGUIMIENTO</button>
                    </mat-card-actions>
                  </mat-card>
                </div>
      
                <div class="col-md-3">
                  <mat-card class="servicio">
                    <mat-card-header class="titulo">
                      <mat-card-title>Servicio</mat-card-title>
                    </mat-card-header>
                          
                    /<mat-card-cont/ent>
                      Descripción: Lavavajillas
                      <br>
                      Etapa: En proceso
					</mat-card-content>-->
					
  
      <div class="carousel-inner service">
  
        <div class="carousel-item active">
  
          <div class="container">
              <div class="row">
                  <div class="col-md-3">
                    <mat-card class="servicio">
                      <mat-card-header class="titulo">
                        <mat-card-title>Servicio</mat-card-title>
                      </mat-card-header>
                          
                      <mat-card-content class="mat_card_content">
							19/07/2019
							<br>
							10:00 am
							<br>
							En proceso
						</mat-card-content>
                          
                      <mat-card-actions class="boton">
                        <button mat-raised-button>SEGUIMIENTO</button>
                      </mat-card-actions>
                    </mat-card>
                  </div>
        
                  <div class="col-md-3">
                    <mat-card class="servicio">
                      <mat-card-header class="titulo">
                        <mat-card-title>Servicio</mat-card-title>
                      </mat-card-header>
                            
                      <mat-card-content class="mat_card_content">
                        19/07/2019
                        <br>
						4:00 pm
						<br>
						En proceso
                      </mat-card-content>
                            
                      <mat-card-actions class="boton">
                        <button mat-raised-button>SEGUIMIENTO</button>
                      </mat-card-actions>
                    </mat-card>
                  </div>
        
                  <div class="col-md-3">
                    <mat-card class="servicio">
                      <mat-card-header class="titulo">
                        <mat-card-title>Servicio</mat-card-title>
                      </mat-card-header>
                            
                      <mat-card-content class="mat_card_content">
                        20/07/2019
                        <br>
						2:00pm
						<br>
						En proceso
                      </mat-card-content>
                              
                      <mat-card-actions class="boton">
                        <button mat-raised-button>SEGUIMIENTO</button>
                      </mat-card-actions>
                    </mat-card>
				  </div>
				  
				  <div class="col-md-3">
						<mat-card class="servicio">
						  <mat-card-header class="titulo">
							<mat-card-title>Servicio</mat-card-title>
						  </mat-card-header>
								
						  <mat-card-content class="mat_card_content">
							22/07/2019
							<br>
							9:00 am
							<br>
							En proceso
						  </mat-card-content>
								  
						  <mat-card-actions class="boton">
							<button mat-raised-button>SEGUIMIENTO</button>
						  </mat-card-actions>
						</mat-card>
					  </div>

              </div>
        </div>       
        
      </div>

      <div class="carousel-item">

        <div class="container">
          <div class="row">

              <div class="col-md-3">
                  <mat-card>
                    <mat-card-header class="titulo">
                      <mat-card-title>Revisión</mat-card-title>
                    </mat-card-header>
                    
                    <mat-card-content class="mat_card_content">
						23/07/2019
						<br>
						10:00 am
						  <br>
						  En proceso
                
                    </mat-card-content>
                    
                    <mat-card-actions class="boton">
                      <button mat-raised-button>SEGUIMIENTO</button>
                    </mat-card-actions>
				  </mat-card>
				</div>
  
                  
  
                </div>
          </div>       
          
        </div>
  
      </div>
      
    </div>
  </div>


<hr>
<h2>Agenda</h2>
<div class="container">
	<mat-card>
		<img src="../../../../assets/img/calendar/calendar.png" alt="">
	</mat-card>
</div>
</div>

