<div class="container">
	<h2 class="text-center">Localización</h2>
	<button mat-raised-button color="primary" [routerLink]="['/auth/admin/configurations/location']">Volver</button>
	<hr>
	<mat-card>
		<mat-list>
			<mat-list-item> <b>ID: </b> 1</mat-list-item>
		    <mat-list-item> <b>ID usuario:</b> usuario 1</mat-list-item>
		     <mat-list-item> <b>Dirección:</b> Barquisimeto</mat-list-item>
		     <mat-list-item> <b>Ciudad:</b> Barquisimeto</mat-list-item>
		     <mat-list-item> <b>Código Postal:</b> 3001</mat-list-item>
		     <mat-list-item> <b>Lugar de vida:</b> lugar1</mat-list-item>
		    <mat-list-item> <b>Creado en:</b> 12/08/19"</mat-list-item>
		    <mat-list-item> <b>Actualizado en:</b> 12/08/19"</mat-list-item>
		    <mat-list-item> <b>Estatus:<span class="badge badge-primary"> Activo</span></b></mat-list-item>
		</mat-list>
	</mat-card>
</div>