<div class="container">
  <h2 class="text-center">Mensaje</h2>
  <button mat-raised-button color="primary" [routerLink]="['/auth/admin/transactions/message']">Volver</button>
  <hr>
  <mat-card>
    <mat-list>
      <mat-list-item> <b>Código: </b> 1</mat-list-item>
      <mat-list-item> <b>Chat Salón:</b>Chat 1</mat-list-item>
      <mat-list-item> <b>Usuario:</b>andre@gmail.com</mat-list-item>
      <mat-list-item> <b>Cuerpo del Mensaje:</b>Mensaje 1</mat-list-item>
      
    </mat-list>
  </mat-card>
</div>

