
<div class="container">
  <h2 *ngIf="variety" class="text-center">{{ variety.name }}</h2>
  <button mat-raised-button color="primary" [routerLink]="['/auth/admin/configurations/equipinfras/variety']">Volver</button>
  <hr>
  <div *ngIf="variety">
    <mat-card>
      <div class="row">
        <div class="col-sm-6">
          <mat-list>
            <h3 mat-subheader>Variedad</h3>
            <mat-list-item><h4 mat-line><b>Nombre: </b> {{ variety.name }}</h4></mat-list-item>
            <mat-list-item><h4 mat-line><b>Descripción: </b> {{ variety.description }}</h4></mat-list-item>
            <mat-list-item *ngIf="variety.status=='active'"><h4 mat-line><b>Estatus:<span class="badge badge-success"> Activo</span></b></h4></mat-list-item>
            <mat-list-item *ngIf="variety.status=='deleted'"><h4 mat-line><b>Estatus:<span class="badge badge-danger"> Borrado</span></b></h4></mat-list-item>
          </mat-list>
        </div>
      </div>

    </mat-card>

    <br>  

  </div>

  <div *ngIf="!variety && !failedConect">
    <div class="row">
      <div class="col-sm-12 spinner">
        <mat-spinner></mat-spinner>
      </div>
    </div>
  </div>

  <div *ngIf="failedConect">
    <h6 class="text-center">{{failedConect}}</h6>
  </div>
  
</div>