
 <div class="container">
    <h2 class="text-center">Función</h2>
    <button mat-raised-button color="primary" (click)="goBack()">Volver</button>
    <hr>
    <mat-card>
      <mat-list>
        <mat-list-item> <b>Código: </b> 1</mat-list-item>
        <mat-list-item> <b>Nombre:</b> name 1</mat-list-item>
        <mat-list-item> <b>Descripción:</b>description</mat-list-item>
        <mat-list-item> <b>Estatus:<span class="badge badge-primary"> Activo</span></b></mat-list-item>
      </mat-list>
    </mat-card>
  </div>