
<div class="main_catalogue">
	<h2 class="text-center">Nuevo Cliente</h2>
	<button mat-raised-button color="primary" [routerLink]="['/auth/masters/client']">Volver</button>
	<hr>

	<div class="example-container">
    <mat-form-field>
			<input matInput placeholder="Nombre">
    </mat-form-field>
    
    <mat-form-field>
        <input matInput placeholder="Apellido">
    </mat-form-field>

    <mat-form-field>
        <input matInput placeholder="Dni">
    </mat-form-field>
    
    <mat-form-field>
        <input matInput type="datetime-local" placeholder="Fecha de Nacimiento">
      </mat-form-field>

    <mat-form-field>
        <textarea matInput placeholder="Nota"></textarea>
    </mat-form-field>	

    <mat-form-field>
        <input matInput placeholder="Estatus">
    </mat-form-field>

		<mat-form-field>
				<mat-select placeholder="Género">
					<mat-option value="option">Masculino</mat-option>
					<mat-option value="option">Femenino</mat-option>
				</mat-select>
		</mat-form-field>

		<mat-form-field>
			    <mat-select placeholder="Tipo de Dni">
					<mat-option value="option">Cédula de identidad</mat-option>
					<mat-option value="option">Pasaporte</mat-option>
				</mat-select>
		</mat-form-field>
    
    <mat-form-field>
        <mat-select placeholder="Usuario">
        <mat-option value="option"></mat-option>
        <mat-option value="option"></mat-option>
      </mat-select>
  </mat-form-field>
    
	</div>

	<button mat-raised-button color="primary" [routerLink]="['/auth/masters/client/create']">Registrar</button>

</div>