<div class="main_sheet">
	<div class="container">
		<div class="row">
			<div class="col-sm-12">
				<h2 class="text-center">Ficha del Equipo</h2>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-12">
				<button mat-raised-button color="primary" [routerLink]="['/auth/client/catalog/variety-detail/']">Volver</button>
			</div>
		</div>
		<hr>
		<div class="row">
			<div class="col-sm-6 offset-sm-3">
				<div class="row">
					<div class="col-sm-12">
						<mat-card class="servicio">
							<mat-card-header class="titulo">
								<mat-card-title>Aire Acondicionado</mat-card-title>
							</mat-card-header>
							<mat-card-content class="mat_card_content">
								<div class="row">
									<div class="col-sm-6">
										<img src="../../../../assets/img/catalogue/aire.png" alt="" class="card-img-top">
									</div>
									<div class="col-sm-6">
										<b>Marca: </b> LG
										<br>
										<b>Modelo: </b>Split-2G
										<br>
										<b>Descripción: </b> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod.
										<br>
										<b>Tipo de Servicio: </b> Mantenimiento
										<br>
										<b>Categoría: </b> Electrodomésticos
										<br>
										<b>Subcategoría: </b>Aires Acondicionados
									</div>
								</div>
							</mat-card-content>
							<mat-card-actions class="titulo">
								<div class="container">
									<div class="row">
										<div class="col-sm-12">
											<button mat-raised-button color="primary" [routerLink]="['/auth/client/request/stepper']">Solicitar</button>
										</div>
									</div>
								</div>
							</mat-card-actions>
						</mat-card>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>