<div class="container">
	<div class="row">
		<div class="col-sm-8 offset-2">
			<div class="row">
				<div class="col-sm-12">
					<h2 class="text-center">Nuevo Usuario</h2>
				</div>
			</div>
			<div class="row">
				<div class="col-sm-12">
					<button mat-raised-button color="primary" [routerLink]="['/auth/admin/configurations/user-role/user']">Volver</button>
				</div>
			</div>
			<hr>
			
			<form #registerForm="ngForm" (ngSubmit)="register(registerForm)">

				<div class="row">
					<div class="col-sm-12">
						<div class="example-container">
							<mat-form-field>
								<input matInput name="email" [(ngModel)]="email" placeholder="Email" required>
	    					</mat-form-field>
	    
					   		<mat-form-field>
					        	<input matInput name="password" [(ngModel)]="password" placeholder="Contraseña" required>
					    	</mat-form-field>

							<mat-form-field>
					        	<input matInput name="firstName" [(ngModel)]="firstName" placeholder="Nombre" required>
					    	</mat-form-field>

					    	<mat-form-field>
					        	<input matInput name="lastName" [(ngModel)]="lastName" placeholder="Apellido" required>
					    	</mat-form-field>

					    	<mat-form-field>
					        	<input matInput name="dni" [(ngModel)]="dni" placeholder="DNI" required>
					    	</mat-form-field>

					    	<mat-form-field>
			                  <mat-select name="dniType" [(ngModel)]="dniTypeSelected" placeholder="Seleccione un Tipo de Dni" required>
			                    <mat-option *ngFor="let dniType of dniTypes" [value]="dniType.id">{{ dniType.name }}</mat-option>
			                  </mat-select>
			                </mat-form-field>

			                <mat-form-field>
			                  <mat-select name="RoleId" [(ngModel)]="roleSelected" placeholder="Seleccione un Rol" required>
			                    <mat-option *ngFor="let role of roles" [value]="role.id">{{ role.name }}</mat-option>
			                  </mat-select>
			                </mat-form-field>

						</div>
					</div>
				</div>
				
				<div class="row">
					<div class="col-sm-12">
						<button mat-raised-button color="primary" class="mr-3" type="submit" [disabled]="!registerForm.form.valid">Registar</button>
					</div>
				</div>
			</form>
		</div>
	</div>
</div>