<mat-nav-list>
	<a mat-list-item [routerLink]="['/auth/dashboard']">Regresar </a>
	<a mat-list-item [routerLink]="['/auth/configurations/catalogue']">catalogue </a>
	<a mat-list-item [routerLink]="['/auth/configurations/catalogue-variety-detail']">catalogue-variety-detail </a>
	<a mat-list-item [routerLink]="['/auth/configurations/location']">location </a>
	<a mat-list-item [routerLink]="['/auth/configurations/parameter-client']">parameter-client </a>
	<a mat-list-item [routerLink]="['/auth/configurations/phone']">phone </a>
	<a mat-list-item [routerLink]="['/auth/configurations/role-function']">role-function </a>
	<a mat-list-item [routerLink]="['/auth/configurations/role-user']">role-user </a>
	<a mat-list-item [routerLink]="['/auth/configurations/service-detail']">service-detail </a>
	<a mat-list-item [routerLink]="['/auth/configurations/service-detail-activity']">service-detail-activity </a>
	<a mat-list-item [routerLink]="['/auth/configurations/service-detail-catalogue-variety-detail']">service-detail-catalogue-variety-detail </a>
	<a mat-list-item [routerLink]="['/auth/configurations/service-detail-politic']">service-detail-politic </a>
	<a mat-list-item [routerLink]="['/auth/configurations/service-detail-resource']">service-detail-resource </a>
	<a mat-list-item [routerLink]="['/auth/configurations/service-detail-skill']">service-detail-skill </a>
	<a mat-list-item [routerLink]="['/auth/configurations/skill-worker']">skill-worker </a>
</mat-nav-list>