<mat-nav-list>
	<a mat-list-item [routerLink]="['/auth/configurations/location']">Location </a>
	<a mat-list-item [routerLink]="['/auth/configurations/location']">Location </a>
	<a mat-list-item [routerLink]="['/auth/configurations/location']">Location </a>
	<a mat-list-item [routerLink]="['/auth/configurations/location']">Location </a>
	<a mat-list-item [routerLink]="['/auth/configurations/location']">Location </a>
	<a mat-list-item [routerLink]="['/auth/configurations/location']">Location </a>
</mat-nav-list>