	<h2 class="text-center">Configuraciones</h2>
	<button mat-raised-button color="primary" [routerLink]="['/auth/']">Volver</button>
	<hr>


	<mat-list-item role="listitem"><button mat-raised-button color="primary" class="mb-3" [routerLink]="['/auth/configurations/catalogue']">Catálogo</button></mat-list-item>
	<mat-list-item role="listitem"><button mat-raised-button color="primary" class="mb-3" [routerLink]="['/auth/configurations/catalogue-variety-detail']">Catálogo Variedad Detalle</button></mat-list-item>
	<mat-list-item role="listitem"><button mat-raised-button color="primary" class="mb-3" [routerLink]="['/auth/configurations/location']">Locación</button></mat-list-item>
	<mat-list-item role="listitem"><button mat-raised-button color="primary" class="mb-3" [routerLink]="['/auth/configurations/parameter-client']">Parámetros de Cliente</button></mat-list-item>
	<mat-list-item role="listitem"><button mat-raised-button color="primary" class="mb-3" [routerLink]="['/auth/configurations/phone']">Teléfono</button></mat-list-item>
	<mat-list-item role="listitem"><button mat-raised-button color="primary" class="mb-3" [routerLink]="['/auth/configurations/role-function']">Rol de Función</button></mat-list-item>
	<mat-list-item role="listitem"><button mat-raised-button color="primary" class="mb-3" [routerLink]="['/auth/configurations/role-user']">Rol de Usuario</button></mat-list-item>
	<mat-list-item role="listitem"><button mat-raised-button color="primary" class="mb-3" [routerLink]="['/auth/configurations/service-detail']">Detalle de Servicio</button></mat-list-item>
	<mat-list-item role="listitem"><button mat-raised-button color="primary" class="mb-3" [routerLink]="['/auth/configurations/service-detail-activity']">Detalle de Servicio Actividad</button></mat-list-item>
	<mat-list-item role="listitem"><button mat-raised-button color="primary" class="mb-3" [routerLink]="['/auth/configurations/service-detail-catalogue-variety-detail']">Detalle de Servicio por Catálogo y Detalle de Variedad</button></mat-list-item>
	<mat-list-item role="listitem"><button mat-raised-button color="primary" class="mb-3" [routerLink]="['/auth/configurations/service-detail-politic']">Detalle de Servicio Políticas</button></mat-list-item>
	<mat-list-item role="listitem"><button mat-raised-button color="primary" class="mb-3" [routerLink]="['/auth/configurations/service-detail-resource']">Detalle de Servicio Recursos</button></mat-list-item>
	<mat-list-item role="listitem"><button mat-raised-button color="primary" class="mb-3" [routerLink]="['/auth/configurations/service-detail-skill']">Detalle de Servicio Habilidades</button></mat-list-item>
	<mat-list-item role="listitem"><button mat-raised-button color="primary" class="mb-3" [routerLink]="['/auth/configurations/skill-worker']">Habilidades por Empleado</button></mat-list-item>

