<div class="main_dashboard">
	<div class="container">
		<div class="row">
			<div class="col-sm-12">
				<div class="row">
					<div class="col-sm-12">
						<h2 class="text-center">Seleccione un Modelo</h2>
					</div>
				</div>
				<div class="row">
					<div class="col-sm-12">
						<button mat-raised-button color="primary" [routerLink]="['/auth/client/catalog/variety']">Volver</button>
					</div>
				</div>
				<hr>

				<div class="row">
					<div class="col-md-4">
						<a [routerLink]="['/auth/client/request/sheet']">
							<mat-card class="servicio">
								<mat-card-header class="titulo mat-card-header-primary">
									<mat-card-title>Aire Acondicionado</mat-card-title>
								</mat-card-header>
								<mat-card-content class="mat_card_content">
									<div class="row">
										<div class="col-sm-5">
											<img src="../../../../../../../assets/img/catalogue/aire.png" alt="" class="card-img-top">
										</div>
										<div class="col-sm-7">
											<b>Modelo: </b>Split-2G
											<br>
											<b>Descripción: </b> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod.
										</div>
									</div>
								</mat-card-content>
							</mat-card>
						</a>
					</div>
					<div class="col-md-4">
						<a [routerLink]="['/auth/client/request/sheet']">
							<mat-card class="servicio">
								<mat-card-header class="titulo mat-card-header-primary">
									<mat-card-title>Aire Acondicionado</mat-card-title>
								</mat-card-header>
								<mat-card-content class="mat_card_content">
									<div class="row">
										<div class="col-sm-5">
											<img src="../../../../../../../assets/img/catalogue/aire.png" alt="" class="card-img-top">
										</div>
										<div class="col-sm-7">
											<b>Modelo: </b>Split-5G
											<br>
											<b>Descripción: </b> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod.
										</div>
									</div>
								</mat-card-content>
							</mat-card>
						</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>