<div class="container">
  <h2 class="text-center">Chat Salón</h2>
  <button mat-raised-button color="primary" [routerLink]="['/auth/admin/transactions/chat-room']">Volver</button>
  <hr>
  <mat-card>
    <mat-list>
      <mat-list-item> <b>Código: </b> 1</mat-list-item>
      <mat-list-item> <b>Nombre:</b>Chat 1</mat-list-item>
      <mat-list-item> <b>Estatus:<span class="badge badge-primary"> Activo</span></b></mat-list-item>
      <mat-list-item> <b>Icono:</b>	url1</mat-list-item>
    </mat-list>
  </mat-card>
</div>