  <br>
  <mat-list-item role="listitem">
    <button mat-raised-button color="primary" [routerLink]="['/auth/masters']">Configuración de Datos Básicos</button>
  </mat-list-item>
<br>
  <mat-list-item role="listitem">
    <button mat-raised-button color="primary" [routerLink]="['/auth/parameters']">Configuración de Parámetros</button>
  </mat-list-item>
<br>
  <mat-list-item role="listitem">
    <button mat-raised-button color="primary" [routerLink]="['/auth/configurations']">Configuraciones Generales</button>
  </mat-list-item>