<h2 class="text-center">Transacciones</h2>
<button mat-raised-button color="primary" [routerLink]="['/auth/admin/dashboard']">Volver</button>
<hr>

<mat-list-item role="listitem"><button mat-raised-button color="primary" class="mb-3" [routerLink]="['/auth/admin/transactions/calendar-worker']">Calendario Trabajador</button></mat-list-item>
<mat-list-item role="listitem"><button mat-raised-button color="primary" class="mb-3" [routerLink]="['/auth/admin/transactions/calification']">Calificación</button></mat-list-item>
<mat-list-item role="listitem"><button mat-raised-button color="primary" class="mb-3" [routerLink]="['/auth/admin/transactions/chat-room']">Chat Salón</button></mat-list-item>
<mat-list-item role="listitem"><button mat-raised-button color="primary" class="mb-3" [routerLink]="['/auth/admin/transactions/chat-room-user']">Chat Salón Usuario</button></mat-list-item>
<mat-list-item role="listitem"><button mat-raised-button color="primary" class="mb-3" [routerLink]="['/auth/admin/transactions/incidence']">Incidencia</button></mat-list-item>
<mat-list-item role="listitem"><button mat-raised-button color="primary" class="mb-3" [routerLink]="['/auth/admin/transactions/message']">Mensaje</button></mat-list-item>
<mat-list-item role="listitem"><button mat-raised-button color="primary" class="mb-3" [routerLink]="['/auth/admin/transactions/notification']">Notificación</button></mat-list-item>
<mat-list-item role="listitem"><button mat-raised-button color="primary" class="mb-3" [routerLink]="['/auth/admin/transactions/request']">Solicitud</button></mat-list-item>
<mat-list-item role="listitem"><button mat-raised-button color="primary" class="mb-3" [routerLink]="['/auth/admin/transactions/revision']">Revisión</button></mat-list-item>
<mat-list-item role="listitem"><button mat-raised-button color="primary" class="mb-3" [routerLink]="['/auth/admin/transactions/service-order']">Orden de Servicio</button></mat-list-item>
<mat-list-item role="listitem"><button mat-raised-button color="primary" class="mb-3" [routerLink]="['/auth/admin/transactions/service-order-detail']">Orden de Servicio Detalle</button></mat-list-item>