<div class="container">
    <h2 class="text-center">Detalle de Servicio</h2>
    <button mat-raised-button color="primary" [routerLink]="['/auth/configurations/service-detail']">Volver</button>
    <hr>
    <mat-card>
      <mat-list>
        <mat-list-item> <b>ID: </b> 1</mat-list-item>
          <mat-list-item> <b>Nombre:</b> Reparación de cocina</mat-list-item>
          <mat-list-item> <b>Componente:</b> Hornilla</mat-list-item>
          <mat-list-item> <b>Precio Estimado:</b> 20000bs</mat-list-item>
          <mat-list-item> <b>Nota:</b> Urgente</mat-list-item>
          <mat-list-item> <b>Tiempo Estimado:</b> 2 Dias</mat-list-item>
          <mat-list-item> <b>Equipo/Infraestructura:</b> Cocina</mat-list-item>
          <mat-list-item> <b>Catalogo:</b> Linea Blanca</mat-list-item>
          <mat-list-item> <b>Estatus:<span class="badge badge-primary"> Activo</span></b></mat-list-item>
      </mat-list>
    </mat-card>
  </div>