<div class="container">
	<h2 class="text-center">Rol de Función</h2>
	<button mat-raised-button color="primary" [routerLink]="['/auth/configurations/role-function']">Volver</button>
	<hr>
	<mat-card>
		<mat-list>
			<mat-list-item> <b>ID: </b> 1</mat-list-item>
		    <mat-list-item> <b>Nombre:</b> Masculino</mat-list-item>
		    <mat-list-item> <b>Descripción:</b> Género Masculino</mat-list-item>
		    <mat-list-item> <b>Estatus:<span class="badge badge-primary"> Activo</span></b></mat-list-item>
		</mat-list>
	</mat-card>
</div>