<div class="main_catalogue">
    <h2 class="text-center">Nuevo Empresa</h2>
    <button mat-raised-button color="primary" [routerLink]="['/auth/masters/company']">Volver</button>
    <hr>
  
    <div class="example-container">
      <mat-form-field>
        <input matInput placeholder="Nombre">
      </mat-form-field>
      
      <mat-form-field>
          <textarea matInput placeholder="Descripción"></textarea>
       </mat-form-field>

      <mat-form-field>
         <textarea matInput placeholder="Visión"></textarea>
      </mat-form-field>

      <mat-form-field>
         <textarea matInput placeholder="Misión"></textarea>
      </mat-form-field>	

      <mat-form-field>
         <textarea matInput placeholder="Objetivos"></textarea>
      </mat-form-field>	
  
    </div>
  
    <button mat-raised-button color="primary" [routerLink]="['/auth/masters/company/create']">Registrar</button>
  
  </div>