<p>
  service-detail-politics works!
</p>
<mat-nav-list>
	<a mat-list-item [routerLink]="['/auth/configurations/']">Regresar </a>
	<a mat-list-item [routerLink]="['/auth/configurations/service-detail-politic/create']">Create </a>
	<a mat-list-item [routerLink]="['/auth/configurations/service-detail-politic/edit/1']">Edit </a>
	<a mat-list-item [routerLink]="['/auth/configurations/service-detail-politic/show/1']">Show </a>
	<a mat-list-item [routerLink]="['/auth/configurations/service-detail-politic/delete/1']">Delete </a>
</mat-nav-list>