<div class="main_catalogue">
    <h2 class="text-center">Catálogo Variedad Detalle</h2>
    <button mat-raised-button color="primary" [routerLink]="['/auth/admin/configurations/catalog/catalogue-variety-detail']">Volver</button>
    <hr>
    <mat-card>
      <mat-list>
        <mat-list-item> <b>Codigo: </b> 1 </mat-list-item>
         <mat-list-item> <b>Catálogo: </b>Catálogo 1 </mat-list-item>
         <mat-list-item> <b>Variedad Detalle: </b>Modelo 1</mat-list-item>
         <mat-list-item> <b>Precio revisión: </b>100.000</mat-list-item>
         <mat-list-item> <b>Estatus: <span class="badge badge-primary"> Activo</span> </b> </mat-list-item>
        
      </mat-list>
    </mat-card>
  
  </div>