<div id="breadcrumbs-wrapper">
  <div class="container">
    <div class="row">
      <div class="col s12 m12 l12">
        <h5 class="breadcrumbs-title text-center">Empresa</h5>
        <div>
          <p>
            <a [routerLink]="['/company']" class="btn waves-effect waves-light blue">Regresar</a>
          </p>
        </div>
        <br>
      </div>
    </div>
  </div>
</div>

<ul class="collection with-header">
  <li class="collection-header"><h4>Siberian</h4></li>
  <li class="collection-item"><b>Codigo: </b>1</li>
  <li class="collection-item"><b>Nombre:</b> Pitijoc</li>
  <li class="collection-item"><b>Dirección:</b> Calle 23 con carrera 19</li>
  <li class="collection-item"><b>Misión: </b>Dejar como nuevo lo que quiera reparar o mantener</li>
  <li class="collection-item"><b>Visión: </b>Ser la empresa lider en reparación y mantenemiento</li>
  <li class="collection-item"><b>Valores: </b>Responsabilidad y Compromiso</li>
  <li class="collection-item"><b>Estatus</b> Activo</li>
</ul>
