
<div class="container">
    <h2 class="text-center">Empresa</h2>
    <button mat-raised-button color="primary" [routerLink]="['/auth/masters/company']">Volver</button>
    <hr>
    <mat-card>
      <mat-list>
        <mat-list-item> <b>Código: </b> 1</mat-list-item>
        <mat-list-item> <b>Nombre:</b> Se hace de todo</mat-list-item>
        <mat-list-item> <b>Descripción:</b>Reparación y mantenimiento a domicilio</mat-list-item>
        <mat-list-item> <b>Visión: </b> Visión</mat-list-item>
        <mat-list-item> <b>Misión: </b> Misión</mat-list-item>
        <mat-list-item> <b>Objetivos: </b> Objetivos</mat-list-item>
      </mat-list>
    </mat-card>
</div>