<div class="main_catalogue">
    <h2 class="text-center">Empresa</h2>
    <button mat-raised-button color="primary" [routerLink]="['/auth/masters/company']">Volver</button>
    <hr>
    <mat-card>
      <mat-list>
        <mat-list-item> <b>Código: </b> </mat-list-item>
        <mat-list-item> <b>Nombre: </b> </mat-list-item>
        <mat-list-item> <b>Descripción: </b></mat-list-item>
        <mat-list-item> <b>Visión: </b></mat-list-item>
        <mat-list-item> <b>Misión: </b> </mat-list-item>
        <mat-list-item> <b>Objetivos: </b> </mat-list-item>
      </mat-list>
    </mat-card>
  
  </div>